<md-content class="full-height adappt-watermark-image-dark" style="height:100vh">
    <div class="md-padding" layout="row" layout-align="center center">
        <div class="adappt-logo logo-lg"></div>
    </div>

    <div class="md-padding" layout="row" layout-align="center center">
        <md-card flex-gt-sm=40 flex-sm=60 flex-xs=80 class="transparent" md-whiteframe="8">
            <md-card-content class="padding-lg">
                <div class="text-center text-white">
                    <md-progress-circular ng-show="makingAjaxCall"></md-progress-circular>
                    <h1>Fill Building Details</h1>
                </div>
                <form type="post" name="buildingform" ng-submit="CreateBuildingdetails(building_details)">
                    <md-input-container class="md-block text-white">
                        <input required md-no-asterisk type="text" name="name" ng-model="building_details.name" placeholder="Name" />
                        <div ng-messages="buildingform.name.$error">
                            <div ng-message="required">Name is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block text-white">
                        <input md-no-asterisk type="text" name="logitude" ng-model="building_details.longitude" placeholder="Longitude" />
                        <div ng-messages="buildingform.longitude.$error">
                            <div ng-message="required">Longitude is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block text-white">
                        <input md-no-asterisk type="text" name="latitude" ng-model="building_details.latitude" placeholder="Latitude" />
                        <div ng-messages="buildingform.latitude.$error">
                            <div ng-message="required">Latitude is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block text-white">
                        <md-select required name="tz" ng-model="building_details.timezone" placeholder="Select TimeZone" class="darktheme" ng-change="selectedItemChange(building_details.timezone)">
                            <md-optgroup label="Time Zones">
                                <md-option ng-repeat="tz in timezonelist" value="{{tz}}">{{tz}}</md-option>
                            </md-optgroup>
                        </md-select>
                        <div ng-messages="buildingform.tz.$error">
                            <div ng-message="required">Please select TimeZone</div>
                        </div>

                    </md-input-container>
                    <md-input-container class="md-block text-white">
                        <input required md-no-asterisk type="number" name="nof" ng-model="building_details.nof" ng-minlength="1" placeholder="Number of floors"
                        />
                        <div ng-messages="buildingform.nof.$error">
                            <div ng-message="required">Number of Floors is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" layout="row" layout-align="center center" ng-if="continuetocommision!==true">
                        <div flex layout="column" layout-align="center stretch">
                            <md-button class="md-raised md-primary" type="submit">Save Building Details</md-button>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" layout="row" layout-align="center center" ng-if="continuetocommision===true">
                        <div flex layout="row" layout-align="stretch">
                            <div flex layout="column" layout-align="center stretch">
                                <md-button class="md-raised md-primary" ng-click="updateBuilding(buildingform)">Update</md-button>
                            </div>
                            <div flex layout="column" layout-align="center stretch">
                                <md-button class="md-raised md-primary" ng-click="continuetofloor()">Continue to Floor Configuration</md-button>
                            </div>
                        </div>
                    </md-input-container>

                    <!--  <div layout="row" flex ng-if="continuetocommision===true">
                        <div>
                            <md-button class="md-raised md-primary" ng-click="updateBuilding(buildingform)">Update</md-button>

                        </div>
                        <div>
                            <md-button class="md-raised md-primary" ng-click="continuetofloor()">Continue to Floor Configuration</md-button>

                        </div>
                    </div> -->

                    <md-input-container class="md-block" layout="row" layout-align="center center">
                        <div flex layout="column" layout-align="center stretch">
                            <md-button class="md-raised md-primary" ui-sref="commission.index">Cancel</md-button>
                        </div>
                    </md-input-container>
                </form>
            </md-card-content>
        </md-card>
    </div>
</md-content>