<div flex=50>
    <img src="img/light-bulb.png" class="dialogimage">
    <md-dialog aria-label="Autocomplete Dialog Example" class="md-padding" flex=100 style="background-color: rgb(43, 43, 43)">
        <div class="progress-container animate-show-hide" flex layout="row" layout-align="center center" ng-show="buttonclicked">
            <md-progress-circular md-diameter="75"></md-progress-circular>
        </div>
        <form name="lightform">
            <div layout="row" class="md-toolbar-tools">
                <h3 class="border-bottom dialogheader">Add Lights</h3>
            </div>
            <md-dialog-content class="md-dialog-content text-white" ng-cloak ng-if="lighttypes.length>0" style="overflow-y:scroll;max-height:450px">
                <div layout="row" layout-wrap layout-align="start center" ng-repeat="lighttype in lighttypes">
                    <div flex=40 flex-sm=100 flex-xs=100 flex-md=40 class="text-white">
                        <div layout="row" layout-wrap layout-align="start center">
                            <div flex=30 flex-sm=20 flex-xs=20 flex-md=20 class="text-white">
                                <div class="light {{lighttype.shape}}" style="position: inherit;" ng-if="lighttype.shape === selected.class && lighttype._id===selected.id"
                                    ng-style="lighttype.styobj"></div>
                                <div class="light {{lighttype.shape}}" style="position: inherit;" ng-if="lighttype.shape === selected.class && lighttype._id!==selected.id"></div>
                                <div class="light {{lighttype.shape}}" style="position: inherit;" ng-if="lighttype.shape !== selected.class"></div>
                            </div>
                            <div flex=20 flex-sm=20 flex-xs=20 flex-md=20 class="text-white">
                                <md-checkbox aria-label="Select Shapes" ng-model="lighttype.selected" style="margin-bottom:0px">

                                </md-checkbox>
                            </div>
                            <div flex=50 flex-sm=60 flex-xs=60 flex-md=60 class="text-white">
                                <md-input-container class="text-white" style="margin:0;width:90%;overflow-wrap: break-word;">
                                    {{lighttype.name}}
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <div flex=20 flex-sm=50 flex-xs=50 flex-md=50>
                        <md-input-container class="text-white" style="margin:0;width:90%;">
                            <input ng-required="lighttype.selected" type="number" ng-model="lighttype.nos" placeholder="No. of Lights" ng-disabled="!lighttype.selected"
                                style="border-bottom: solid;border-bottom-width: 0.1px;" min="0">
                        </md-input-container>
                    </div>
                    <div flex=20 flex-sm=50 flex-xs=50 flex-md=50>
                        <md-input-container class="text-white" style="margin:0;width:90%;">
                            <input type="number" name="width_{{$index}}" ng-model="lighttype.width" style="border-bottom: solid;border-bottom-width: 0.1px;"
                                ng-change="demolightshape(lighttype,lightform)" max="45" placeholder="Light Width" limit-to-max-light
                                ng-disabled="!lighttype.selected"  min="10">
                        </md-input-container>
                    </div>
                    <div flex=20 flex-sm=50 flex-xs=50 flex-md=50>
                        <md-input-container class="text-white" style="margin:0">
                            <input type="number" name="height_{{$index}}" ng-model="lighttype.height" style="border-bottom: solid;border-bottom-width: 0.1px;"
                                ng-change="demolightshape(lighttype,lightform)" max="45" placeholder="Light Height" limit-to-max-light
                                ng-disabled="!lighttype.selected" min="10">

                        </md-input-container>
                    </div>
                </div>
            </md-dialog-content>
            <md-dialog-content class="md-dialog-content text-white" ng-cloak layout-align="center center" ng-if="lighttypes.length<=0">
                <h3>Please Configure Light Types</h3>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button class="md-raised md-primary" ng-click="closeDialog()">Cancel</md-button>
                <md-button class="md-raised md-primary" ng-disabled="buttonclicked || lighttypes.length<=0" ng-click="creatlights(lighttypes,lightform)">Done</md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</div>