<div flex=25>
    <img src="img/hosts.png" class="dialogimage">
    <md-dialog aria-label="Autocomplete Dialog Example" class="md-padding" flex=100 style="background-color: rgb(43, 43, 43);overflow-y:scroll">
        <div class="progress-container animate-show-hide" flex layout="row" layout-align="center center" ng-show="buttonclicked">
            <md-progress-circular md-diameter="75"></md-progress-circular>
        </div>
        <form name="hostform">
            <div layout="row" class="md-toolbar-tools">

                <h3 class="border-bottom dialogheader">Add Host</h3>
            </div>
            <md-dialog-content class="md-dialog-content text-dark" ng-cloak>

                <md-input-container class="md-block text-white" style="margin:0px">
                    <input required md-no-asterisk type="text" name="name" ng-model="hostobj.name" placeholder="Name" />
                    <div ng-messages="hostform.name.$error">
                        <div ng-message="required">Name is required.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block text-white" style="margin:0px">
                    <input md-no-asterisk type="text" name="ip" ng-model="hostobj.ip" placeholder="IP Address" />
                    <!--div ng-messages="hostform.name.$error">
                        <div ng-message="required">Name is required.</div>
                    </div-->
                </md-input-container>
                <md-radio-group ng-model="hostobj.certificates">
                    <div layout="row" layout-wrap layout-align="start center" class="text-white" ng-repeat="h in certificates" ng-if="!h.flag">

                        <div flex=10 flex-sm=10 flex-xs=10 flex-md=10>
                            <md-radio-button flex ng-value="h" class="md-primary"> </md-radio-button>
                        </div>

                        <div flex=90 flex-sm=90 flex-xs=90 flex-md=90 class="md-padding">
                            <h4>
                                <b>Certificates</b> : {{h.crt}}</h4>
                            <h4>
                                <b>Public Keys</b> : {{h.pem}}</h4>
                            <h4>
                                <b>Private Keys</b> : {{h.ppk}}</h4>
                        </div>

                    </div>
                </md-radio-group>
                <md-input-container class="md-block text-white" ng-if="availablecerts.length<=0">


                    <div>No Certificates found for selected Building and Floor</div>

                </md-input-container>
            </md-dialog-content>

            <md-dialog-actions layout="row">

                <md-button class="md-raised md-primary" ng-click="closeDialog()">Cancel</md-button>

                <md-button class="md-raised md-primary" ng-disabled="buttonclicked" ng-click="creathost(hostobj,hostform)">Done</md-button>

            </md-dialog-actions>

        </form>
    </md-dialog>
</div>