<md-dialog aria-label="Seat Config" layout-padding>
    <h4>Fill Room details</h4>
    
    <md-content layout = "row" layout-align = "space-around center">  
        <md-input-container class="md-block popup" flex>
            <input required md-no-asterisk type="text" ng-model="roomobj.name" placeholder="Room name"/>
        </md-input-container>
        <md-input-container class="md-block popup" flex>
            <input required md-no-asterisk type="text" ng-model="roomobj.address" placeholder="Sensor Address"/>
        </md-input-container>
         <md-input-container class="md-block popup" flex>
            <input required md-no-asterisk type="number" ng-model="roomobj.capacity" placeholder="Room Capacity"/>
        </md-input-container>
        <md-input-container flex>
            <div flex layout = "column" layout-align = "center stretch">
                <md-button class="md-raised md-primary" ng-click = "SaveRoom(roomobj)">Save</md-button>
            </div>
        </md-input-container>
        
        <md-input-container flex>
            <md-button class="md-raised md-primary" ng-click = "done()">
                Cancel
            </md-button>
        </md-input-container>
    </md-content>
</md-dialog>