<md-dialog aria-label="Seat Config" layout-padding>
    <h4>Fill Seat details</h4>


    <md-content layout="row" layout-align="space-around center" ng-form="seatform">
       
        <md-input-container class="md-block popup" flex>
            <input required md-no-asterisk type="text" name="name" ng-model="seatobj.name" placeholder="Seat name" />

            <div ng-messages="seatform.name.$error">
                <div ng-message="required">Name is required.</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block popup" flex>
            <input required md-no-asterisk type="text" name="address" ng-model="seatobj.address"  placeholder="Sensor Address" />

            <div ng-messages="seatform.address.$error">
                <div ng-message="required">Address is required.</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block" flex style="margin-top:0px;padding-bottom:10px">
            <md-select required name="bu" placeholder="Select BU" class="md-padding" style="color:#000" ng-model="seatobj.buid">
                <md-optgroup label="Floors">
                    <md-option ng-value="bu.id" ng-repeat="bu in bulist">{{bu.name}}</md-option>
                </md-optgroup>
            </md-select>
        </md-input-container>
        <md-input-container flex>
            <div flex layout="column" layout-align="center stretch">
                <md-button class="md-raised md-primary" ng-click="SaveSeat(seatobj,seatform)">Save</md-button>
            </div>
        </md-input-container>

        <md-input-container flex>
            <md-button class="md-raised md-primary" ng-click="done()">
                Cancel
            </md-button>
        </md-input-container>
    </md-content>
</md-dialog>