<md-dialog aria-label="Autocomplete Dialog" >
    <div class="md-toolbar-tools border-bottom">
        <span>Enter details for Adding new User</span>
    </div>
    <md-dialog-content class="md-dialog-content" ng-cloak>
        <form name="dialogform">
            <span>Enter Login_id</span>
                <div flex>
                    <md-input-container class="md-block input_container" md-no-float>
                        <input required placeholder="Login ID" type="text"  ng-model="user.id"/>
                    </md-input-container>
                </div>
            <span>Enter FirstName</span>
                <div flex>
                    <md-input-container class="md-block input_container" md-no-float>
                        <input required placeholder="FirstName" type="text"  ng-model="user.fname"/>
                    </md-input-container>
                </div>
                <span>Enter LastName</span>
                <div flex>
                    <md-input-container class="md-block input_container" md-no-float>
                        <input required placeholder="LastName" type="text" ng-model="user.lname"/>
                    </md-input-container>
                </div>
            <span>Enter the email-id</span>
            <div flex>
                <md-input-container class="md-block input_container" md-no-float>
                    <input required placeholder="Email-id" type="email" name="user.email" ng-model="user.email"
                           minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

                    <div ng-messages="dialogform.email.$error" role="alert">
                      <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Please enter a valid email id.
                      </div>
                    </div>
                </md-input-container>
            </div>
            <md-radio-group layout='row' ng-model="user.isAdmin">
                <md-radio-button  value=true class="md-primary">Admin</md-radio-button> 
                <md-radio-button  value=false class="md-primary">User</md-radio-button>     
            </md-radio-group>

        </form>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-primary md-raised" ng-click="addUser()">Create</md-button>
        <md-button class="md-primary md-raised" ng-click="canceladmin()">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>