<section layout="row" class="full-height" ng-class="blur_content" flex>   
    <md-content layout="column" layout-fill>
        <%- include("../includes/toolbar")%>
        <md-content layout="column" class="adappt-watermark-image-dark" flex>
            <div layout="row" layout-wrap>
               <div flex="10" hide-sm hide-xs hide-md layout="row" layout-align="center stretch">
                    <md-card layout='row' layout-align="center center" class="transparent" flex="100">
                        <div flex="100" layout="row" layout-align="center center">
                            <md-button ui-sref="analytics({bldgId: building})" class="md-primary md-raised back_btn">
                                <i class="fa fa fa-chevron-left back_icon"></i>
                                <span class="back_text">Back</span>
                            </md-button>
                        </div>
                    </md-card>
                </div>
                <div layout="row" flex="80" flex-sm = "100" flex-xs = "100" flex-md="100" layout-wrap layout-align = "center center">
                    <div flex="25" flex-sm="50" flex-xs="100" flex-md="50" layout="row" layout-align="center center">
                        <md-card layout='row' class="transparent" flex>
                            <div flex="20" layout="row" layout-align="center center">
                            <md-icon class="floorwise-logo" md-whiteframe="3" md-svg-src = '../img/noun_51470_cc.svg' md-svg-class=""></md-icon>
                            </div>
                            <div flex="80"  class="card-container">
                                <md-select ng-model="selectedFloor"  placeholder="Floor Selection"  md-container-class="container_1" class="darktheme" ng-change="setBus(selectedFloor)">
                                    <md-option ng-repeat ="floor in floors" ng-value="{{floor}}">{{floor.name}}</md-option>
                                </md-select>
                            </div>
                        </md-card>
                    </div>
                    <div flex="25" flex-sm="50" flex-xs="100" flex-md="50" layout="row" layout-align="center center">
                        <md-card layout='row' class="transparent" flex>
                            <div flex="20" layout="row" layout-align="center center">
                                <i class="material-icons floorwise-logo" md-whiteframe="3" >&#xE0AF;</i>
                            </div>
                            <div flex="80"  class="card-container">
                                <md-select ng-model="selectedBu" placeholder="Business Unit Selection" class="darktheme" ng-change="set(selectedBu)">
                                    <md-optgroup label="Business Units" >
                                        <md-option ng-repeat="bu in bus" value="{{bu}}" >{{bu.name}}</md-option>
                                    </md-optgroup>
                                </md-select>     
                            </div>
                        </md-card>
                    </div>
                    <div flex="25" flex-sm="50" flex-xs="100" flex-md="50" layout="row" layout-align="center center">
                        <md-card layout='row' class="transparent" flex>
                            <div flex="20" layout="row" layout-align="center center">
                                <i class="material-icons floorwise-logo" md-whiteframe="3" aria-hidden="true">date_range</i>
                            </div>
                            <div flex="80" class="card-container darktheme">
                                <md-date-range
                                 ng-model="advance_layout_date_range"
                                 placeholder="Select Date Range" 
                                 aria-invalid="false" 
                                 dateselected = "advance_ok(startDate,endDate)"
                                 >
                                </md-date-range> 
                            </div>
                        </md-card>
                    </div>
                    <div flex="25"flex-sm="50" flex-xs="100" flex-md="50" layout="row" layout-align="center center">
                     <md-card layout='row' class="transparent" flex>
                            <div flex="20" layout="row" layout-align="center center">
                                <i class="material-icons floorwise-logo" md-whiteframe="3" >settings</i>
                            </div>
                            <div flex="80"  class="card-container" ng-click="selclicked()">
                                <md-select ng-model="maxhours" md-container-class="my-container" placeholder="Settings" class="darktheme my-md-select" ng-change="" ng-init="broadcast()">
                                <div class="padding-margin">
                                    <rzslider  rz-slider-model="Category.min" rz-slider-high="Category.max" rz-slider-options="Category.options"></rzslider>
                                </div>    
                                 </md-select>
                            </div>
                        </md-card>
                        
                    </div>
                </div>
                 <div flex="10" hide-sm hide-xs hide-md layout="row" layout-align="center stretch">
                    <md-card layout='row' layout-align="center center" class="transparent" flex="100">
                        <div flex="100" layout="row" layout-align="center center">
                            <md-button class="md-primary md-raised back_btn">
                                <i class="fa fa fa-print back_icon"></i>
                                <span class="back_text">Print</span>
                            </md-button>
                        </div>
                    </md-card>
                </div>
            </div>
            <div layout="column" flex>
                <md-card layout="column" class="dark-theme" flex>
                    <div layout="row">
                        <div flex="85" layout="row" layout-align="center center">
                            <span  ng-repeat="category in categories" class="text-white" >
                                <div class="block-legend" ng-class="category.class" ></div> 
                                <span class="padding-legend" ng-click="categoryClass[category.class] = !categoryClass[category.class]">{{category.class}}</span>
                                <span>{{seatClass}}</span>
                            </span>
                        </div>
                        <div flex="15" class="margin-top-date" layout="row" layout-align="center center">
                            <span class="text-white">From {{startDay}} to {{endDay}}</span>
                        </div>   
                    </div>

                    <md-content class="tab-content-container "  ng-class="{blurrred: loadingFloorData}">
                        <div class="floor-layout-dark" style="background:url('/img/{{selectedFloor.layout}}') no-repeat center center; background-size: contain; width: {{selectedFloor.width}}px; height: {{selectedFloor.height}}px;">
                            <div>
                                <heat-map data="passed_data"></heat-map>
                            </div>   
                        </div>  
                    <md-content>
                </md-card>
            </div>
        </md-content>
    </md-content>
</section>