<section layout="row" class="full-height" ng-cloak ng-class="{'blurred':blur_content}" flex>
    <md-content layout="column" layout-fill>
        <%- include("../includes/toolbar")%>
            <md-content class="adappt-watermark-image-dark main-content" flex>
                <div layout="row" layout-wrap>
                    <div flex="8" hide-sm hide-xs hide-md layout="row" layout-align="center stretch">
                        <md-card layout='row' layout-align="center center" class="transparent" flex="100">
                            <div flex="100" layout="row" layout-align="center center">
                                <md-button ui-sref="index.seatDashboard" class="md-primary md-raised back_btn">
                                    <i class="fa fa fa-chevron-left back_icon"></i>
                                    <span class="back_text">Back</span>
                                </md-button>
                            </div>
                        </md-card>
                    </div>
                    <div layout="row" layout-align="center center" flex layout-wrap>
                        <div flex="33" flex-sm="50" flex-xs="100" flex-md="50" layout="row" layout-align="center center">
                            <md-card class="transparent card_padding_gen_rep" flex>
                                <div flex="100" layout="row" layout-align="center center">
                                    <md-button ng-click="showDialogue()" class="md-primary md-raised back_btn gen_rep_btn">
                                        <i class="fa fa fa-download back_icon"></i>
                                        <span class="back_text">GENERATE REPORT</span>
                                    </md-button>
                                </div>
                            </md-card>
                        </div>
                        <div flex="33" flex-sm="50" flex-xs="100" flex-md="50" layout="row" layout-align="center center">
                            <md-card layout='row' class="transparent card_padding" flex>
                                <div flex="20" layout="row" layout-align="center center">
                                    <i class="material-icons floorwise-logo" md-whiteframe="3">notifications</i>
                                </div>
                                <div flex="80" class="text-center">
                                    <div>
                                        <h5 class="card-h5">NOTE: The data is refreshed every 6 minutes.</h5>
                                        <span>Please refresh for latest data</span>
                                    </div>
                                </div>
                            </md-card>
                        </div>
                        <div flex="33" flex-sm="50" flex-xs="100" flex-md="50" layout="row" layout-align="center center">
                            <md-card layout='row' class="adappt-clock-card card_padding" flex>
                                <div flex="20" layout="row" layout-align="center center" class="border-right">
                                    <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
                                </div>
                                <div flex="80" class="text-center">
                                    <div>
                                        <h5 class="card-h5">Last Refreshed On:</h5>
                                        <span>{{timedata}}</span>
                                    </div>
                                </div>
                            </md-card>
                        </div>
                    </div>
                </div>
                <div layout="column" flex>
                    <div layout="row" layout-wrap>
                        <md-card layout="row" class="transparent" layout-wrap style="width:100%">
                            <div class="progress-container animate-show-hide" flex layout="row" layout-align="center center" ng-show="loadingHourlyOccupancyChart">
                                <md-progress-circular md-diameter="75"></md-progress-circular>
                            </div>
                            <div flex-gt-md="70" flex="100" class="border-right border-bottom">
                                <md-card-header class="banner">
                                    <i class="material-icons">event_seat</i>
                                    <span class="banner-text">SEAT ALLOCATION PATTERN</span>
                                    <div flex class="btn_container">
                                        <md-button class="md-icon-button medium-icon-btn help_btn_icon" ng-click="graphDetails('Hourly_occupancy.png')">
                                            <md-icon class="material-icons md-icon-button help_btn">info_outline
                                                <md-tooltip md-direction="bottom" class="md-block md-tooltip md-tooltip-bottom">More Details</md-tooltip>
                                            </md-icon>
                                        </md-button>
                                    </div>
                                </md-card-header>
                                <seat-bargraph id="barchart" data="barChartData"></seat-bargraph>
                            </div>
                            <div flex-gt-md="30" flex="100" layout="column" class="adappt-color-border">
                                <div flex="33" layout="row">
                                    <div flex="33" class="border-bottom border-right" layout="column" layout-align="center center">
                                        <i class="material-icons">group_work</i>
                                        <span> Total Seats </span>
                                        <span class="big-text"> 300 </span>
                                    </div>
                                    <div flex="33" class="border-bottom border-right" layout="column" layout-align="center center">
                                        <i class="material-icons">airline_seat_recline_normal</i>
                                        <span> Seats Alloted </span>
                                        <span class="big-text"> 150 </span>
                                    </div>
                                    <div flex="33" class="border-bottom border-right" layout="column" layout-align="center center">
                                        <i class="material-icons">event_seat</i>
                                        <span> Seats Unalloted </span>
                                        <span class="big-text"> 150 </span>
                                    </div>
                                </div>
                                <div flex="33" layout="row">
                                    <div flex="33" class="border-bottom border-right" layout="column" layout-align="center center">
                                        <i class="material-icons">compare_arrows</i>
                                        <span> Average Allocation </span>
                                        <span class="big-text"> 150 </span>
                                    </div>
                                    <div flex="33" class="border-bottom border-right" layout="column" layout-align="center center">
                                        <i class="material-icons">arrow_upward</i>
                                        <span> Maximum Allocation </span>
                                        <span class="big-text"> 150 </span>
                                    </div>
                                    <div flex="33" class="border-bottom border-right" layout="column" layout-align="center center">
                                        <i class="material-icons">arrow_downward</i>
                                        <span> Minimum Allocation </span>
                                        <span class="big-text"> 150 </span>
                                    </div>
                                </div>
                                <div flex="33" layout="row">
                                    <div flex="33" class="border-bottom border-right" layout="column" layout-align="center center">
                                        <i class="material-icons">domain</i>
                                        <span>Building Cost</span>
                                        <span class="big-text"> $150 </span>
                                    </div>
                                    <div flex="33" class="border-bottom border-right" layout="column" layout-align="center center">
                                        <md-icon md-svg-src='../img/noun_51470_cc.svg' class="floor_logo"></md-icon>
                                        <span>Floor Cost</span>
                                        <span class="big-text "> $50 </span>
                                    </div>
                                    <div flex="33 " class="border-bottom border-right " layout="column " layout-align="center center ">
                                        <i class="material-icons ">monetization_on</i>
                                        <span>Total Cost</span>
                                        <span class="big-text "> $200 </span>
                                    </div>
                                </div>
                            </div>
                        </md-card>
                        <md-card layout="row" class="transparent" layout-wrap style="width:100%;">
                            <div class=" progress-container animate-show-hide " flex layout="row " layout-align="center center " ng-show="loadingHourlyOccupancyChart ">
                                <md-progress-circular md-diameter="75 "></md-progress-circular>
                            </div>
                            <div flex-gt-md="70 " flex="100 " class="border-right border-bottom ">
                                <md-card-header class="banner ">
                                    <i class="material-icons ">event_seat</i>
                                    <span class="banner-text ">SEAT ALLOCATION PATTERN</span>
                                    <div flex class="btn_container ">
                                        <md-button class="md-icon-button medium-icon-btn help_btn_icon " ng-click="graphDetails( 'Hourly_occupancy.png') ">
                                            <md-icon class="material-icons md-icon-button help_btn ">info_outline
                                                <md-tooltip md-direction="bottom " class="md-block md-tooltip md-tooltip-bottom ">More Details</md-tooltip>
                                            </md-icon>
                                        </md-button>
                                    </div>
                                </md-card-header>
                                <div layout="column " layout-align="center center">
                                    <div layout="row" layout-align="center center" style="width:100%">
                                        <span flex=" 5 ">Level 1</span>
                                        <md-button flex="3" class="md-icon-button medium-icon-btn help_btn_icon " ng-click="level1=!level1">
                                            <md-icon class="material-icons md-icon-button help_btn before_rotate" ng-class="{rotate:level1}">play_arrow
                                                <md-tooltip md-direction="bottom " class="md-block md-tooltip md-tooltip-bottom ">Seat Assignment</md-tooltip>
                                            </md-icon>
                                        </md-button>
                                        <div flex="90 " layout="row" class="padding">
                                            <div style="width: 10%" class="allocation_bar_white"></div>
                                            <div style="width: 30%" class="allocation_bar_adappt"></div>
                                            <div style="width: 20%" class="allocation_bar_red"></div>
                                            <div style="width: 25%" class="allocation_bar_safron"></div>
                                            <div style="width: 5%" class="allocation_bar_green"></div>
                                            <div style="width: 10%" class="allocation_bar_unalloted"></div>
                                        </div>
                                    </div>
                                    <div ng-show="level1" class="padding" layout="row" layout-ailgn="center cneter">
                                        <img src="./img/1A101.png " height="450px " width="800px " />
                                    </div>

                                    <div layout="row" layout-align="center center" style="width:100%">
                                        <span flex=" 5 ">Level 2</span>
                                        <md-button flex="3 " class="md-icon-button medium-icon-btn help_btn_icon " ng-click="level2trial()">
                                            <md-icon class="material-icons md-icon-button help_btn before_rotate" ng-class="{rotate:level2}">play_arrow
                                                <md-tooltip md-direction="bottom " class="md-block md-tooltip md-tooltip-bottom ">Seat Assignment</md-tooltip>
                                            </md-icon>
                                        </md-button>
                                        <div flex="90 " layout="row" class="padding">
                                            <div style="width: 30%" class="allocation_bar_adappt"></div>
                                            <div style="width: 10%" class="allocation_bar_white"></div>
                                            <div style="width: 20%" class="allocation_bar_safron"></div>
                                            <div style="width: 35%" class="allocation_bar_red"></div>
                                            <div style="width: 5%" class="allocation_bar_green"></div>
                                            <div style="width: 10%" class="allocation_bar_unalloted"></div>
                                        </div>
                                    </div>
                                    <div ng-show="level2" class="padding" layout="row" layout-ailgn="center cneter">
                                        <img src="./img/7A101.png " height="450px " width="800px " />
                                    </div>

                                    <div layout="row" layout-align="center center" style="width:100%">
                                        <span flex=" 5 ">Level 3</span>
                                        <md-button flex="3 " class="md-icon-button medium-icon-btn help_btn_icon " ng-click="level3=!level3">
                                            <md-icon class="material-icons md-icon-button help_btn before_rotate" ng-class="{rotate:level3}">play_arrow
                                                <md-tooltip md-direction="bottom " class="md-block md-tooltip md-tooltip-bottom ">Seat Assignment</md-tooltip>
                                            </md-icon>
                                        </md-button>
                                        <div flex="90 " layout="row" class="padding">
                                            <div style="width: 10%" class="allocation_bar_red"></div>
                                            <div style="width: 30%" class="allocation_bar_green"></div>
                                            <div style="width: 20%" class="allocation_bar_adappt"></div>
                                            <div style="width: 25%" class="allocation_bar_white"></div>
                                            <div style="width: 5%" class="allocation_bar_safron"></div>
                                            <div style="width: 10%" class="allocation_bar_unalloted"></div>
                                        </div>
                                    </div>
                                    <div ng-show="level3" class="padding " layout="row" layout-ailgn="center cneter">
                                        <img src="./img/8A101.png" height="450px " width="800px " />
                                    </div>
                                </div>
                            </div>
                            <div flex-gt-md="30 " flex="100 " layout="column " class="adappt-color-border ">
                                <h4 class="text-center border-bottom padding"> Cost Calculation and Area Availabillity </h4>
                                <ul ng-show="!level1 && !level2 && !level3">
                                    <li> Total Sqaure feet in the facility : 5000sqft</li>
                                    <li> Open area available in the facility :3000/5000sqft
                                    </li>
                                    <li> Seating area in the facility :2000/5000sqft
                                    </li>
                                </ul>

                                <div ng-show="level1" layout="column " flex>
                                    <div flex="10" layout="row " layout-align="center center ">
                                        <md-icon md-svg-src='../img/noun_51470_cc.svg' class="floor_logo "></md-icon>
                                        <h4> Floor 1</h4>
                                    </div>
                                    <div flex="35 " class="padding ">
                                        <h4 class="underline-text-white "> Area Calculations</h4>
                                        <ul>
                                            <li>Total Square feet: 1000sqft</li>
                                            <li>Total Seats: 20 each occupying 10 sqft</li>
                                            <li>Open Area = 1000 - 20*10 = 800sqft &nbsp;(Total area - Area occupied by seats)</li>
                                            <li>Seating Area = 20*10 = 200sqft &nbsp;(Number of seats * Area of each seats)</li>
                                        </ul>
                                    </div>
                                    <div flex class="padding " layout="column ">
                                        <h4 class="underline-text-white "> Cost Analytics</h4>
                                        <ul>
                                            <li> If cost /sqft = 10 Rs/sqft</li>
                                            <li> Open area cost = 800 * 10 = 8000 Rs,</li>
                                            <span> where 800 is area & 10 is the cost per sqft</span>
                                            <li> Seating Cost = 200 * 10 = 2000 Rs,</li>
                                            <span> where 200 is area & 10 is the cost per sqft</span>

                                            <li>Cost / seat based on Occupancy = Seating cost/ Occupied seats</li>
                                            <span>For example, 2000/5 = 400 Rs/seat,</span>
                                            <span> suppose only five seats are  occupied</span>
                                        </ul>
                                    </div>
                                </div>
                                <div ng-show="level2" layout="column" layout-align="center center " flex>
                                    <div flex="5 " layout="row " layout-align="center center ">
                                        <md-icon md-svg-src='../img/noun_51470_cc.svg' class="floor_logo "></md-icon>
                                        <h4> Floor 2</h4>
                                    </div>
                                    <div flex="45 " class="padding ">
                                        <h4 class="underline-text-white "> Area Calculations</h4>
                                        <span>Total Area in Sqft : <span class="big-text">1000</span>sqft</span>
                                        <donut-chart id="donutChart " title="Area Chart" data="donutChartData"></donut-chart>
                                    </div>
                                    <div flex="50 " class="padding ">
                                        <h4 class="underline-text-white "> Cost Analytics</h4>
                                        <ul>
                                            <li>Total Cost: <span class="big-text">10000 </span>Rs</li>
                                            <li>Cost/sqft : <span class="big-text">1000</span> Rs/sqft</li>
                                        </ul>
                                        <donut-chart id="donutChartCost " title="Cost Calculations" data="donutChartCostData"></donut-chart>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </md-card>
                </div>
                </div>
                </div>
            </md-content>
    </md-content>
</section>