<section layout="row" class="full-height" ng-cloak ng-class="{'blurred':blur_content}" flex>
    <md-content layout="column" layout-fill>
        <%- include("../includes/toolbar")%>
            <md-content class="adappt-watermark-image-dark main-content" flex>
                <div layout="row" layout-wrap>
                    <div flex="8" hide-sm hide-xs hide-md layout="row" layout-align="center stretch">
                        <md-card layout='row' layout-align="center center" class="transparent" flex="100">
                            <div flex="100" layout="row" layout-align="center center">
                                <md-button ui-sref="index.dashboard" class="md-primary md-raised back_btn">
                                    <i class="fa fa fa-chevron-left back_icon"></i>
                                    <span class="back_text">Back</span>
                                </md-button>
                            </div>
                        </md-card>
                    </div>
                    <div layout="row" layout-align="center center" flex layout-wrap>
                        <div flex="33" flex-sm="50" flex-xs="100" flex-md="50" layout="row" layout-align="center center">
                            <md-card class="transparent card_padding_gen_rep" flex>
                                <div flex="100" layout="row" layout-align="center center">
                                    <md-button ng-click="showDialogue()" class="md-primary md-raised back_btn gen_rep_btn">
                                        <i class="fa fa fa-download back_icon"></i>
                                        <span class="back_text">GENERATE REPORT</span>
                                    </md-button>
                                </div>
                            </md-card>
                        </div>
                        <div flex="33" flex-sm="50" flex-xs="100" flex-md="50" layout="row" layout-align="center center">
                            <md-card layout='row' class="transparent card_padding" flex>
                                <div flex="20" layout="row" layout-align="center center">
                                    <i class="material-icons floorwise-logo" md-whiteframe="3">notifications</i>
                                </div>
                                <div flex="80" class="text-center">
                                    <div>
                                        <h5 class="card-h5">NOTE: The data is refreshed every 6minutes.</h5>
                                        <span>Please refresh for latest data</span>
                                    </div>
                                </div>
                            </md-card>
                        </div>
                        <div flex="33" flex-sm="50" flex-xs="100" flex-md="50" layout="row" layout-align="center center">
                            <md-card layout='row' class="adappt-clock-card card_padding" flex>
                                <div flex="20" layout="row" layout-align="center center" class="border-right">
                                    <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
                                </div>
                                <div flex="80" class="text-center">
                                    <div>
                                        <h5 class="card-h5">Last Refreshed On:</h5>
                                        <span>{{timedata}}</span>
                                    </div>
                                </div>
                            </md-card>
                        </div>
                    </div>
                </div>
                <div layout="column" flex>
                    <div layout="row" layout-wrap>
                        <div flex-gt-md="50" flex="100">
                            <md-card class="transparent">
                                <md-card-header class="banner">
                                    <i class="material-icons">domain</i>
                                    <span class="banner-text">FULL BUILDING STATISTICS</span>
                                    <div flex class="btn_container">
                                        <md-button class="md-icon-button medium-icon-btn help_btn_icon" ng-click="graphDetails('Floor_count.png')">
                                            <md-icon class="material-icons md-icon-button help_btn">info_outline
                                                <md-tooltip md-direction="bottom" class="md-block md-tooltip md-tooltip-bottom">More Details</md-tooltip>
                                            </md-icon>
                                        </md-button>
                                    </div>
                                </md-card-header>
                                <div layout="column" class="border-bottom">
                                    <div layout="row" layout-align="center center" class="chart-container">
                                        <div layout="row" layout-align="center center" flex="60">
                                            <div class="floor-padding">
                                                <div ng-repeat="floor in floors">
                                                    <div layout="row" layout-align="center center" class="rombus floorAnimation{{$index+1}}">{{floor.alias}}</div>
                                                    <!-- <div layout="row" layout-align="center center" class="progress_div">
                                                    <div class="progress_bar"> 
                                                        <div ng-style="{'width': ((floor.filled/floor.total)*100)+'%'}">
                                                        </div>
                                                        {{floor.name}}
                                                    </div>
                                                 </div> -->
                                                    <div class="arrow"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div flex="40" class="occ_text_container">
                                            <div class="occ_text" ng-repeat="floor in floors">
                                                <span class="big-text">{{floor.filled}}</span>
                                                <span> /{{floor.total}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div layout="row" layout-wrap>
                                    <div flex="50" flex-sm="100" flex-xs="100" layout="row" layout-align="center center" class="border-right border-bottom">
                                        <div flex="15" class="device-card-small-padding">
                                            <div class="rombus-small"></div>
                                        </div>
                                        <div flex="30" class="device-card-small-padding">
                                            <h5> Minimum Occupancy:</h5>
                                        </div>
                                        <div flex="20">
                                            <h5>{{minData.alias}}</h5>
                                        </div>
                                        <div flex="35">
                                            <span class="big-text">{{minData.filled}}</span><span> /{{minData.total}}</span><span>[{{minData.percentFilled}}%]</span>
                                        </div>
                                    </div>
                                    <div flex="50" flex-sm="100" flex-xs="100" layout="row" layout-align="center center" class="border-bottom border-right">
                                        <div flex="15" class="device-card-small-padding">
                                            <div class="rombus-small"></div>
                                        </div>
                                        <div flex="30" class="device-card-small-padding">
                                            <h5> Maximum Occupancy:</h5>
                                        </div>
                                        <div flex="20">
                                            <h5>{{maxData.alias}}</h5>
                                        </div>
                                        <div flex="35">
                                            <span class="big-text">{{maxData.filled}}</span><span> /{{maxData.total}}</span><span>[{{maxData.percentFilled}}%]</span>
                                        </div>
                                    </div>
                                </div>

                                <div layout="row" layout-align="center center" class=" border-right border-bottom note-card-padding" layout-wrap>
                                    <div flex="15">
                                        <i class="material-icons floorwise-logo" md-whiteframe="3">notifications</i>
                                    </div>
                                    <div flex="85">
                                        <h5 class="card-h5">NOTE: The above data is collected every 6 minutes.</h5>
                                        <span>Any sensor capturing movement for more than 30s is reflected</span>
                                    </div>
                                </div>

                            </md-card>
                        </div>
                        <div flex-gt-md="50" flex="100">
                            <md-card class="transparent">
                                <md-card-header class="banner">
                                    <i class="material-icons">group</i>
                                    <span class="banner-text">OCCUPANCY PATTERN</span>
                                    <div flex class="btn_container">
                                        <md-button class="md-icon-button medium-icon-btn help_btn_icon" ng-click="graphDetails('Occupancy_pattern.png')">
                                            <md-icon class="material-icons md-icon-button help_btn">info_outline
                                                <md-tooltip md-direction="bottom" class="md-block md-tooltip md-tooltip-bottom">More Details</md-tooltip>
                                            </md-icon>
                                        </md-button>
                                    </div>
                                </md-card-header>
                                <div class="progress-container animate-show-hide" flex layout="row" layout-align="center center" ng-show="loadingOccupancyChart">
                                    <md-progress-circular md-diameter="75"></md-progress-circular>
                                </div>
                                <div class="chart-container border-bottom">
                                    <line-chart id="occupancy" data="occupancychart_data" height="320"></line-chart>
                                    <div layout="row" class="occ_radio">
                                        <div flex="40" flex-xs="0" layout="row" layout-align="start start" class="padding-left">
                                            <md-radio-group ng-model="pattern" hide-xs class="md-primary radio_gp" ng-change="changepattern()">
                                                <md-radio-button value="percent" class="radion_btn">Percentage</md-radio-button>
                                                <md-radio-button value="actualdata" class="radion_btn">Actual Data</md-radio-button>
                                            </md-radio-group>
                                        </div>
                                        <div flex="60" flex-xs="100" layout="row" layout-align="end end">
                                            <md-checkbox ng-model="selectallocc" ng-change="select_all_occ()" class="md-primary selectall" ng-checked="true">Select All</md-checkbox>
                                            <md-radio-group ng-model="timeslot" class="md-primary radio_gp">
                                                <md-radio-button value="month" class="radion_btn" checked ng-click="getMonthdata()">Monthly</md-radio-button>
                                                <md-radio-button value="week" class="radion_btn" ng-click="getWeekData()">Weekly</md-radio-button>
                                                <md-radio-button value="custom" class="radion_btn">Custom</md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>
                                </div>
                                <div layout="row" layout-wrap>
                                    <div flex="50" flex-sm="100" flex-xs="100" layout="row" layout-align="center center" class="border-right border-bottom">
                                        <div flex="15" class="text-center">
                                            <i class="material-icons gp_icon">group</i>
                                        </div>
                                        <div flex="30" class="device-card-small-padding">
                                            <h5>Average Occupancy:</h5>

                                        </div>
                                        <div flex="55">
                                            <span class="big-text">{{totalBuildingAverage}}</span>
                                            <span> / {{totalBuildingSeats}}</span>
                                            <span>[{{averagepercentage}}%]</span>
                                        </div>
                                    </div>
                                    <div flex="50" flex-sm="100" flex-xs="100" class="border-bottom border-right">
                                        <div layout-gt-md="column" layout-align="center stretch" class="dt_picker_container" flex-gt-md="33" flex="100" ng-class="{dt_picker_visible:timeslot=='custom'}">
                                            <md-card layout='row' class="transparent">
                                                <div flex="20" layout="row" layout-align="center center">
                                                    <i class="material-icons floorwise-logo" md-whiteframe="3" aria-hidden="true">date_range</i>
                                                </div>
                                                <div flex="80" class="card-container darktheme">
                                                    <md-date-range ng-model="occupancy_pattern_date_Range" placeholder="Select Date Range" aria-invalid="false" ng-disabled="timeslot!='custom'" dateselected="occupancy_ok(startDate,endDate)">
                                                    </md-date-range>
                                                </div>
                                            </md-card>
                                            <!-- <button ng-click="daterange()">Click</button> -->
                                        </div>
                                    </div>
                                </div>
                                <div layout="row" layout-wrap>
                                    <div flex="50" flex-sm="100" flex-xs="100" layout="row" layout-align="center center" class="border-right border-bottom">
                                        <div flex="15" class="device-card-small-padding">
                                            <i class="material-icons floorwise-logo" md-whiteframe="3" aria-hidden="true">date_range</i>
                                        </div>
                                        <div flex "30" class="device-card-small-padding">
                                            <h5> Minimum Occupancy:</h5>
                                        </div>
                                        <div flex="25">
                                            <h5>On: {{occupancychart_data.minBuildingOccupancyTime}}</h5>
                                        </div>
                                        <div flex="30">
                                            <span class="big-text">{{occupancychart_data.minBuildingOccupancy}}</span><span> /{{totalBuildingSeats}}</span><span>[{{occupancychart_data.minBuildingOccupancyPercent}}%]</span>
                                        </div>
                                    </div>
                                    <div flex="50" flex-sm="100" flex-xs="100" layout="row" layout-align="center center" class="border-right border-bottom">
                                        <div flex="15" class="device-card-small-padding">
                                            <i class="material-icons floorwise-logo" md-whiteframe="3" aria-hidden="true">date_range</i>
                                        </div>
                                        <div flex "30" class="device-card-small-padding">
                                            <h5> Maximum Occupancy:</h5>
                                        </div>
                                        <div flex="25">
                                            <h5>On: {{occupancychart_data.maxBuildingOccupancyTime}}</h5>
                                        </div>
                                        <div flex="30">
                                            <span class="big-text">{{occupancychart_data.maxBuildingOccupancy}}</span><span> /{{totalBuildingSeats}}</span><span>[{{occupancychart_data.maxBuildingOccupancyPercent}}%]</span>
                                        </div>
                                    </div>
                                </div>
                            </md-card>
                        </div>
                    </div>
                    <div layout="column" layout-wrap>
                        <md-card layout="row" class="transparent" layout-wrap>
                            <div class="progress-container animate-show-hide" flex layout="row" layout-align="center center" ng-show="loadingHourlyOccupancyChart">
                                <md-progress-circular md-diameter="75"></md-progress-circular>
                            </div>
                            <div flex-gt-md="70" flex="100" class="border-right border-bottom">
                                <md-card-header class="banner">
                                    <i class="material-icons">hourglass_empty</i>
                                    <span class="banner-text">HOURLY OCCUPANCY PATTERN WITH PREDICTION</span>
                                    <div flex class="btn_container">
                                        <md-button class="md-icon-button medium-icon-btn help_btn_icon" ng-click="graphDetails('Hourly_occupancy.png')">
                                            <md-icon class="material-icons md-icon-button help_btn">info_outline
                                                <md-tooltip md-direction="bottom" class="md-block md-tooltip md-tooltip-bottom">More Details</md-tooltip>
                                            </md-icon>
                                        </md-button>
                                    </div>
                                </md-card-header>
                                <line-chart id="percentoccupancy_chart" data="percentoccupancychart_data"></line-chart>
                            </div>
                            <div flex-gt-md="30" flex="100" layout="column" class="adappt-color-border">
                                <div layout-gt-md="column" layout-align="center stretch" class="border-bottom util_padding" flex-gt-md="33" flex="100">
                                    <md-card layout='row' class="transparent">
                                        <div flex="20" layout="row" layout-align="center center">
                                            <i class="material-icons floorwise-logo" md-whiteframe="3" aria-hidden="true">date_range</i>
                                        </div>
                                        <div flex="80" class=" darktheme">
                                            <md-datepicker class="single_dt_picker" ng-model="hourlyOccupancyDate" md-placeholder="Select date" md-max-date="maxDate" md-open-on-focus class="adappt-datepicker" ng-change="updateHourlyOccupancy()"></md-datepicker>
                                        </div>
                                    </md-card>
                                    <div layout="row" layout-align="center center" flex>
                                        <md-checkbox ng-model="selectallpocc" ng-change="select_all_pocc()" class="md-primary selectall" ng-checked="true">Select All</md-checkbox>
                                        <md-radio-group ng-model="view" ng-change="changeview()" class="md-primary">
                                            <md-radio-button value="floor" class="radion_btn" checked>Floor View</md-radio-button>
                                            <md-radio-button value="bu" class="radion_btn">BU-View</md-radio-button>
                                        </md-radio-group>
                                    </div>
                                    <div layout="row" layout-align="center center">
                                        <md-radio-group ng-model="hourlypattern" hide-xs class="md-primary radio_gp" ng-change="changehourlypattern()">
                                            <md-radio-button value="percenthourly" class="radion_btn">Percentage</md-radio-button>
                                            <md-radio-button value="actualdatahourly" class="radion_btn">Actual Data</md-radio-button>
                                        </md-radio-group>
                                    </div>
                                </div>
                                <div layout="row" layout-align="center center" class="border-bottom util_padding" style="position:relative" flex-gt-md="33" flex="100">
                                    <div hide-sm hide-md hide-xs layout="row" layout-align="center center" class="formula" ng-class="{opened: formulaClicked}">
                                        <div flex="5" layout="row" layout-align="center center" class="iconclass" ng-class="{opened: iconClicked}">
                                            <md-button class="md-icon-btn" ng-click="changeclass()">
                                                <md-icon><i class="material-icons text-white">keyboard_arrow_left</i></md-icon>
                                                <md-tooltip direction="bottom" class="md-tooltip-bottom">Formula</md-tooltip>
                                            </md-button>

                                        </div>

                                        <div flex="20" layout="row" layout-align="center center" class="floorwise-logo"><i class="fa fa-calculator fa-2x"></i></div>
                                        <div flex="75" layout="row" layout-align="center center">
                                            <span>(Occupied Seats/ Total Seats) * 100</span>
                                        </div>
                                    </div>
                                    <div flex="40" class="percentchart">
                                        <span easypiechart="easypiechart" percent="percentoccupancychart_data.maxBuildingOccupancyPercent" options="buPercent" class="easypie"><span class="percent ng-binding">{{percentoccupancychart_data.maxBuildingOccupancyPercent}}%</span></span>
                                    </div>
                                    <div flex="55">
                                        <h4>Peak utilization of {{percentoccupancychart_data.maxBuildingOccupancyPercent}}% was observed at {{percentoccupancychart_data.maxBuildingOccupancyTime}}</h4>
                                    </div>


                                </div>
                                <div layout="row" layout-align="center center" class="border-bottom util_padding" flex-gt-md="33" flex="100" style="position:relative">
                                    <div hide-sm hide-md hide-xs layout="row" layout-align="center center" class="formula" ng-class="{opened: formulaClicked1}">
                                        <div flex="5" layout="row" layout-align="center center" class="iconclass" ng-class="{opened: iconClicked1}">
                                            <md-button class="md-icon-btn text-white" ng-click="changeclass1()">
                                                <md-icon><i class="material-icons text-white">keyboard_arrow_left</i></md-icon>
                                                <md-tooltip direction="bottom" class="md-tooltip-bottom">Formula</md-tooltip>
                                            </md-button>
                                        </div>
                                        <div flex="20" layout="row" layout-align="center center" class="floorwise-logo"><i class="fa fa-calculator fa-2x"></i></div>
                                        <div flex="75" layout="row" layout-align="center center">
                                            <span>(Occupied Seats/ Total Seats) * 100</span>
                                        </div>
                                    </div>
                                    <div flex="40" class="percentchart">
                                        <span easypiechart="easypiechart" percent="percentoccupancychart_data.minBuildingOccupancyPercent" options="buPercent" class="easypie"><span class="percent ng-binding">{{percentoccupancychart_data.minBuildingOccupancyPercent}}% </span></span>
                                    </div>
                                    <div flex="55">
                                        <h4>Least utilization of {{percentoccupancychart_data.minBuildingOccupancyPercent}}% was observed at {{percentoccupancychart_data.minBuildingOccupancyTime}}</h4>
                                    </div>
                                </div>
                            </div>
                        </md-card>

                        <md-card layout="row" class="transparent" layout-wrap>
                            <div class="progress-container animate-show-hide" flex layout="row" layout-align="center center" ng-show="loadingUtilChart">
                                <md-progress-circular md-diameter="75"></md-progress-circular>
                            </div>
                            <div flex-gt-md="70" flex="100" class="border-right border-bottom" style="position: relative">
                                <md-card-header class="banner">
                                    <i class="material-icons">event_seat</i>
                                    <span class="banner-text">SEAT USAGE PATTERN</span>
                                    <div flex class="btn_container">
                                        <md-button class="md-icon-button medium-icon-btn help_btn_icon" ng-click="graphDetails('Seat_usage.png')">
                                            <md-icon class="material-icons md-icon-button help_btn">info_outline
                                                <md-tooltip md-direction="bottom" class="md-block md-tooltip md-tooltip-bottom">More Details</md-tooltip>
                                            </md-icon>
                                        </md-button>
                                    </div>
                                </md-card-header>

                                <md-tabs flex style="min-height:450px;">
                                    <md-tab label="Seats-Utilization">
                                        <seat-util-graph id="category" data="seatUtilchart_data.seatData" graph-title="seatUtilchart_data.title" graph-labels="seatUtilchart_data.labels"></seat-util-graph>
                                    </md-tab>
                                    <md-tab label="Seatwise Utilization">
                                        <seat-wise-util-graph id="seats" data="seatwizeUtil_data.used" graph-title="seatwizeUtil_data.title" graph-labels="seatwizeUtil_data.seats"></seat-wise-util-graph>
                                    </md-tab>
                                </md-tabs>
                            </div>
                            <div flex-gt-md="30" flex="100" layout="column" class="adappt-color-border">
                                <div layout-gt-md="column" layout-align="center stretch" class="border-bottom" flex-gt-md="100" flex="100">
                                    <md-card layout='row' class="transparent">
                                        <div flex="20" layout="row" layout-align="center center">
                                            <md-icon class="floorwise-logo" md-whiteframe="3" md-svg-src='../img/noun_51470_cc.svg' md-svg-class=""></md-icon>
                                        </div>
                                        <div flex="80" class="card-container">
                                            <md-select ng-model="selectedFloor" placeholder="Floor Selection" md-container-class="container_1" class="darktheme" ng-change="updateUtilChart(selectedFloor)">
                                                <md-option ng-repeat="floor in floorSelections" ng-value="{{floor}}">{{floor.alias}}</md-option>
                                            </md-select>
                                        </div>
                                    </md-card>
                                    <md-card layout='row' class="transparent">
                                        <div flex="20" layout="row" layout-align="center center">
                                            <i class="material-icons floorwise-logo" md-whiteframe="3" aria-hidden="true">date_range</i>
                                        </div>
                                        <div flex="80" class="card-container darktheme">
                                            <md-date-range ng-model="seat_usage_date_Range" placeholder="Select Date Range" aria-invalid="false" dateselected="seat_util_ok(startDate,endDate)">
                                            </md-date-range>
                                        </div>
                                    </md-card>
                                    <md-card layout='row' class="transparent">
                                        <div flex="20" layout="row" layout-align="center center">
                                            <i class="material-icons floorwise-logo" md-whiteframe="3">&#xE0AF;</i>
                                        </div>
                                        <div flex="80" class="card-container">
                                            <md-select ng-model="selectedBu" placeholder="Business Unit Selection" class="darktheme" ng-change="set(selectedBu)">
                                                <md-optgroup label="Business Units">
                                                    <md-option ng-repeat="bu in bus" value="{{bu}}">{{bu}}</md-option>
                                                </md-optgroup>
                                            </md-select>
                                        </div>
                                    </md-card>
                                </div>
                                <md-button class="md-raised md-primary" ui-sref="advancelayout({bldgId: building})"> Advanced </md-button>
                            </div>
                        </md-card>

                        <md-card layout="row" class="transparent" layout-wrap>
                            <div class="progress-container animate-show-hide" flex layout="row" layout-align="center center" ng-show="loadingRoomUtilChart">
                                <md-progress-circular md-diameter="75"></md-progress-circular>
                            </div>
                            <div flex-gt-md="70" flex="100" class="border-right border-bottom" style="position: relative">
                                <md-card-header class="banner">
                                    <i class="fa fa-id-card"></i>
                                    <span class="banner-text">MEETING ROOM USAGE</span>
                                    <div flex class="btn_container">
                                        <md-button class="md-icon-button medium-icon-btn help_btn_icon" ng-click="graphDetails('Seat_usage.png')">
                                            <md-icon class="material-icons md-icon-button help_btn">info_outline
                                                <md-tooltip md-direction="bottom" class="md-block md-tooltip md-tooltip-bottom">More Details</md-tooltip>
                                            </md-icon>
                                        </md-button>
                                    </div>
                                </md-card-header>
                                <seat-wise-util-graph id="roomUtil" data="roomUtil_data.used" graph-title="roomUtil_data.title" graph-labels="roomUtil_data.rooms"></seat-wise-util-graph>
                            </div>
                            <div flex-gt-md="30" flex="100" layout="column" class="adappt-color-border">
                                <div layout-gt-md="column" layout-align="center stretch" class="border-bottom" flex-gt-md="100" flex="100">
                                    <md-card layout='row' class="transparent">
                                        <div flex="20" layout="row" layout-align="center center">
                                            <md-icon class="floorwise-logo" md-whiteframe="3" md-svg-src='../img/noun_51470_cc.svg' md-svg-class=""></md-icon>
                                        </div>
                                        <div flex="80" class="card-container">
                                            <md-select ng-model="selectedFloor" placeholder="Floor Selection" md-container-class="container_1" class="darktheme" ng-change="updateRoomUtilChart(selectedFloor)">
                                                <md-option ng-repeat="floor in floorSelections" ng-value="{{floor}}">{{floor.alias}}</md-option>
                                            </md-select>
                                        </div>
                                    </md-card>
                                    <md-card layout='row' class="transparent">
                                        <div flex="20" layout="row" layout-align="center center">
                                            <i class="material-icons floorwise-logo" md-whiteframe="3" aria-hidden="true">date_range</i>
                                        </div>
                                        <div flex="80" class="card-container darktheme">
                                            <md-date-range ng-model="room_usage_date_Range" placeholder="Select Date Range" aria-invalid="false" dateselected="room_util_ok(startDate,endDate)">
                                            </md-date-range>
                                        </div>
                                    </md-card>
                                </div>
                            </div>
                        </md-card>
                    </div>
                </div>
            </md-content>
    </md-content>
</section>