<md-dialog aria-label="Autocomplete Dialog" >
    <div class="md-toolbar-tools border-bottom">
        <span>Change Password</span>
    </div>
    <md-dialog-content class="md-dialog-content" ng-cloak>
        <form name="dialogform">
            <span>Login_Id</span>
            <div flex>
                  <md-input-container class="md-block input_container" md-no-float>
                    <input required placeholder="Login_id" type="text" name="adminpassword" ng-model="userProfile.uname"/>
                </md-input-container>
            </div>
            <span>Old Password</span>
            <div flex>
                  <md-input-container class="md-block input_container" md-no-float>
                    <input required placeholder="Password" type="password" name="adminpassword" ng-model="userProfile.oldPassword"/>
                </md-input-container>
            </div>
            <span>New Password</span>
            <div flex>
                <md-input-container class="md-block input_container" md-no-float>
                    <input required placeholder="Password" type="password" name="adminpassword" ng-model="userProfile.password"/>
                </md-input-container>
            </div>
            <span>Confirm Password</span>
            <div flex>
                <md-input-container class="md-block input_container" md-no-float>
                    <input required placeholder="Confirm Password" type="password" name="adminpassword" ng-model="userProfile.cnfrmPassword"/>
                </md-input-container>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-primary md-raised" ng-click="change()">Done</md-button>
        <md-button class="md-primary md-raised" ng-click="cancel()">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>