<md-content class="full-height adappt-watermark-image-dark" style="height:100vh; overflow:scroll" ng-class="{'blurred':blur_content}">
    <div class="md-padding" layout="row" layout-align="center center">
        <div class="adappt-logo logo-lg"></div>
    </div>
    <div class="md-padding" layout="row" layout-align="center center">
        <md-card flex-gt-sm=60 flex-sm=60 flex-xs=80 class="transparent" md-whiteframe="8">

            <md-card-content>
                <div class="text-center text-white">

                    <h1>Fill Floor Details</h1>
                </div>

                <v-accordion class="vAccordion--default">

                    <div class="md-padding" layout-align="center center">
                        <md-card flex-gt-sm=100 flex-sm=100 flex-xs=100 class="transparent" md-whiteframe="8" ng-repeat="(fkey,ufloor) in floors  ">
                            <md-card-content>
                                <v-pane>
                                    <v-pane-header>
                                        {{ ufloor.name }}
                                    </v-pane-header>

                                    <v-pane-content>

                                        <form type="post" name="ufloorform_fkey" ng-submit="UpdateFloor(ufloor,ufloorform_fkey)">
                                            <md-input-container class="md-block text-white">

                                                <input required md-no-asterisk type="text" name="name_{{$index}}" ng-model="ufloor.name" placeholder="Name" />

                                            </md-input-container>

                                            <div layout="row" flex>
                                                <md-input-container flex class="md-icon-float md-block md-title">
                                                    <input flex layout="column" type="text" required style="color:#fff;" name="layout_{{$index}}" ng-model="ufloor.layout" placeholder="Layout"
                                                        readonly="readonly">
                                                </md-input-container>
                                                <div>
                                                    <md-button flex layout="column" aria-label="{{file}}" class="md-fab md-raised md-mini material-icons" style="background-color:#fff;"
                                                        ngf-select="ufloor.layout=ufloor.file.name" ng-model="ufloor.file" name="file+fkey"
                                                        ngf-pattern="'image/x-png'" ngf-accept="'image/x-png'" ngf-max-size="20MB">attach_file
                                                        <md-tooltip md-direction="top" md-visible="isOpen" md-autohide="false" class="md-tooltip-top" ng-class="{ 'md-hover-full': hover }"
                                                            ng-mouseenter="isOpen=true" ng-mouseleave="isOpen=false">
                                                            Upload
                                                        </md-tooltip>

                                                    </md-button>
                                                </div>
                                            </div>

                                            <md-card-header layout-align="center center">
                                                <h2 class="center"> Hosts
                                                    <sup class="mi mi-add-circle-outline" style="cursor:pointer" ng-click="addhosttoexistingfloor(ufloor)">
                                                    </sup>
                                                </h2>

                                            </md-card-header>
                                            <v-accordion class="vAccordion--default">
                                                <v-pane ng-repeat="(hkey,host) in ufloor.hosts" ng-if="!host.delete">
                                                    <v-pane-header>
                                                        {{host.name }}

                                                    </v-pane-header>
                                                    <v-pane-content>
                                                        <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
                                                            <md-progress-circular ng-show="sendemailcall"></md-progress-circular>
                                                            <i layout-align="space-between right" ng-click=" !host._id || sendemail(ufloor,host)" class="material-icons" style="cursor: pointer;">mail_outline</i>

                                                        </section>

                                                        <md-input-container class="md-block text-white">
                                                            <input required md-no-asterisk type="text" name="hostname_{{$index}}" ng-model="host.name" placeholder="Name" />

                                                        </md-input-container>
                                                        <md-input-container class="md-block" layout="row" layout-align="center center" ng-if="host.certificates.crt">
                                                            <h3>Certificate</h3>
                                                            <p>{{host.certificates.crt}}</p>

                                                        </md-input-container>
                                                        <md-input-container class="md-block" layout="row" layout-align="center center" ng-if="host.certificates.crt">

                                                            <h3>Public Key</h3>
                                                            <p>{{host.certificates.pem}}</p>

                                                        </md-input-container>
                                                        <md-input-container class="md-block" layout="row" layout-align="center center" ng-if="host.certificates.crt">

                                                            <h3>Private Key</h3>
                                                            <p>{{host.certificates.ppk}}</p>

                                                        </md-input-container>

                                                        <md-input-container class="md-block" layout="row" layout-align="center center">
                                                            <div flex layout="column" layout-align="center stretch">
                                                                <md-button class="md-raised md-primary" ng-disabled="host.certificates.crt" style="font-size: 90%;" ng-click="choosecertificate(host)">Choose Certificate</md-button>
                                                            </div>
                                                        </md-input-container>
                                                        <md-input-container class="md-block" layout="row" layout-align="center center">
                                                            <div flex layout="column" layout-align="center stretch">
                                                                <md-button class="md-raised md-warn" ng-disabled="!host.certificates.crt" style="font-size: 90%;" ng-click=removecertsfromselectedhost(hkey,fkey,host)>
                                                                    Remove Certificate
                                                                </md-button>
                                                            </div>
                                                        </md-input-container>
                                                        <md-input-container class="md-block" layout="row" layout-align="center center">
                                                            <div flex layout="column" layout-align="center stretch">
                                                                <md-button class="md-raised md-danger" style="font-size: 90%;" ng-click=removehostfromselectedfloor(hkey,fkey,host)>Remove Host</md-button>
                                                            </div>
                                                        </md-input-container>
                                                    </v-pane-content>
                                                </v-pane>
                                            </v-accordion>

                                            <md-input-container class="md-block" layout="row" layout-align="center center">
                                                <div flex layout="row" layout-align="stretch">
                                                    <div flex layout="column" layout-align="stretch">
                                                        <md-button class="md-raised md-primary" style="font-size: 90%;" type="submit">Update</md-button>

                                                    </div>
                                                    <div flex layout=" column " layout-align="stretch ">

                                                        <md-button class="md-raised md-warn" style="font-size: 90%;" ng-click="RemoveFloor(ufloor)">Remove</md-button>
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </form>

                                    </v-pane-content>
                                </v-pane>
                            </md-card-content>
                        </md-card>
                    </div>
                </v-accordion>
                <div class="md-padding " layout-align="center center ">
                    <md-card flex-gt-sm=100 flex-sm=100 flex-xs=100 class="transparent " md-whiteframe="8 ">
                        <md-card-header layout-align="center center ">
                            <h2 class="center center "> New Floor </h2>
                        </md-card-header>
                        <md-card-content>
                            <form type="post " name="floorform " ng-submit="CreateFloors(floor_details) ">
                                <md-input-container class="md-block text-white ">
                                    <input required md-no-asterisk type="text " name="name " ng-model="floor_details.name
                                                                    " placeholder="Name " />
                                    <div ng-messages="floorform.name.$error ">
                                        <div ng-message="required ">Name is required.</div>
                                    </div>
                                </md-input-container>

                                <div layout="row " flex>
                                    <md-input-container flex class="md-icon-float md-block md-title ">

                                        <input type="text " required style="color:#fff " name="layout " ng-model="file.name                                        "
                                            placeholder="Layout " readonly="readonly ">
                                        <div ng-messages="floorform.layout.$error ">
                                            <div ng-message="required ">Layout is required.</div>
                                        </div>
                                    </md-input-container>
                                    <div>
                                        <md-button aria-label="{{file}}" class="md-fab md-raised md-mini" style="background-color:#fff" ngf-select ng-model="file"
                                            name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-height="5000"
                                            ngf-max-width="5000" ngf-max-size="20MB">
                                            <md-tooltip md-direction="top" md-visible="isOpen" md-autohide="false" class="md-tooltip-top" ng-class="{ 'md-hover-full': hover }"
                                                ng-mouseenter="isOpen=true" ng-mouseleave="isOpen=false">
                                                Upload
                                            </md-tooltip>
                                            <i class="material-icons" style="padding-top:25%">attach_file</i>
                                        </md-button>

                                    </div>
                                </div>
                                <div flex layout="row " layout-align="center center">
                                    <div flex layout="column " layout-align="center center">
                                        <h2 class="center center "> New Host
                                            <sup class="mi mi-add-circle-outline" style="cursor:pointer" ng-click="addhosttofloor()">
                                            </sup>
                                        </h2>
                                    </div>
                                </div>
                                <div flex layout="row " layout-align="center stretch">
                                    <div flex layout="column " layout-align="center stretch">
                                        <v-accordion class="vAccordion--default ">
                                            <v-pane ng-repeat="host in floor_details.hosts ">
                                                <v-pane-header>
                                                    {{host.name }}
                                                </v-pane-header>
                                                <v-pane-content>

                                                    <md-input-container class="md-block text-white ">

                                                        <input required md-no-asterisk type="text" name="hostname_{{$index}}" ng-model="host.name " placeholder="Name " />

                                                    </md-input-container>

                                                    <md-input-container class="md-block" layout="row" layout-align="center center" ng-if="host.certificates.crt">
                                                        <h3>Certificate</h3>
                                                        <p>{{host.certificates.crt}}</p>

                                                    </md-input-container>
                                                    <md-input-container class="md-block" layout="row" layout-align="center center" ng-if="host.certificates.crt">

                                                        <h3>Public Key</h3>
                                                        <p>{{host.certificates.pem}}</p>

                                                    </md-input-container>
                                                    <md-input-container class="md-block" layout="row" layout-align="center center" ng-if="host.certificates.crt">

                                                        <h3>Private Key</h3>
                                                        <p>{{host.certificates.ppk}}</p>

                                                    </md-input-container>

                                                    <md-input-container class="md-block" layout="row" layout-align="center center">
                                                        <div flex layout="column" layout-align="center stretch">
                                                            <md-button class="md-raised md-primary" ng-disabled="host.certificates.crt" style="font-size: 90%;" ng-click="choosecertificate(host)">Choose Certificate</md-button>
                                                        </div>
                                                    </md-input-container>
                                                    <md-input-container class="md-block" layout="row" layout-align="center center">
                                                        <div flex layout="column" layout-align="center stretch">
                                                            <md-button class="md-raised md-warn" ng-disabled="!host.certificates.crt" style="font-size: 90%;" ng-click="removecerts($index,floor_details)">
                                                                Remove Certificate
                                                            </md-button>
                                                        </div>
                                                    </md-input-container>
                                                    <md-input-container class="md-block" layout="row" layout-align="center center">
                                                        <div flex layout="column" layout-align="center stretch">
                                                            <md-button class="md-raised md-danger" style="font-size: 90%;" ng-click="removehostfromfloor($index,floor_details)">Remove</md-button>
                                                        </div>
                                                    </md-input-container>

                                                </v-pane-content>
                                            </v-pane>
                                        </v-accordion>
                                    </div>
                                </div>

                                <md-input-container class="md-block " layout="row " layout-align="center center ">
                                    <div flex layout="row " layout-align="stretch ">
                                        <div flex layout="column " layout-align="stretch ">
                                            <md-button class="md-raised md-primary " type="submit ">Save Floor Details</md-button>
                                            <md-button class="md-raised md-primary " ui-sref="commission.add ">Back</md-button>
                                        </div>
                                        <div flex layout="column " layout-align="right stretch ">
                                            <md-button class="md-raised md-primary " ng-click="ContinuetoMapping()() ">Continue to Mapping </md-button>
                                            <md-button class="md-raised md-primary " ui-sref="commission.index ">Cancel</md-button>
                                        </div>
                                    </div>

                                </md-input-container>

                            </form>
                        </md-card-content>
                    </md-card>
                </div>
            </md-card-content>
        </md-card>
    </div>
</md-content>