<md-container layout="row" class="full-height">
    <md-content layout="column" flex style="height:100vh">
        <div ng-include="'../includes/toolbar'"></div>
        <md-content layout="row" class="full-height">
            <div ng-include="'../includes/commissionsettingsidenav'"></div>
            <md-content flex class="adappt-watermark-image-dark">
                <ui-view name="content"></ui-view>
            </md-content>

        </md-content>
    </md-content>
</md-container>