<section layout="row" class="full-height" ng-cloak flex>   
    <md-content layout="column" layout-fill style="height:100vh">
        <%- include("../includes/toolbar")%>
        <md-content class="adappt-watermark-image-dark" flex>
            <div layout="column"  class="full-height" flex> 
                <md-tabs flex>
                    <md-tab label="Charts">
                        <md-content class="tab-content-container">
                            <div layout="row" layout-wrap>
                               <div flex="10" hide-sm hide-xs hide-md layout="row" layout-align="center stretch">
                                    <md-card layout='row' layout-align="center center" class="transparent" flex="100">
                                        <div flex="100" layout="row" layout-align="center center">
                                            <md-button ui-sref="index.dashboard" class="md-primary md-raised back_btn">
                                                <i class="fa fa fa-chevron-left back_icon"></i>
                                                <span class="back_text">Back</span>
                                            </md-button>
                                        </div>
                                    </md-card>
                                </div>
                                <div layout="row" layout-align="center center" flex >
                                    <div flex="33" flex-sm="50" flex-xs="100" flex-md="50" layout="row" layout-align="center center">
                                        <md-card layout='row' class="transparent" flex>
                                            <div flex="20" layout="row" layout-align="center center">
                                                <i class="material-icons floorwise-logo" md-whiteframe="3" >domain</i>
                                            </div>
                                            <div flex="80"  class="card-container">
                                               <md-select placeholder="Building Selection" ng-model="buildingselected" class="darktheme" multiple  ng-model-options="{trackBy: '$value.id'}">
                                                    <md-optgroup label="Buildings">
                                                        <md-option ng-repeat="building in buildings" ng-value="building">{{building.bldgName}}</md-option>
                                                      </md-optgroup>
                                                </md-select>     
                                            </div>
                                        </md-card>
                                    </div>
                                    <div flex="33" flex-sm="50" flex-xs="100" flex-md="50" layout="row" layout-align="center center">
                                        <md-card layout='row' class="transparent" flex>
                                            <div flex="20" layout="row" layout-align="center center">
                                               <i class="fa fa-filter fa-lg floorwise-logo"  md-whiteframe="3" aria-hidden="true"></i>
                                            </div>
                                            <div flex="80"  class="card-container">
                                                <md-select placeholder="Parameter Selection" ng-model="buildselectedParameter" class="darktheme">
                                                    <md-optgroup label="Parameters">
                                                        <md-option value="Occupancy">Occupancy</md-option>
                                                        <md-option value="temp">Temperature</md-option>
                                                        <md-option value="Noise">Sensor Health</md-option>
                                                      </md-optgroup>
                                                </md-select>   
                                            </div>
                                        </md-card>
                                    </div>
                                    <div flex="33" flex-sm="50" flex-xs="100" flex-md="50">
                                        <md-card layout='row' class="transparent">
                                            <div flex="20" layout="row" layout-align="center center">
                                                <i class="material-icons floorwise-logo" md-whiteframe="3" aria-hidden="true">date_range</i>
                                            </div>
                                            <div flex="80" class="card-container darktheme">
                                                <md-date-range
                                                ng-model="build_cmp_date_Range"
                                                placeholder="Select Date Range" 
                                                aria-invalid="false"
                                                dateselected = "compare_ok(startDate,endDate)"
                                                >
                                                </md-date-range> 
                                            </div>
                                        </md-card>
                                    </div>  
                                </div>
                            </div>
                            <md-card class="transparent">
                                <md-card-header class="banner">
                                    <i class="material-icons">domain</i>
                                    <span class="banner-text">OCCUPANCY PATTERN COMPARISION</span>
                                    <div flex class="btn_container">
                                        <md-button class="md-icon-button medium-icon-btn help_btn_icon">
                                            <md-icon class="material-icons md-icon-button help_btn">info_outline
                                            <md-tooltip md-direction="bottom" class="md-block md-tooltip md-tooltip-bottom">More Details</md-tooltip>
                                            </md-icon>
                                        </md-button>
                                    </div>
                                </md-card-header>
                                <line-chart id="comapreoccupancy" data="percentoccupancychart_data"></line-chart>
                                <div layout="row">
                                    <md-checkbox ng-model="selectall" ng-change="select_all()" class="md-primary"
                                    ng-checked="true">Select All</md-checkbox>
                                </div>
                            </md-card>
                            <div layout="column">
                                <div layout="row" layout-wrap>
                                    <div flex-gt-md="50" flex="100">
                                        <md-card class="transparent">
                                            <md-card-header class="banner">
                                                <span class="banner-text">UNUSED SEATS</span>
                                                <div flex class="btn_container">
                                                    <md-button class="md-icon-button medium-icon-btn help_btn_icon">
                                                        <md-icon class="material-icons md-icon-button help_btn">info_outline
                                                        <md-tooltip md-direction="bottom" class="md-block md-tooltip md-tooltip-bottom">More Details</md-tooltip>
                                                        </md-icon>
                                                    </md-button>
                                                </div>
                                            </md-card-header>
                                            <div layout="row" layout-align="center center" layout-wrap>
                                                <div layout="row" flex="50" ng-repeat=" trial in [1,2]" layout-align="center center">
                                                    <div flex="70" class="floor-padding">
                                                    <span class="building_name">Building 1</span>
                                                        <div ng-repeat="floor in floorData5">
                                                            <div class="progress_div">
                                                                <div class="progress_bar">
                                                                  <div ng-style="{'width': floor.occupied +'%'}"></div>
                                                                </div>
                                                             </div>
                                                        </div>
                                                    </div>
                                                    <div layout="column" flex ="30" >
                                                        <div class="text-align" ng-repeat="floor in floorData5">
                                                            <span class="big-text">{{floor.occupied}}</span>
                                                            <span class="small-text">/ {{floor.unoccupied}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </md-card>
                                    </div>
                                    <div flex-gt-md="50" flex="100">
                                        <md-card class="transparent">
                                            <md-card-header class="banner">
                                                <span class="banner-text">SEATS USED FOR 10 MINUTES TO 4-HOURS</span>
                                                <div flex class="btn_container">
                                                    <md-button class="md-icon-button medium-icon-btn help_btn_icon">
                                                        <md-icon class="material-icons md-icon-button help_btn">info_outline
                                                        <md-tooltip md-direction="bottom" class="md-block md-tooltip md-tooltip-bottom">More Details</md-tooltip>
                                                        </md-icon>
                                                    </md-button>
                                                </div>
                                            </md-card-header>
                                            <div layout="row" layout-align="center center" layout-wrap>
                                                <div layout="row" flex="50" ng-repeat=" trial in [1,2]" layout-align="center center">

                                                    <div flex="65" class="floor-padding">
                                                    <span class="building_name">Building 1</span>
                                                        <div ng-repeat="floor in floorData5">
                                                            <div class="progress_div">
                                                                <div class="progress_bar">
                                                                  <div ng-style="{'width': floor.occupied +'%'}"></div>
                                                                </div>
                                                             </div>
                                                        </div>
                                                    </div>
                                                    <div layout="column" flex ="35" >
                                                        <div class="text-align" ng-repeat="floor in floorData5">
                                                            <span class="big-text">{{floor.occupied}}</span>
                                                            <span class="small-text">/ {{floor.unoccupied}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </md-card>
                                    </div>
                                </div>
                                <div layout="row" layout-wrap>
                                    <div flex-gt-md="50" flex="100">
                                        <md-card class="transparent">
                                            <md-card-header class="banner">
                                                <span class="banner-text">SEATS USED FOR 4 - 8HOURS</span>
                                                <div flex class="btn_container">
                                                    <md-button class="md-icon-button medium-icon-btn help_btn_icon">
                                                        <md-icon class="material-icons md-icon-button help_btn">info_outline
                                                        <md-tooltip md-direction="bottom" class="md-block md-tooltip md-tooltip-bottom">More Details</md-tooltip>
                                                        </md-icon>
                                                    </md-button>
                                                </div>
                                            </md-card-header>
                                            <div layout="row" layout-align="center center" layout-wrap>
                                                <div layout="row" flex="50" ng-repeat=" trial in [1,2]" layout-align="center center">
                                                    <div flex="70" class="floor-padding">
                                                    <span class="building_name">Building 2</span>
                                                        <div ng-repeat="floor in floorData5">
                                                            <div class="progress_div">
                                                                <div class="progress_bar">
                                                                  <div ng-style="{'width': floor.occupied +'%'}"></div>
                                                                </div>
                                                             </div>
                                                        </div>
                                                    </div>
                                                    <div layout="column" flex ="30" >
                                                        <div class="text-align" ng-repeat="floor in floorData5">
                                                            <span class="big-text">{{floor.occupied}}</span>
                                                            <span class="small-text">/ {{floor.unoccupied}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </md-card>
                                    </div>
                                    <div flex-gt-md="50" flex="100">
                                        <md-card class="transparent">
                                            <md-card-header class="banner">
                                                <span class="banner-text">SEATS USED FOR MORE THAN 8 HOURS</span>
                                                <div flex class="btn_container">
                                                    <md-button class="md-icon-button medium-icon-btn help_btn_icon">
                                                        <md-icon class="material-icons md-icon-button help_btn">info_outline
                                                        <md-tooltip md-direction="bottom" class="md-block md-tooltip md-tooltip-bottom">More Details</md-tooltip>
                                                        </md-icon>
                                                    </md-button>
                                                </div>
                                            </md-card-header>
                                            <div layout="row" layout-align="center center" layout-wrap>
                                                <div layout="row" flex="50" ng-repeat=" trial in [1,2]" layout-align="center center">

                                                    <div flex="65" class="floor-padding">
                                                    <span class="building_name">Building 2</span>
                                                        <div ng-repeat="floor in floorData5">
                                                            <div class="progress_div">
                                                                <div class="progress_bar">
                                                                  <div ng-style="{'width': floor.occupied +'%'}"></div>
                                                                </div>
                                                             </div>
                                                        </div>
                                                    </div>
                                                    <div layout="column" flex ="35" >
                                                        <div class="text-align" ng-repeat="floor in floorData5">
                                                            <span class="big-text">{{floor.occupied}}</span>
                                                            <span class="small-text">/ {{floor.unoccupied}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </md-card>
                                    </div>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Card-View">
                        <div layout="row" layout-align="center center"  layout-wrap>
                            <div flex="" ng-repeat = "building in buildings" flex-xs="100" flex-sm="50" class="md-padding">
                                <md-card layout="column" class="comparission_card transparent">
                                    <div layout="row" class="text-center border-bottom title_height" md-whiteframe="8">
                                        <div layout="row" layout-align="center center" flex="30" class="building_container">
                                              <i class="fa fa-building fa-2x" aria-hidden="true"></i>
                                        </div>
                                        <div flex="70" layout="row" layout-align="center center" class="comparision-card-title">
                                              <h4>{{building.bldgName}}</h4>
                                              <!-- <h6>{{building.bldgName}}</h6> -->
                                        </div>
                                    </div>
                                    <div layout="row">
                                        <md-content flex>
                                            <md-list>                                      
                                                <md-list-item class="md-2-line border-bottom sensor-param">
                                                    <md-icon class="icon">
                                                        <i class="fa fa-building-o fa-lg"></i>
                                                    </md-icon>
                                                    <div class="md-list-item-text">
                                                        <h3 class="regular-weight-font">Seats Occupied</h3>
                                                        <p>
                                                            <span class="big-text">{{building.filledSeats}}</span>
                                                            <span class="small-text">/ {{building.totalSeats}}</span>
                                                        </p>
                                                    </div>
                                                </md-list-item>                                        
                                                <md-list-item class="md-2-line border-bottom sensor-param">
                                                    <md-icon class="icon">
                                                        <i class="fa fa-thermometer-full fa-lg"></i>
                                                    </md-icon>
                                                    <div class="md-list-item-text">
                                                        <h3 class="regular-weight-font">Rooms Occupied</h3>
                                                        <p>
                                                            <span class="big-text">{{building.occupiedrooms}}</span>
                                                            <span class="small-text">/ {{building.totalrooms}}</span>
                                                        </p>
                                                    </div>
                                                </md-list-item>                                        
                                                <md-list-item class="md-2-line border-bottom sensor-param">
                                                    <md-icon class="icon">
                                                        <i class="fa fa-users fa-lg"></i>
                                                    </md-icon>
                                                    <div class="md-list-item-text">
                                                        <h3 class="regular-weight-font">Temperature</h3>
                                                        <p>
                                                            <span class="big-text">{{building.tempAvg}}</span>
                                                            <span class="small-text">°C</span>
                                                        </p>
                                                    </div>
                                                </md-list-item>                                      
                                                <md-list-item class="md-2-line sensor-param">
                                                    <md-icon class="icon">
                                                        <i class="fa fa-volume-up fa-lg"></i>
                                                    </md-icon>
                                                    <div class="md-list-item-text">
                                                        <h3 class="regular-weight-font">Sensors Health</h3>
                                                        <p>
                                                            <span class="big-text">{{building.healthySensors}}</span>
                                                            <span class="small-text">/ {{building.totalSeats}}</span>
                                                        </p>
                                                    </div>
                                                </md-list-item>
                                            </md-list>
                                        </md-content>   
                                    </div>
                                </md-card>
                            </div>
                        </div>
                        <md-content ui-sref="index.dashboard" layout="row" layout-align="center center" class="back-button">
                            <md-button  class="md-icon-button md-fab md-primary">
                                <md-icon class="print_icon">
                                    <i class="material-icons">keyboard_arrow_left</i>
                                </md-icon>
                                <md-tooltip md-direction="top" class="md-tooltip-top">Back</md-tooltip>
                            </md-button>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </div>
        </md-content>
    </md-content>
    <%- include("../includes/print")%>
</section>

      
