<section layout="row" class="full-height ng-cloak" ng-controller="dateCtrl" ng-cloak flex>
    <md-content layout="column" layout-fill>
        <%- include("../includes/toolbar")%>
            <md-content layout="column" class="adappt-watermark-image-dark" flex>
                <div layout="row" layout-wrap>
                    <!-- <div ng-show="paramvar" layout="row" class="card-container transparent" layout-wrap> -->
                    <div flex="10" hide-sm hide-xs hide-md layout="row" layout-align="center stretch">
                        <md-card class="background1" layout-align="center center" flex>
                            <md-button ui-sref="index.ldashboard" class="md-primary md-raised" ng-click="hostAddress()">
                                <span>Back</span>
                            </md-button>
                        </md-card>
                    </div>
                    <div flex flex-sm="50" flex-xs="100" flex-md="50" layout="row" layout-align="center stretch">
                        <md-card layout='row' layout-align="center center" class="background1" style="padding:0px 15px;" flex>
                            <div flex="20" layout="row" layout-align="center center" class="">
                                <md-icon class="floorwise-logo" md-whiteframe="3" md-svg-src='../img/noun_51470_cc.svg' md-svg-class=""></md-icon>
                            </div>
                            <div flex="80">
                                <md-select ng-model="floorSelected" placeholder="Floor Selection" md-container-class="container_1" class="selector-margin">
                                    <md-option ng-repeat="floor in floors" value="{{floor._id}}">{{floor.name}}</md-option>
                                </md-select>
                            </div>
                        </md-card>
                    </div>

                    <div flex flex-sm="50" flex-xs="100" flex-md="50" layout="row" layout-align="center stretch">
                        <md-card layout='row' layout-align="center center" class="background1" style="padding:0px 15px;" flex>
                            <div flex="20" layout="row" layout-align="center center">
                                <i class="fa fa-filter fa-lg floorwise-logo" md-whiteframe="3" aria-hidden="true"></i>
                            </div>
                            <div flex="80">
                                <md-select placeholder="Parameter Selection" ng-model="selectedparameter" class="selector-margin">
                                    <md-option value="Occupancy">Occupancy</md-option>
                                    <md-option value="Pressure">Temperature</md-option>
                                </md-select>
                            </div>
                        </md-card>
                    </div>
                    <div flex flex-sm="25" flex-xs="50" flex-md="50" layout="row">
                        <md-card layout='row' layout-align="center center" class="adappt-clock-card" flex>
                            <div flex="20" layout="row" layout-align="center center" class="border-right">
                                <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
                            </div>
                            <div flex="80" layout="column" layout-align="center center" class="card-container text-center">
                                <!-- <div> -->
                                <h5>Refreshed At</h5>
                                <h4>{{day}} {{time}}</h4>
                                <!-- </div> -->
                            </div>
                        </md-card>
                    </div>
                    <!-- </div> -->
                </div>
                <md-content>
                    <div layout="row" layout-align="center center">
                        <div class="arraystorm-layoutView">
                            <heat-map data="passed_data" ng-if="render"></heat-map>
                        </div>
                    </div>
                </md-content>
            </md-content>
    </md-content>
</section>