<md-dialog aria-label="Report Dialog" flex-gt-sm = "30" flex="80">
    <div class="md-toolbar-tools border-bottom">
        <span>Enter details for the report</span>
    </div>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab  label="PDF Report">
            <div class="md-padding">
                <form name="dialogform">
                    <div>
                        <span>Date Range Selection</span>
                        <md-date-range ng-model="report_date_range" placeholder="Select Date Range" aria-invalid="false" class="lighttheme_dt_picker">
                        </md-date-range> 
                    </div>
                    <span>Enter the email-id to which the report has to be sent.</span>
                    <div flex>
                        <md-input-container class="md-block input_container" md-no-float>
                            <input required placeholder="Email-id" type="email" name="clientEmail" ng-model="clientEmail"
                                   minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

                            <div ng-messages="dialogform.clientEmail.$error" role="alert">
                              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                Please enter a valid email id.
                              </div>
                            </div>
                        </md-input-container>
                    </div>
                </form>
            </div>
            <md-dialog-actions>
                <md-button class="md-primary md-raised" ng-click="finish()">Ok</md-button>
                <md-button class="md-primary md-raised" ng-click="cancelReport()">Cancel</md-button>
            </md-dialog-actions>
        </md-tab>
        <md-tab md-dynamic-height md-border-bottom label="Excel Report">
            <div class="md-padding">
                <span>Date Range Selection</span>
                <md-date-range ng-model="report_date_range" placeholder="Select Date Range" aria-invalid="false" class="lighttheme_dt_picker"></md-date-range> 
            </div>
            <md-dialog-actions>
                <md-button class="md-primary md-raised" ng-click="finish_excel()" ng-disabled="downloadingExcel">{{excelText}}</md-button>
                <md-button class="md-primary md-raised" ng-click="cancelReport()">Cancel</md-button>
            </md-dialog-actions>
        </md-tab>
    </md-tabs>
</md-dialog>