<md-dialog aria-label="Sensor Config" layout-padding  modal-draggable>
    <h4>{{sensorDetail.name}}</h4>

    <md-content layout="row" layout-align="space-around center">
        <md-input-container class="md-block popup" flex>
            <input required md-no-asterisk type="text" ng-model="sensorDetail.name" placeholder="Sensor name" />
        </md-input-container>

        <md-input-container class="md-block popup" flex>
            <input required md-no-asterisk type="text" ng-model="sensorDetail.bles.address" placeholder="Sensor Address" />
        </md-input-container>
        <md-input-container class="md-block popup" flex>
           <md-select ng-change=""  ng-model = "sensorDetail.timeout" aria-label="Time out"  placeholder="Time out" >
                    <md-option  ng-value="opt"  ng-repeat="opt in ['5','10','15']">{{ opt }} Min </md-option>
              </md-select>
        </md-input-container>
        <md-input-container class="md-block popup" flex>
            <md-select placeholder="Select Sensor Type" ng-model="sensorDetail.type" required>
                <md-option value="sos">SOS</md-option>
                <md-option value="dls">DLS</md-option>
            </md-select>
        </md-input-container>
         <md-input-container class="md-block popup" flex>
            <md-select placeholder="Select I/O Type" ng-model="sensorDetail.iotype" required>
                <md-option value="input">Input</md-option>
                <md-option value="output">Output</md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex>
            <div flex layout="column" layout-align="center stretch">
                <md-button class="md-raised md-primary" ng-click="UpdateSensor(sensorDetail)">Update</md-button>
            </div>
        </md-input-container>
        <md-input-container flex>
            <div flex layout="column" layout-align="center stretch">
                <md-button class="md-raised md-warn" ng-click="deleteSensor(sensorDetail)">Remove</md-button>
            </div>
        </md-input-container>
        <md-input-container flex=1 0>
            <md-button class="md-raised md-primary md-fab md-mini md-primary" ng-click="done()">
                <md-icon class="material-icons">done</md-icon>
            </md-button>
        </md-input-container>
    </md-content>
</md-dialog>
