<div flex=25>
    <img src="img/floor.png" class="dialogimage">
    <md-dialog aria-label="Autocomplete Dialog Example" class="md-padding" flex=100 style="background-color: rgb(43, 43, 43)">
        <div layout="row" class="md-toolbar-tools">
            <h3 class="border-bottom dialogheader"> Edit Floor</h3>

        </div>
        <form type="post" name="floorform" ng-submit="UpdateFloor(floor,floorform)">
            <md-dialog-content class="md-dialog-content text-dark" ng-cloak>

                <md-input-container class="md-block text-white">

                    <input required md-no-asterisk type="text" name="name" ng-model="floor.name" placeholder="Name" />

                </md-input-container>

                <md-input-container class="md-block text-white">

                    <input md-no-asterisk type="number" name="cps" ng-model="floor.cps" ng-pattern="/^[0-9]*$/" ng-minlength="1" placeholder="Cost Per SqFt in Numbers"
                    />

                </md-input-container>

                <md-input-container class="md-block text-white">

                    <input md-no-asterisk type="number" name="name" ng-model="floor.fa" ng-pattern="/^[0-9]*$/" ng-minlength="1" placeholder="Floor Area in Numbers"
                    />

                </md-input-container>

                <div layout="row" flex>
                    <md-input-container flex class="md-icon-float md-block md-title">
                        <input flex layout="column" type="text" style="color:#fff;" name="layout" ng-model="floor.layout" placeholder="Upload Layout"
                            readonly="readonly">
                    </md-input-container>
                    <div>
                        <md-button aria-label="{{file}}" class="md-fab md-raised md-mini" style="background-color:#fff" ngf-select="floor.layout=file.name"
                            ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-height="5000"
                            ngf-max-width="5000" ngf-max-size="20MB">
                            <md-tooltip md-direction="top" md-visible="isOpen" md-autohide="false" class="md-tooltip-top" ng-class="{ 'md-hover-full': hover }"
                                ng-mouseenter="isOpen=true" ng-mouseleave="isOpen=false">
                                Upload
                            </md-tooltip>
                            <i class="material-icons" style="padding-top:25%">attach_file</i>
                        </md-button>
                    </div>
                </div>

            </md-dialog-content>

            <md-dialog-actions layout="row">
                <md-button class="md-raised  md-warn" ng-click="RemoveFloor(floor)">Remove</md-button>

                <md-button class="md-raised md-primary" type="submit">Done</md-button>

            </md-dialog-actions>
        </form>
    </md-dialog>
</div>