<md-dialog aria-label="Touch Panel Config" layout-padding  modal-draggable>
    <h4>{{tp.name}}</h4>

    <md-content layout="row" layout-align="space-around center">
        <md-input-container class="md-block popup" flex>
            <input required md-no-asterisk type="text" ng-model="tp.name" placeholder="Touch Panel name" />
        </md-input-container>

        <md-input-container class="md-block popup" flex>
            <input required md-no-asterisk type="text" ng-model="tp.bles.address" placeholder="Touch Panel Address" />
        </md-input-container>
        
        <md-input-container flex>
            <div flex layout="column" layout-align="center stretch">
                <md-button class="md-raised md-primary" ng-click="updateTouchPanel(tp)">Update</md-button>
            </div>
        </md-input-container>
        <md-input-container flex>
            <div flex layout="column" layout-align="center stretch">
                <md-button class="md-raised md-warn" ng-click="deleteTouchPanel(tp)">Remove</md-button>
            </div>
        </md-input-container>
        <md-input-container flex=1 0>
            <md-button class="md-raised md-primary md-fab md-mini md-primary" ng-click="done()">
                <md-icon class="material-icons">done</md-icon>
            </md-button>
        </md-input-container>
    </md-content>
</md-dialog>
