<section layout="row" class="full-height" ng-cloak ng-class="{'blurred':blur_content}" flex>
    <md-content layout="column" layout-fill>
      
            <md-content class="adappt-watermark-image-dark main-content" flex>
                <div layout="column" flex>
                    <div layout="row" layout-wrap>
                        <div flex-gt-md="50" flex="100">
                            <md-card class="transparent">
                                <md-card-header class="banner">
                                    <i class="material-icons">filter_tilt_shift</i>
                                    <span class="banner-text">SHIFT TIMINGS</span>
                                </md-card-header>
                                <md-card-content layout="row">
                                    <div flex="50" class="border-right" layout="column">
                                        <h4> LIST OF SHIFTS PRESENT</h4>
                                        <ul>
                                            <li ng-repeat="shift in shifts">
                                                <h4 class="capitalize">{{shift.shift}}</h4>
                                            </li>
                                        </ul>
                                    </div>
                                    <div flex="50">
                                        <div class="text-center">
                                            <span> ADD NEW SHIFT </span>
                                        </div>
                                        <span class="padding">Enter New Shift</span>
                                        <div class="padding" layout="row">
                                            <div flex="50" layout="row" layout-align="center center">
                                                <md-input-container class="input_container_emp" md-no-float>
                                                    <label>Start Time</label>
                                                    <input ng-model="sTime" mobiscroll-time="startTimeSettings" class="scheduleInput" />
                                                </md-input-container>
                                            </div>
                                            <div flex="50" layout="row" layout-align="center center">
                                                <md-input-container class="input_container_emp" md-no-float>
                                                    <label>End Time</label>
                                                    <input ng-model="eTime" mobiscroll-time="endTimeSettings" class="scheduleInput" />
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <md-button class="md-primary md-raised" ng-click="addShift()">Add New Shift</md-button>
                                    </div>
                                </md-card-content>
                            </md-card>
                        </div>
                        <div flex-gt-md="50" flex="100" layout="row" layout-align="center stretch">
                            <md-card class=" transparent" flex>
                                <md-card-header class="banner ">
                                    <i class="material-icons ">laptop_windows</i>
                                    <span class="banner-text ">ASSETS</span>
                                </md-card-header>
                                <md-card-content layout="row " flex>
                                    <div flex="50" class="border-right" layout="column">
                                        <h4> LIST OF ASSETS PRESENT</h4>
                                        <ul>
                                            <li ng-repeat="asset in assets">
                                                <h4 class="capitalize">{{asset.name}}</h4>
                                            </li>
                                        </ul>
                                    </div>
                                    <div flex="50">
                                        <div class="text-center ">
                                            <span> ADD NEW ASSET </span>
                                        </div>
                                        <div class="padding">
                                            <span>Enter New Asset</span>
                                            <div>
                                                <md-input-container class="md-block input_container_emp " md-no-float>
                                                    <label>Asset</label>
                                                    <input type="text " ng-model="asset " />
                                                </md-input-container>
                                            </div>
                                            <md-button class="md-primary md-raised" ng-click="addAsset()">Add New Asset</md-button>
                                        </div>
                                    </div>
                                </md-card-content>
                            </md-card>
                        </div>
                        <!-- <div flex-gt-md="50" flex="100" layout="row" layout-align="center stretch">
                            <md-card class=" transparent" flex>
                                <md-card-header class="banner ">
                                    <i class="material-icons">event_seat</i>
                                    <span class="banner-text ">SEAT TYPE</span>
                                </md-card-header>
                                <md-card-content layout="row " flex>
                                    <div flex="50" class="border-right" layout="column">
                                        <h4> LIST OF SEAT TYPES PRESENT</h4>
                                        <ul>
                                            <li ng-repeat="seatType in seatTypes">
                                                <h4 class="capitalize">{{seatType.type}}</h4>
                                            </li>
                                        </ul>
                                    </div>
                                    <div flex="50">
                                        <div class="text-center ">
                                            <span> ADD NEW SEAT TYPE </span>
                                        </div>
                                        <div class="padding">
                                            <span>Enter New Seat Type</span>
                                            <div>
                                                <md-input-container class="md-block input_container_emp " md-no-float>
                                                    <label>Seat Type</label>
                                                    <input type="text " ng-model="seatType " />
                                                </md-input-container>
                                            </div>
                                            <md-button class="md-primary md-raised" ng-click="addSeatType()">Add New Seat Type</md-button>
                                        </div>
                                    </div>
                                </md-card-content>
                            </md-card>
                        </div>
                        <div flex-gt-md="50" flex="100" layout="row" layout-align="center stretch">
                            <md-card class=" transparent" flex>
                                <md-card-header class="banner ">
                                    <i class="material-icons">person</i>
                                    <span class="banner-text ">REPORTING MANAGER</span>
                                </md-card-header>
                                <md-card-content layout="row " flex>
                                    <div flex="50" class="border-right" layout="column">
                                        <h4> LIST OF REPORTING MANAGERS PRESENT</h4>
                                        <ul>
                                            <li ng-repeat="manager in reportingManagers">
                                                <h4 class="capitalize">{{manager.name}}</h4>
                                            </li>
                                        </ul>
                                    </div>
                                    <div flex="50">
                                        <div class="text-center ">
                                            <span> ADD NEW REPORTING MANAGER</span>
                                        </div>
                                        <div class="padding">
                                            <span>Enter New Reporting Manager</span>
                                            <div>
                                                <md-input-container class="md-block input_container_emp " md-no-float>
                                                    <label>Reporting Manager</label>
                                                    <input type="text " ng-model="reportingManager " />
                                                </md-input-container>
                                            </div>
                                            <md-button class="md-primary md-raised" ng-click="addReportingManager()">Add New Reporting Manager</md-button>
                                        </div>
                                    </div>
                                </md-card-content>
                            </md-card>
                        </div> -->
                    </div>
                </div>
            </md-content>
    </md-content>
</section>