<md-dialog aria-label="Seat Config" layout-padding>
    <h4>Choose Template</h4>


    <md-content layout="row" layout-align="space-around center" ng-form="seatform">
        <md-input-container>
              
            <input required md-no-asterisk type="file" files-input name="name" ng-model="seatsfile" />
        </md-input-container>
        <md-input-container>
            <div flex layout="column" layout-align="center stretch">
                <md-button class="md-raised md-primary" ng-click="UploadSeats(seatsfile,seatform)">Save</md-button>
            </div>
        </md-input-container>

        <md-input-container flex>
            <md-button class="md-raised md-primary" ng-click="done()">
                Cancel
            </md-button>
        </md-input-container>
    </md-content>
</md-dialog>