<md-dialog aria-label="Autocomplete Dialog Example" flex = 50>
    <div class="md-toolbar-tools border-bottom">
        <span>Graph Explaination</span>
    </div>
    <md-dialog-content class="md-dialog-content" ng-cloak>
        <img src="img/{{graphImage}}" style="height:400px">
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-primary md-raised" ng-click="closeDialog()">Ok</md-button>
    </md-dialog-actions>
</md-dialog>