<section layout="row" class="full-height" ng-cloak flex>   
    <md-content layout="column" layout-fill>
        <%- include("../includes/toolbar")%>
        <md-content layout="column" class="adappt-watermark-image-dark" flex>
            <div layout="row" layout-wrap>
               <div flex="10" hide-sm hide-xs hide-md layout="row" layout-align="center stretch">
                    <md-card layout='row' layout-align="center center" class="transparent" flex="100">
                        <div flex="100" layout="row" layout-align="center center">
                            <md-button ui-sref="index.dashboard" class="md-primary md-raised back_btn">
                                <i class="fa fa fa-chevron-left back_icon"></i>
                                <span class="back_text">Back</span>
                            </md-button>
                        </div>
                    </md-card>
                </div>
                <div layout="row" flex="90" flex-sm = "100" flex-xs = "100" layout-wrap layout-align = "start center">
                    <div flex="30" flex-sm="50" flex-xs="100" flex-md="50" layout="row" layout-align="center center">
                        <md-card layout='row' class="transparent" flex>
                            <div flex="20" layout="row" layout-align="center center">
                            <md-icon class="floorwise-logo" md-whiteframe="3" md-svg-src = '../img/noun_51470_cc.svg' md-svg-class=""></md-icon>
                            </div>
                            <div flex="80"  class="card-container">
                                <md-select ng-model="selectedFloor"  placeholder="Floor Selection"  md-container-class="container_1" class="darktheme" ng-change="setBus(selectedFloor)">
                                    <md-option ng-repeat ="floor in floors" ng-value="{{floor}}">{{floor.name}}</md-option>
                                </md-select>
                            </div>
                        </md-card>
                    </div>
                    <div flex="30" flex-sm="50" flex-xs="100" flex-md="50" layout="row" layout-align="center center">
                        <md-card layout='row' class="transparent" flex>
                            <div flex="20" layout="row" layout-align="center center">
                                <i class="material-icons floorwise-logo" md-whiteframe="3" >&#xE0AF;</i>
                            </div>
                            <div flex="80"  class="card-container">
                                <md-select ng-model="selectedBu" placeholder="Business Unit Selection" class="darktheme" ng-change="set(selectedBu)">
                                    <md-optgroup label="Business Units" >
                                        <md-option ng-repeat="bu in bus" value="{{bu}}" >{{bu}}</md-option>
                                    </md-optgroup>
                                </md-select>     
                            </div>
                        </md-card>
                    </div>
                    <!-- <div flex="20" flex-sm="50" flex-xs="100" flex-md="50" layout="row" layout-align="center stretch">
                         <md-card layout='row' class="adappt-clock-card" flex>
                            <div flex="20" layout="row" layout-align="center center" class="border-right">
                               <i class="fa fa-clock-o fa-2x"  aria-hidden="true"></i>
                            </div>
                            <div flex="80" class="card-container text-center">
                                <div >
                                    <h5 class="card-h5" style="margin:0">Current Time: {{time}}</h5>
                                    <span>Last Refreshed: {{lastRefreshed}}</span>
                                </div>
                            </div>
                        </md-card>
                    </div> -->
                </div>
            </div>
            <div layout="column" flex>
                <md-card layout="column" class="dark-theme" flex>
                    <md-content class="tab-content-container ng-cloak" ng-cloak ng-class="{blurrred: loadingFloorData}">
                        <div class="floor-layout-dark" style="background:url('/img/{{selectedFloor.layout}}') no-repeat center center; background-size: contain; width: {{selectedFloor.width}}px; height: {{selectedFloor.height}}px;">
                            <div class="text-center">
                                <div class="text-white">LEGEND</div>
                             
                                <div class="inline-block">
                                    <div class="block-legend legend-unused"></div>
                                    <span class="text-white padding">Unused</span> 
                                    <div class="block-legend legend-used10mins"></div>
                                    <span class="text-white padding">Seats Used for 10 Mins - 4Hours</span> 
                                    <div class="block-legend legend-used4-8"></div>
                                    <span class="text-white padding">Seats Used for 4-8Hours</span> 
                                    <div class="block-legend legend-used8-16"></div>
                                    <span class="text-white padding">Seats Used for 8-16Hours</span> 
                                    <div class="block-legend legend-usedmorethan16"></div>
                                    <span class="text-white padding">Seats Used for more than 16 Hours</span> 
                                </div>
                            </div>

                           <!--  <div class="block" ng-repeat="seat in seats" ng-show = "selectedParameter == 'occupancy' || selectedParameter == 'health'" ng-style="{top:seat.posY+'px',left:seat.posX+'px', width:seat.width+'px', height:seat.height+'px'}" ng-class = "seatClass(seat.id)">
                            <md-tooltip md-direction="top" class="md-tooltip-top">{{seat.name}}</md-tooltip>
                            </div> -->


                     <!--        <div class="temp-block"  ng-repeat = "temp in temps" ng-style="{top:temp.posY+'px',left:temp.posX+'px', width:temp.width+'px', height:temp.height+'px'}" ng-class = "tempStatus(seat.id)", ng-show="selectedParameter == 'temperature'">
                                <heat-map data="passed_data"></heat-map>  -->
                            </div>
<!-- 
                           
                    <md-content>
                </md-card>
            </div>
        </md-content>
    </md-content>
</section>