<md-container layout="row" ng-cloak="" layout-fill>
    <md-content layout="column" flex="" style="height:100vh;">
        <%- include("../includes/toolbar") %>
        <md-content layout="row" class="full-height" style="height:100vh;">
            <div layout="column" flex="" style="">
                <md-content class="adappt-watermark-image full-height dark-theme" style="position: relative;height:100vh;">
                    <div layout="row">
                       <div flex="10" hide-sm hide-xs hide-md layout="row" layout-align="center stretch">
                            <md-card class="background1"  layout-align="center center" flex>
                                <md-button ui-sref="index.ldashboard" class="md-primary md-raised" ng-click="hostAddress()">
                                    <span>Back</span>
                                </md-button>
                            </md-card>
                        </div>
                        <div layout="row" flex layout-wrap>
                            <div flex="25" flex-sm="50" flex-xs="100" flex-md="50">
                                <md-card layout='row' layout-align="center center" class="background1" style="padding:0px 15px;" flex>
                                    <div flex="20">
                                        <md-icon class="floorwise-logo" md-whiteframe="3" md-svg-src = '../img/noun_51470_cc.svg' md-svg-class=""></md-icon>
                                    </div>
                                    <div flex="80">
                                        <md-select ng-model="selectedFloor"  placeholder="Floor Selection" ng-change = "onFloorChange(selectedFloor)">
                                            <md-option ng-repeat ="floor in floors" value="{{floor}}">{{floor.name}}</md-option>
                                        </md-select>
                                    </div>
                                </md-card>
                            </div>
                            <div flex="25" flex-sm="50" flex-xs="100" flex-md="50">
                                <md-card layout='row' layout-align="center center" class="background1" style="padding:0px 15px;" flex>
                                    <div flex="20">
                                        <i class="material-icons floorwise-logo" md-whiteframe="3" >&#xE0AF;</i>
                                    </div>
                                    <div flex="80">
                                        <md-select ng-model="roomSelected" ng-change="saveSection()" placeholder="Zone Selection">
                                            <md-option ng-repeat="zone in zones" value="{{zone.id}}">{{zone.name}}</md-option>
                                            <md-option value="all">All Lights</md-option>
                                            <md-option value="custom">Custom control</md-option>
                                        </md-select>     
                                    </div>
                                </md-card>
                            </div>
                            <div flex="25" flex-sm="50" flex-xs="100" flex-md="50">
                                <md-card layout='row' layout-align="center center" class="background1" style="padding:0px 15px;" flex>
                                    <div flex="20">
                                        <i class="material-icons floorwise-logo">wb_iridescent</i>
                                    </div>
                                    <div flex="80">
                                        <md-select ng-model="sceneSelected" ng-change="sceneChange()" placeholder="Scene Selection">
                                            <md-option ng-repeat="scene in zoneScenes" value="{{scene._id}}">{{scene.name}}</md-option>
                                        </md-select>    
                                    </div>
                                </md-card>
                            </div>
                            <div flex="25" flex-sm="50" flex-xs="100" flex-md="50" layout="row" layout-align="center stretch" style="min-height: 80px;">
                                <md-card layout='row' class="background1" ng-class="{'custom-selection': animation == 1}" layout-align="center center" style="padding:0px 15px;" flex>
                                    <div flex="20">
                                        <div layout="column">
                                            <h4>On/Off</h4>
                                            <md-switch ng-model="group" style="margin: 7px 0;" ng-change="groupSwitch(num, group)" class="md-primary"></md-switch>
                                        </div>
                                    </div>
                                    <div flex="80">
                                        <div layout="column">
                                            <h4 style="text-align:center;">Intensity Slider</h4>
                                            <md-slider md-discrete ng-model="slideGroups" class="md-primary" flex min="5" max="99" ng-mouseup="groupSlider()">
                                            </md-slider> 
                                        </div>
                                    </div>
                                </md-card>
                            </div>
                        </div>
                    </div>
                    <div layout="row" layout-align="center center">
                        <md-content>
                            <div class="floor-layout"  style="background: url('img/{{currentFloor.layout}}') no-repeat center center; 
                                        width:{{currentFloor.width}}px;height:{{currentFloor.height}}px; background-size: 100%;">
                                        <!--div ng-repeat="light in Lightsdata" 
                                             class="lightsdiv-position {{light.class}}" 
                                             ng-class="{'light-selected': (light.isSelected == 'yes') && (num == 'custom'),'onoff': light.state == false, 'box-shadow': light.state == true, 'light-selected': light.isSelected == 'yes',
                                             workingLight:light.status==1,zeroIntensity:(light.status == 1)&&(light.intensity == 1),notWorkingLight:(light.status==0) }"
                                             style="opacity:{{(light.intensity/100)+0.1}};top:{{light.posY}}px;left:{{light.posX}}px;width:{{light.width}}px;height:{{light.height}}px;background-color:white;" 
                                             ng-click="selectLight(light)"
                                             ng-right-click="singleLight(event, light, $parent.$index)" title ={{light.name}} 
                                           >
                                        </div-->
                                        <div  ng-click="selectLight(light)"
                                             ng-right-click="singleLight(event, light, $parent.$index)" model="light" ng-repeat="light in Lightsdata| limitTo:100000" class="light {{light.class}}"
                                            style="width:{{light.width}}px; height: {{light.height}}px; left:{{light.posX}}px; top: {{light.posY}}px; background-color:white;opacity:{{(light.intensity/100)+0.1}};"
                                            ng-class="{selected: light.selected}" >
                                            <!--md-tooltip md-direction="bottom" class="md-tooltip-bottom">
                                                <b>"{{light.name}}"</b>
                                            </md-tooltip-->
                                        </div>
                                         <div ng-repeat="light1 in smartSensorData" 
                                             class="lightsdiv-position light sensorCircle" 
                                             ng-class="{'light-selected': (light1.isSelected == 'yes') && (num == 'custom'),'onoff': light1.state == false, 'box-shadow': light1.state == true,'light-selected': light1.isSelected == 'yes'
                                            workingLight:light1.status==1,notWorkingLight:(light1.status==0) }" 
                                             style="opacity:{{(light1.intensity/100)+0.1}};top:{{light1.lightPosY}}px;left:{{light1.lightPosX}}px;width:{{light1.height}}px;height:{{light1.width}}px;" 
                                            title ={{light1.name}} >
                                       </div>
                                       <span class="text">
                                        </span>
                                         <!--md-tooltip md-direction="top" class="md-tooltip-top">{{room.name}}</md-tooltip-->
                                    </div>
                                </div>
                            </div>  
                        </md-content>
                    </div>             
                </md-content>
            </div>                 
        </md-content>
    </md-content>   
</md-container>