<md-dialog style="width:250px;">
    <div style="background: #00937D;color:white">
        <h3 style="text-align: center;padding:0px 10px;">{{lightSelected.name}}</h3>
    </div>
    <div layout='row' layout-align="center center" style="padding:0px 15px;" flex>
        <div flex="20">
            <div layout="column" layout-align="center center">
                <h5 style="text-align:center;">Off/On</h5>
                <md-switch ng-model="lightSwitch" ng-change="singleSwitch(lightSelected)" class="md-primary switch"></md-switch>
            </div>
        </div>
        <div flex="80" ng-hide="selectedIndex == 5 || selectedIndex == 6 || selectedIndex == 7">
            <div layout="column" layout-align="center stretch">
                <h5 style="text-align:center;">Intensity Slider</h5>
                <md-slider ng-model="lightSlider" md-discrete class="md-primary" flex min="5" max="99" ng-mouseup="singleSlider(lightSelected)">
                </md-slider> 
            </div>
        </div>
    </div>
</md-dialog>