<section layout="row" class="full-height" flex>
    <md-content layout="column" layout-fill>
        <md-content layout="column" class="adappt-watermark-image-dark" flex>
            <div layout="row" layout-wrap layout-align="start center" md-whiteframe="5">
                <div flex flex-sm=50 flex-xs=100 flex-md=50>
                    <md-card layout='row' class="transparent" flex>
                        <div flex="20" layout="row" layout-align="center center">
                            <i class="floorwise-logo fa fa-building-o dashboard-logo-size"></i>
                        </div>
                        <div flex="80" class="card-container" layout="column" layout-align="center stretch">
                            <md-select placeholder="Select Building" md-container-class="container_1" class="darktheme" ng-model="selection.building" ng-change="OnBuildingChange(selection.building)">
                                <md-optgroup label="Buildings">
                                    <md-option ng-repeat="building in buildings" ng-value="building">{{building.name}}</md-option>
                                </md-optgroup>
                            </md-select>
                        </div>
                    </md-card>
                </div>
                <div flex flex-sm=50 flex-xs=100 flex-md=50>
                    <md-card layout='row' class="transparent" flex>
                        <div flex="20" layout="row" layout-align="center center">
                            <md-icon class="floorwise-logo" md-whiteframe="3" md-svg-src='../img/noun_51470_cc.svg' md-svg-class=""></md-icon>
                        </div>
                        <div flex="80" class="card-container" layout="column" layout-align="center stretch">
                            <md-select placeholder="Select Floor" md-container-class="container_1" class="darktheme" ng-model="selection.floor" ng-change="OnFloorChange(selection.floor)">
                                <md-optgroup label="Floors">
                                    <md-option ng-value="fl" ng-repeat="fl in floors">{{fl.name}}</md-option>
                                </md-optgroup>
                            </md-select>
                        </div>
                    </md-card>
                </div>
                <div flex flex-sm=100 flex-xs=100 flex-md=100>
                    <md-card layout='row' class="transparent sm-padding" flex layout-align="center stretch">
                         <!--div flex=40 flex-sm=100 flex-xs=100 flex-md=100 layout="column" layout-align="center stretch">
                            <md-button class="md-raised md-primary" ng-click="choosetemplate()">Upload Devices</md-button>
                        </div-->
                        <div flex=30 flex-sm=100 flex-xs=100 flex-md=100 layout="column" layout-align="center stretch">
                            <md-button class="md-raised md-primary" ng-click="addDevices(selection)">Create Devices</md-button>
                        </div>
                        <div flex=40 flex-sm=100 flex-xs=100 flex-md=100 layout="column" layout-align="center stretch">
                            <md-button class="md-raised md-primary" ng-click="deleteDevices(selection)">Delete Devices</md-button>
                        </div>
                <div flex=50 flex-sm=100 flex-xs=100 flex-md=100 layout="column" layout-align="center stretch" ng-if="deviceType == 'light'">
                    <md-button class="md-raised md-primary" ng-disabled="selectedlights.length<=0" ng-click="deletelights()">Delete Selected Lights</md-button>
                </div>
                <div flex=50 flex-sm=100 flex-xs=100 flex-md=100 layout="column" layout-align="center stretch" ng-if="deviceType == 'sensor'">
                    <md-button class="md-raised md-primary" ng-disabled="selectedlights.length<=0" ng-click="deletesensors()">Delete Selected Sensors</md-button>
                </div>
                <div flex=55 flex-sm=100 flex-xs=100 flex-md=100 layout="column" layout-align="center stretch" ng-if="deviceType == 'touch'">
                    <md-button class="md-raised md-primary" ng-disabled="selectedlights.length<=0" ng-click="deleteTouchPanels()">Delete Selected Panels</md-button>
                </div>
                </md-card>
                </div>
            </div>
            <div layout="column" flex>
                <md-card layout="column" class="dark-theme" ng-if="showlayout" flex>
                    <div class="progress-container animate-show-hide" flex layout="row" layout-align="center center" ng-show="makingAjaxCall">
                        <md-progress-circular md-diameter="75"></md-progress-circular>
                    </div>
                    <md-content class="tab-content-container">
                        <ul class="floor-layout" style="background: url('img/{{selectedfloor.layout}}') no-repeat center center; 
                        width:{{selectedfloor.width}}px;height:{{selectedfloor.height}}px; background-size: contain;" id="selectable" selectable="devices" selectable-options="{filter:'li'}" selectable-out="selectedlights" selectable-events="{start:'selectionStart($event, $ui, $selected, $list)', stop:'selectionStop($selected)'}"
                            selectable-list="devices" ng-if="deviceType == ''">
                            <li draggable ng-click="toggleselection($event,light)" ng-dblClick="showPopover($event, light);" model="light" ng-repeat="light in lights| limitTo:100000" class="light {{light.class}}" style="width:{{light.width}}px; height: {{light.height}}px; left:{{light.posX}}px; top: {{light.posY}}px;"
                                ng-class="{selected: light.selected}">
                                <md-tooltip md-direction="bottom" class="md-tooltip-bottom">Double click to edit/ Drag to position
                                    <b>"{{light.name}}"</b>
                                </md-tooltip>
                            </li>
                            <div draggable ng-click="toggleselection($event,sensor)" model="sensor" ng-repeat="sensor in sensors" class="sensor" ng-class="{selected: sensor.selected,'dls':sensor.isDLS==true,'sos':sensor.isSOS==true}" style="left:{{sensor.posX}}px; top: {{sensor.posY}}px;">
                                <md-tooltip md-direction="bottom" class="md-tooltip-bottom"><b>"{{sensor.name}}"</b>
                                </md-tooltip>
                            </div>
                            <div draggable resizable ng-right-click="selecttp($event,tp)" model="tp" ng-repeat="tp in touchpanels" class="touch-panel" ng-class="{selected: tp.selected}" style="left:{{tp.posX}}px; top: {{tp.posY}}px; ">
                                <md-tooltip md-direction="bottom" class="md-tooltip-bottom">Double click to edit/ Drag to position
                                    <b>"{{tp.name}}"</b>
                                </md-tooltip>
                            </div>
                        </ul>

                        <ul class="floor-layout" style="background: url('img/{{selectedfloor.layout}}') no-repeat center center; 
                        width:{{selectedfloor.width}}px;height:{{selectedfloor.height}}px; background-size: contain;" id="selectable" selectable="devices" selectable-options="{filter:'li'}" selectable-out="selectedlights" selectable-events="{start:'selectionStart($event, $ui, $selected, $list)', stop:'selectionStop($selected)'}"
                            selectable-list="devices" ng-if="deviceType == 'sensor'">

                            <li draggable ng-click="toggleselection($event,sensor)" model="sensor" ng-repeat="sensor in sensors" class="sensor" ng-class="{selected: sensor.selected,'dls':sensor.isDLS==true,'sos':sensor.isSOS==true}" style="left:{{sensor.posX}}px; top: {{sensor.posY}}px; ">
                                <md-tooltip md-direction="bottom" class="md-tooltip-bottom"><b>"{{sensor.name}}"</b>
                                </md-tooltip>
                            </li>

                            <div draggable ng-click="toggleselection($event,light)" ng-dblClick="showPopover($event, light);" model="light" ng-repeat="light in lights| limitTo:100000" class="light {{light.class}}" style="width:{{light.width}}px; height: {{light.height}}px; left:{{light.posX}}px; top: {{light.posY}}px;"
                                ng-class="{selected: light.selected}">
                                <md-tooltip md-direction="bottom" class="md-tooltip-bottom">Double click to edit/ Drag to position
                                    <b>"{{light.name}}"</b>
                                </md-tooltip>
                            </div>

                            <div draggable resizable ng-right-click="selecttp($event,tp)" model="tp" ng-repeat="tp in touchpanels" class="touch-panel" ng-class="{selected: tp.selected}" style="left:{{tp.posX}}px; top: {{tp.posY}}px; ">
                                <md-tooltip md-direction="bottom" class="md-tooltip-bottom">Double click to edit/ Drag to position
                                    <b>"{{tp.name}}"</b>
                                </md-tooltip>
                            </div>
                        </ul>

                        <ul class="floor-layout" style="background: url('img/{{selectedfloor.layout}}') no-repeat center center; 
                        width:{{selectedfloor.width}}px;height:{{selectedfloor.height}}px; background-size: contain;" id="selectable" selectable="devices" selectable-options="{filter:'li'}" selectable-out="selectedlights" selectable-events="{start:'selectionStart($event, $ui, $selected, $list)', stop:'selectionStop($selected)'}"
                            selectable-list="devices" ng-if="deviceType == 'light'">
                            <li draggable ng-click="toggleselection($event,light)" ng-dblClick="showPopover($event, light);" model="light" ng-repeat="light in lights| limitTo:100000" class="light {{light.class}}" style="width:{{light.width}}px; height: {{light.height}}px; left:{{light.posX}}px; top: {{light.posY}}px;"
                                ng-class="{selected: light.selected}">
                                <md-tooltip md-direction="bottom" class="md-tooltip-bottom">Double click to edit/ Drag to position
                                    <b>"{{light.name}}"</b>
                                </md-tooltip>
                            </li>
                            <div draggable ng-click="toggleselection($event,sensor)" model="sensor" ng-repeat="sensor in sensors" class="sensor" ng-class="{selected: sensor.selected,'dls':sensor.isDLS==true,'sos':sensor.isSOS==true}" style="left:{{sensor.posX}}px; top: {{sensor.posY}}px; ">
                                <md-tooltip md-direction="bottom" class="md-tooltip-bottom"><b>"{{sensor.name}}"</b> div ng-include="'../includes/action-btns-light'"></div </md-tooltip>
                            <div draggable resizable ng-right-click="selecttp($event,tp)" model="tp" ng-repeat="tp in touchpanels" class="touch-panel" ng-class="{selected: tp.selected}" style="left:{{tp.posX}}px; top: {{tp.posY}}px; ">
                                <md-tooltip md-direction="bottom" class="md-tooltip-bottom">Double click to edit/ Drag to position
                                    <b>"{{tp.name}}"</b>
                                </md-tooltip>
                            </div>
                        </ul>

                        <ul class="floor-layout" style="background: url('img/{{selectedfloor.layout}}') no-repeat center center; 
                        width:{{selectedfloor.width}}px;height:{{selectedfloor.height}}px; background-size: contain;" id="selectable" selectable="devices" selectable-options="{filter:'li'}" selectable-out="selectedlights" selectable-events="{start:'selectionStart($event, $ui, $selected, $list)', stop:'selectionStop($selected)'}"
                            selectable-list="devices" ng-if="deviceType == 'touch'">
                            <li draggable resizable ng-right-click="selecttp($event,tp)" model="tp" ng-repeat="tp in touchpanels" class="touch-panel" ng-class="{selected: tp.selected}" style="left:{{tp.posX}}px; top: {{tp.posY}}px; ">
                                <md-tooltip md-direction="bottom" class="md-tooltip-bottom">Double click to edit/ Drag to position
                                    <b>"{{tp.name}}"</b>
                                </md-tooltip>
                            </li>
                            <div ng-click="toggleselection($event,sensor)" model="sensor" ng-repeat="sensor in sensors" class="sensor" ng-class="{selected: sensor.selected,'dls':sensor.isDLS==true,'sos':sensor.isSOS==true}" style="left:{{sensor.posX}}px; top: {{sensor.posY}}px; ">
                                <md-tooltip md-direction="bottom" class="md-tooltip-bottom"><b>"{{sensor.name}}"</b>
                                </md-tooltip>
                            </div>

                            <div draggable ng-click="toggleselection($event,light)" ng-dblClick="showPopover($event, light);" model="light" ng-repeat="light in lights| limitTo:100000" class="light {{light.class}}" style="width:{{light.width}}px; height: {{light.height}}px; left:{{light.posX}}px; top: {{light.posY}}px;"
                                ng-class="{selected: light.selected}">
                                <md-tooltip md-direction="bottom" class="md-tooltip-bottom">Double click to edit/ Drag to position
                                    <b>"{{light.name}}"</b>
                                </md-tooltip>
                            </div>
                        </ul>
                    </md-content>
                </md-card>
            </div>
            <div ng-include="'../includes/action-btns-light'"></div>
        </md-content>
    </md-content>
</section>