<div layout-align="center center" flex>
    <div layout="column" layout-padding>
        <div layout="row" layout-wrap>
            <div flex="25" flex-sm="50" flex-xs="100" flex-md="50">
                <md-card md-whiteframe="3" layout="row" class="transparent">
                    <div flex="30" layout="row" layout-align="center center" style="border-right: 1px solid lightgrey;color: #00937d;">
                        <i class="fa fa-plug fa-3x"></i>
                    </div>
                    <div flex="70">
                        <div class="md-list-item-text">
                            <h3 class="text-center" style="font-size: 1em;margin-top: 10px;">Light Load</h3>
                            <p class="text-center">
                                <span class="big-text">{{buildings.totalWattage}}W</span>
                        </div>
                    </div>
                </md-card>
            </div>

            <div flex="25" flex-sm="50" flex-xs="100" flex-md="50">
                <md-card md-whiteframe="3" layout="row" class="transparent">
                    <div flex="30" layout="row" layout-align="center center" style="border-right: 1px solid lightgrey;color: #00937d;">
                        <i class="fa fa-lightbulb-o fa-3x"></i>
                    </div>
                    <div flex="70">
                        <div class="md-list-item-text">
                            <h3 class="text-center" style="font-size: 1em;margin-top: 10px;">Total No Of Lights ON</h3>
                            <p class="text-center">
                                <span class="big-text">{{buildings.totalWorkingLights}}</span>
                                <span class="small-text"> / {{buildings.totalAllLight}}</span>
                            </p>
                        </div>
                    </div>
                </md-card>
            </div>

            <div flex="25" flex-sm="50" flex-xs="100" flex-md="50">
                <md-card md-whiteframe="3" layout="row" class="transparent">
                    <div flex="30" layout="row" layout-align="center center" style="border-right: 1px solid lightgrey;color: #00937d;">
                        <i class="fa fa-usd fa-3x"></i>
                    </div>
                    <div flex="70">
                        <div class="">
                            <h3 class="text-center" style="font-size: 1em;margin-top: 10px;">Savings</h3>
                            <p class="text-center">
                                <span class="big-text">{{buildings.totalSavings}}</span>
                                <!--  <span class="small-text"> {{build_data.schedules}}</span> -->
                            </p>
                        </div>
                    </div>
                </md-card>
            </div>

            <div flex="25" flex-sm="50" flex-xs="100" flex-md="50">
                <md-card md-whiteframe="3" layout="row" style="background-color:#00937d; color:white;">
                    <div flex="30" layout="row" layout-align="center center" style="border-right: 1px solid rgba(211, 211, 211,0.6)">
                        <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
                    </div>
                    <div flex="70">
                        <div class="text-center">
                            <h3 class="text-center" style="font-size: 1em;margin-top: 10px">{{day}}</h3>
                            <p>
                                <span class="big-text">{{time}}</span>
                            </p>
                        </div>
                    </div>
                </md-card>
            </div>
        </div>

        <div layout="row" layout-sm="column" layout-xs="column">
            <div flex="75" flex-sm="100" flex-xs="100" class="mapSpecialMargin">
                <div id="Adappt-map" md-whiteframe="3" class="transparent">
                </div>
            </div>
            <div flex="25" flex-sm="100" layout="column" layout-align="center stretch" flex-xs="100">
                <div md-whiteframe="3" flex="25" flex-xs="50" flex-sm="50" class="transparent map-data">
                    <h4 class="text-center">Most Optimal facility</h4>
                    <ul>
                        <li>Lighting management - {{mostOptimal}}</li>
                        <!-- <li>Occupancy management - Barclays BTCI Pune</li> -->
                    </ul>
                </div>
                <div md-whiteframe="3" flex="25" flex-xs="50" flex-sm="50" class="transparent map-data">
                    <h4 class="text-center">Least Optimal facility</h4>
                    <ul>
                        <li>Lighting management - {{leastOptimal}}</li>
                        <!-- <li>Occupancy management - Barclays BTCI Pune</li> -->
                    </ul>
                </div>
                <div md-whiteframe="3" hide-xs hide-sm flex="50" class="transparent map-data">
                    <h4 class="text-center ">Legends</h4>
                    <div layout="column">
                        <div layout="row" layout-align="start center">
                            <div class="red-marker-legend"> </div>
                            <span>0 to 30% Power consumed</span>
                        </div>
                        <div layout="row" layout-align="start center">
                            <div class="yellow-marker-legend"> </div>
                            <span>30 to 70% Power consumed</span>
                        </div>
                        <div layout="row" layout-align="start center">
                            <div class="marker-legend"></div>
                            <span>0 to 30% Power consumed</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-repeat="building in buildings.buildings">
        <md-content layout="row" layout-align="center center" class="md-padding _md layout-align-center-center layout-row">
            <md-card md-whiteframe="3 " class="transparent" flex="90" class="md-padding">
                <div layout-gt-sm="row" layout-sm="column" layout="column" layout-align-gt-sm="center center" layout-align="center stretch" class="layout-gt-sm-row layout-align-gt-sm-center-center layout-align-center-stretch layout-column">
                    <div flex-gt-sm="30" flex="100" layout-align="center center" class="text-center adappt-color-card layout-align-center-center flex-gt-sm-30 flex-100">
                        <md-list role="list">
                            <md-list-item class="md-3-line md-no-proxy _md" role="listitem">
                                <md-icon class="icon icon-white material-icons" aria-hidden="true">
                                    <i class="fa fa-building-o fa-3x"></i>
                                </md-icon>
                                <div class="md-list-item-text">
                                    <h2>{{building.bldgName}}</h2>
                                </div>
                                <div class="md-secondary-container"></div>
                            </md-list-item>
                        </md-list>
                    </div>
                    <div flex-gt-sm="55" flex="100" class="text-center flex-gt-sm-60 flex-100">
                        <div layout="row" layout-align="center center" class="border-bottom layout-align-center-center layout-row">
                            <div flex="" class="sensor-param border-right flex">
                                <md-list role="list">
                                    <md-list-item class="md-2-line md-no-proxy _md" role="listitem">
                                        <md-icon class="icon material-icons" aria-hidden="true"><i class="fa fa-plug dashboard-logo-size"></i></md-icon>
                                        <div class="md-list-item-text">
                                            <h3 class="regular-weight-font">Light Load</h3>
                                            <p><span class="big-text">{{building.totalWattage}}</span></p>
                                        </div>
                                        <div class="md-secondary-container"></div>
                                    </md-list-item>
                                </md-list>
                            </div>

                            <div flex="" class="sensor-param flex">
                                <md-list role="list">
                                    <md-list-item class="md-2-line md-no-proxy _md" role="listitem">
                                        <md-icon class="icon material-icons" aria-hidden="true"><i class="fa fa-lightbulb-o dashboard-logo-size"></i></md-icon>
                                        <div class="md-list-item-text">
                                            <h3 class="regular-weight-font">No Of Lights ON</h3>
                                            <p><span class="big-text">{{building.workingLights}}</span><span class="small-text"> / {{building.totalLights}}</span></p>
                                        </div>
                                        <div class="md-secondary-container"></div>
                                    </md-list-item>
                                </md-list>
                            </div>
                        </div>
                        <div layout="row" layout-align="center center" class="layout-align-center-center layout-row">
                            <div flex="" class="sensor-param border-right flex">
                                <md-list role="list">
                                    <md-list-item class="md-2-line md-no-proxy _md" role="listitem">
                                        <md-icon class="icon material-icons" aria-hidden="true">
                                            <i class="fa fa-usd dashboard-logo-size"></i></md-icon>
                                        <div class="md-list-item-text">
                                            <h3 class="regular-weight-font">Savings</h3>
                                            <p><span class="big-text">{{building.savings}}</span></p>
                                        </div>
                                        <div class="md-secondary-container"></div>
                                    </md-list-item>
                                </md-list>
                            </div>

                            <div flex="" class="sensor-param flex">
                                <md-list role="list">
                                    <md-list-item class="md-2-line md-no-proxy _md" role="listitem">
                                        <md-icon class="icon material-icons" aria-hidden="true"></md-icon>
                                        <div class="md-list-item-text">
                                            <h3 class="regular-weight-font"> Energy </h3>
                                            <p><span class="big-text">{{building.totalUsedEnergy}}kWh</span><span class="small-text"> / {{building.totalEnergy}}kWh</span></p>
                                        </div>
                                        <div class="md-secondary-container"></div>
                                    </md-list-item>
                                </md-list>
                            </div>
                        </div>
                    </div>
                    <div flex-gt-sm="15" flex="100" class="text-center" flex-gt-sm-10 flex-100>
                        <div layout="row" layout-align="center center">
                            <div flex="50">
                                <div layout="column" layout-align="space-around center">
                                    <md-button class="md-raised md-primary" ui-sref="control1({bldgId: building.bldgId})">Controls</md-button>
                                    <!-- <md-button class="md-raised md-primary" ui-sref="lightMapping" >Setting</md-button> -->
                                    <md-button class="md-raised md-primary" ui-sref="lightAnalytics({bldgId: building.bldgId})">Analytics</md-button>
                                    <md-button class="md-raised md-primary" ui-sref="layoutAnalytics({bldgId: building.bldgId})">Layout</md-button>

                                    <!-- <md-checkbox  class="md-primary" style="margin-bottom: 0px;margin-left: -11px;" ng-model = "building.val" ng-change="compareitems(building)">Compare
                  </md-checkbox> -->
                                </div>
                            </div>
                            <div flex>
                                <!-- <div layout="column" layout-align="space-around center" >
                      <div ng-mouseenter="hovering=true" ng-mouseleave="hovering=false" ui-sref="settings1({bldgId: building.bldgId})">
                          <i class="material-icons " ng-class="{'slow-spin':hovering}"  style="font-size: 39px;">settings</i>
                          <h5>Settings</h5>
                      </div>
                  
                </div> -->
                            </div>
                        </div>
                    </div>
            </md-card>
        </md-content>
        </div>

    </div>