<md-container layout="row" class="full-height">
    <md-content layout="column" flex style="height:100vh">
        <div ng-include="'../includes/toolbar'"></div>
        <md-content layout="row" class="full-height">
            <div ng-include="'../includes/commissionsidenav'"></div>

            <md-content flex class="adappt-watermark-image-dark">

                <div layout-align="center center">
                    <div layout="column" layout-padding>
                        <div layout="row" layout-wrap>

                            <div flex=20 flex-sm=50 flex-xs=100 flex-md=50>
                                <md-card class="transparent" md-whiteframe="8">
                                    <md-card-content class="padding-lg">
                                        <md-select placeholder="Select Floor" class="darktheme md-padding" ng-model="selectedfloor" ng-change="OnFloorChange(selectedfloor)">
                                            <md-optgroup label="Floors">
                                                <md-option ng-value="fl" ng-selected="{{ fl._id === selectedfloor._id ? 'true' : 'false' }}" ng-repeat="fl in floors">{{fl.name}}</md-option>
                                            </md-optgroup>
                                        </md-select>

                                    </md-card-content>
                                </md-card>
                            </div>
                            <div flex=20 flex-sm=50 flex-xs=100 flex-md=50>
                                <md-card class="transparent" md-whiteframe="8">
                                    <md-card-content class="padding-lg">
                                        <md-select placeholder="Select Hosts" class="darktheme md-padding" ng-model="ht" ng-change="OnhostChange(ht)">
                                            <md-optgroup label="Hosts">
                                                <md-option ng-repeat="ht in hosts" value="{{ht}}">{{ht.name}}</md-option>
                                            </md-optgroup>
                                        </md-select>

                                    </md-card-content>
                                </md-card>
                            </div>
                            <div flex=20 flex-sm=50 flex-xs=100 flex-md=50>
                                <md-card class="transparent" md-whiteframe="8">
                                    <md-card-content class="md-padding">
                                        <div layout="row" flex style="margin:1%">
                                            <md-input-container class="md-block text-white" layout="row" layout-align="center center">
                                                <input type="text" placeholder="No. seats" ng-model="nof" name="nof" required>
                                            </md-input-container>
                                            <md-input-container class="md-block text-white" layout="row" layout-align="center center">
                                                <md-button class="md-raised md-primary" ng-click="creatseats(nof)">Creat Seats</md-button>
                                            </md-input-container>
                                        </div>
                                    </md-card-content>
                                </md-card>
                            </div>
                            <div flex=40 flex-sm=50 flex-xs=100 flex-md=50>
                                <md-card class="transparent md-padding" md-whiteframe="8">
                                    <md-card-content class="padding-lg">
                                        <v-accordion class="vAccordion--default">
                                            <v-pane>
                                                <v-pane-header>
                                                    Seats Details
                                                </v-pane-header>
                                                <v-pane-content>

                                                    <md-table-container>
                                                        <table data-md-table data-md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" data-ng-model="selected"
                                                            md-progress="promise">

                                                            <thead md-head data-md-order="query.order" md-on-reorder="onReorder">
                                                                <tr md-row>
                                                                    <th md-column md:order:by="name">
                                                                        <span>Name </span>
                                                                    </th>
                                                                    <th md-column md:order:by="bles.address">
                                                                        <span>Address</span>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody md-body>
                                                                <tr md-row md-select="seat._id" md-select-id="name" data-md-on-select="log" md-on-deselect="deselect" x-md-auto-select="options.autoSelect"
                                                                    data-ng-repeat="seat in seats | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page - 1) * query.limit">
                                                                    <td md-cell>{{seat.name}}</td>

                                                                    <td md-cell>{{seat.bles.address}}</td>

                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </md-table-container>

                                                    <data-md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{seats.length}}"
                                                        md-on-paginate="onPaginate" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks"></data-md-table-pagination>
                                                </v-pane-content>
                                            </v-pane>
                                        </v-accordion>
                                    </md-card-content>
                                </md-card>
                            </div>

                        </div>

                        <div flex ng-if="showlayout">
                            <div class="floor-layout" style="background: url('img/{{selectedfloor.layout}}') no-repeat center center; 
                            width:1680px;height:1050px; background-size: 100%;">

                                <div layout="row" layout-align="center center" class="room" ng-repeat="room in rooms" model=room draggable resizable rotatable
                                    ng-dblClick="showroomPopover($event,room, $index)" style="width:{{room.width}}px; height: {{room.height}}px;left:{{room.posX}}px; top: {{room.posY}}px; transform:rotate({{room.rotate}}deg)">{{room.name}}
                                    <!-- <md-tooltip md-direction="bottom" class = "md-tooltip-bottom">Click to edit/ Drag to position</md-tooltip> -->
                                </div>

                                <div draggable ng-dblClick="showPopover($event, seat);" model="seat" ng-repeat="seat in seats" ng-class="getCSSClass(seat)"
                                    style="width:{{seat.width}}px; height: {{seat.height}}px; left:{{seat.posX}}px; top: {{seat.posY}}px; ">
                                    <md-tooltip md-direction="bottom" class="md-tooltip-bottom">Double click to edit/ Drag to position
                                        <b>"{{seat.name}}"</b>
                                    </md-tooltip>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-content>

            <div ng-include="'../includes/action-btns'"></div>
        </md-content>
    </md-content>
</md-container>