<div flex=25>
    <img src="img/flash-off.png" class="dialogimage">
    <md-dialog aria-label="Autocomplete Dialog Example" class="md-padding" flex=100 style="background-color: rgb(43, 43, 43)">
        <div layout="row" class="md-toolbar-tools">

            <h3 class="border-bottom dialogheader">Add Light Type</h3>
        </div>
        <form type="post" name="lighttypeform" ng-submit="createlighttype(lighttype,lighttypeform)">
            <md-dialog-content class="md-dialog-content text-dark" ng-cloak>

                <md-input-container class="md-block text-white">
                    <input required md-no-asterisk type="text" name="name" ng-model="lighttype.name" placeholder="Light Type Name" />
                    <div ng-messages="lighttypeform.name.$error">
                        <div ng-message="required">Light Type Name is required.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block text-white">
                    <input required md-no-asterisk type="number" name="wattage" ng-pattern="/^[0-9]*$/" ng-model="lighttype.wattage" ng-minlength="1"
                        placeholder="Wattage" />
                    <div ng-messages="lighttypeform.wattage.$error">
                        <div ng-message="required">Wattage Requires in numbers is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block text-white">
                    <md-select placeholder="Select Shape" required name="shape" class="darktheme" ng-model="selectedshape">
                        <md-optgroup label="Light Shape">
                            <md-option ng-repeat="shape in shapes" ng-value="shape">{{shape.name}}</md-option>
                        </md-optgroup>
                    </md-select>
                    <div ng-messages="lighttypeform.shape.$error">
                        <div ng-message="required">Shape is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block text-white">
                    <input md-no-asterisk type="text" name="discription" ng-model="lighttype.discription" placeholder="Discription" />

                </md-input-container>

            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button class="md-raised md-primary" ng-click="closeDialog()">Cancel</md-button>
                <md-button class="md-raised md-primary" type="submit">Done</md-button>

            </md-dialog-actions>
        </form>
    </md-dialog>
</div>