<md-dialog aria-label="Autocomplete Dialog" >
    <div class="md-toolbar-tools border-bottom">
        <span>Reset Password</span>
    </div>
    <md-dialog-content class="md-dialog-content" ng-cloak>
        <form name="dialogform">
            <span>Set Password to</span>
                <div flex>
                    <md-input-container class="md-block input_container" md-no-float>
                        <input required placeholder="Password" ng-model="newPassword" type="text"/>
                    </md-input-container>
                </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-primary md-raised" ng-click="reset()">Reset</md-button>
        <md-button class="md-primary md-raised" ng-click="cancelreset()">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>