<md-dialog style="background:#32323a;overflow-x:hidden;width:400px;">
    <div style="background: #00937D;color:white">
        <h3 style="text-align: center;padding:0px 10px;">New Scene</h3>
    </div>
  
    <div layout="row" layout-align="center center" class="scheduleInput1">
        <md-input-container class="dialogInput">
            <input type="text" placeholder="Scene Name" class="scheduleInput" ng-model="sceneName">
        </md-input-container>
    </div>
   
    <md-button class="md-primary md-raised" ng-click="addScene()" style="margin-top:10px;">
        <h4>Create</h4>
    </md-button>
</md-dialog>
