<md-dialog style="width:270px;height:170px;">
    <div style="background: #00937D;color:white">
        <h3 style="text-align: center;padding:0px 10px;">{{lightSelected.lightName}}</h3>
    </div>
    <div layout='row' layout-align="center center" style="padding:0px 15px;" flex>
        <div flex="20">
            <div layout="column" layout-align="center stretch" ng-init="sceneSwitch = true">
                <h5 style="text-align:center;">Off/On</h5>
                <md-switch ng-model="sceneSwitch"  class="md-primary switch"></md-switch>
            </div>
        </div>
        <div flex="80">
            <div layout="column" layout-align="center stretch" ng-init="sceneSlider = 99">
                <h5 style="text-align:center;">Intensity Slider</h5>
                <md-slider ng-model="sceneSlider" md-discrete class="md-primary" flex min="0" max="99">
                </md-slider> 
            </div>
        </div>
    </div>
     <md-button class="md-primary md-raised" ng-click="addSceneLights(lightSelected)" style="margin-top:10px;">
        <h4>Done</h4>
    </md-button>
</md-dialog>