<md-dialog style="background:#32323a;overflow-x:hidden;width:400px;">
    <div style="background: #00937D;color:white">
        <h3 style="text-align: center;padding:0px 10px;">Create/Edit Schedule</h3>
    </div>
   <!--  <div class="scheduleInput1"> -->
        <div layout="row" layout-align="center center" class="scheduleInput1">
            <md-input-container class="dialogInput">
                <input type="text" placeholder="Schedule Name" class="scheduleInput" ng-model="sName">
            </md-input-container>
        </div>
        <div layout="row" layout-align="center center" class="scheduleInput1">
            <md-select placeholder="Select Start Time" class="dialogInput scheduleInput" md-container-class="container_1" ng-model="selectedRoom.startTime">
                <md-optgroup label="Start Time">
                    <md-option ng-value="t.time" ng-repeat="t in timings">{{t.name}}</md-option>
                </md-optgroup>
            </md-select>
            </div>
            <div layout="row" layout-align="center center" class="scheduleInput1">
                <md-select placeholder="Select End Time" class="dialogInput scheduleInput" md-container-class="container_1" ng-model="selectedRoom.endTime">
                    <md-optgroup label="End Time">
                        <md-option ng-value="t.time" ng-repeat="t in timings" ng-if="t.time > selectedRoom.startTime">{{t.name}}</md-option>
                    </md-optgroup>
            </md-select>
        </div>

        <div layout="row" layout-align="center center" class="scheduleInput1">
            <md-select placeholder="Select Meeting Days" class="darktheme dialogInput scheduleInput" md-container-class="container_1" ng-model="selectedRoom.scheduleDays" multiple>
                <md-optgroup label="Repeat Days">
                    <md-option ng-value="day.number" ng-repeat="day in days1">{{day.name}}</md-option>
                </md-optgroup>
            </md-select>
        </div>
    <!-- </div> -->
    <md-button class="md-primary md-raised" ng-click="saveSchedule()" ng-if="createNewSchedule == true" style="margin-top:10px;">
        <h4>Save</h4>
    </md-button>
    <md-button class="md-primary md-raised" ng-click="saveSchedule()" ng-if="editSchedule == true" style="margin-top:10px;">
        <h4>Update</h4>
    </md-button>
</md-dialog>
