<md-content class="full-height adappt-watermark-image-dark" id="parent">
    <div style="float:right;" class="md-padding">
        <md-button class="md-raised md-primary" ng-click="addseattype()"> Add New SeatType</md-button>
    </div>
    <div layout-align="center center" style="margin-top:5%">
        <div layout="column" layout-padding>
            <div layout="row" layout-wrap>
                <div flex=50 flex-sm=50 flex-xs=100 flex-md=50 ng-repeat="seattype in seattypes">
                    <md-card layout='row' class="transparent" flex>
                        <md-card-title style="padding: 0px 5px 0px 5px;">
                            <md-card-title-media>
                                <img src="img/chair.png">
                            </md-card-title-media>
                            <md-card-title-text layout-align="end end">
                                <span class="md-headline bottomborder mdcard-titletext">Seat Type Details</span>
                                <div layout="row" class="mdcard-titlecontent">
                                    <span flex=45 class="md-headline mdcard-titlecontent">
                                        <b>Type</b> : {{seattype.name}}</span>
                                    <span flex=45 class="md-headline mdcard-titlecontent">
                                        <b>Cost</b> : {{seattype.cost}}</span>
                                    <span flex=10 class="md-headline mdcard-titlecontent">
                                        <i class="material-icons text-danger" ng-click="deleteseattype(seattype)" style="cursor: pointer">delete</i>
                                    </span>
                                </div>
                                <div layout="row" class="mdcard-titlecontent">

                                    <span flex=45 class="md-headline mdcard-titlecontent">
                                        <b>Area Consumption</b> : {{seattype.area}}</span>
                                    <span flex=45 class="md-headline mdcard-titlecontent">
                                        <b>Shape</b> : {{seattype.shapename}}</span>
                                    <span flex=10 class="md-headline mdcard-titlecontent">
                                        <!--     <i class="material-icons">rate_review</i> -->
                                        <i class="material-icons text-success" ng-click="editseattype(seattype)" style="cursor: pointer">mode_edit</i>
                                    </span>

                                </div>
                            </md-card-title-text>

                        </md-card-title>

                    </md-card>
                </div>

            </div>
        </div>
    </div>
</md-content>