<div layout-align="center center" flex>
    <div layout="column" layout-padding>
        <div layout="row" layout-wrap>
            <div flex="25" flex-sm="50" flex-xs="100" flex-md="50">
                <md-card md-whiteframe="3" layout="row" class="transparent">
                    <div flex="30" layout="row" layout-align="center center" class="card-icon-adappt-color">
                        <i class="fa fa-users fa-3x"></i>
                    </div>
                    <div flex="70">
                        <div>
                            <h3 class="text-center card-h3">Total Seats</h3>
                            <p class="text-center">
                                <span class="big-text">{{dashboard_data.totalSeats}}</span>
                            </p>
                        </div>
                    </div>
                </md-card>
            </div>
            <div flex="25" flex-sm="50" flex-xs="100" flex-md="50">
                <md-card md-whiteframe="3" layout="row" class="transparent">
                    <div flex="30" layout="row" layout-align="center center" class="card-icon-adappt-color">
                        <i class="fa fa-id-card fa-3x"></i>
                    </div>
                    <div flex="70">
                        <div class="md-list-item-text">
                            <h3 class="text-center card-h3">Assigned Seats</h3>
                            <p class="text-center">
                                <span class="big-text">{{dashboard_data.filledSeats}}</span>
                            </p>
                        </div>
                    </div>
                </md-card>
            </div>
            <div flex="25" flex-sm="50" flex-xs="100" flex-md="50">
                <md-card md-whiteframe="3" layout="row" class="transparent">
                    <div flex="30" layout="row" layout-align="center center" class="card-icon-adappt-color">
                        <i class="fa fa-heartbeat fa-3x"></i></div>
                    <div flex="70">
                        <div class="md-list-item-text">
                            <h3 class="text-center card-h3">Unassigned Sensors</h3>
                            <p class="text-center">
                                <span class="big-text">{{dashboard_data.totalSeats - dashboard_data.filledSeats}}</span>
                        </div>
                    </div>
                </md-card>
            </div>
            <div flex="25" flex-sm="50" flex-xs="100" flex-md="50">
                <md-card md-whiteframe="3" layout="row" class="adappt-clock-card">
                    <div flex="30" layout="column" layout-align="center center" class="card-icon">
                        <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
                    </div>
                    <div flex="70">
                        <div class="text-center">
                            <h3 class="text-center card-h3">{{day}}</h3>
                            <p>
                                <span class="big-text">{{time}}</span>
                            </p>
                        </div>
                    </div>
                </md-card>
            </div>
        </div>
        <div layout="row" layout-sm="column" layout-xs="column" style="min-height:350px;">
            <div flex="75" flex-sm="100" flex-xs="100" class="mapSpecialMargin">
                <div id="Adappt-map" md-whiteframe="3" class="transparent">
                </div>
            </div>
            <div flex="25" flex-sm="100" layout="column" layout-align="center stretch" flex-xs="100">
                <div md-whiteframe="3" flex="25" flex-xs="50" flex-sm="50" class="transparent map-data">
                    <h4 class="text-center">Most Optimal facility</h4>
                    <ul>
                        <li>Seat management - {{mostOptimal}}</li>
                    </ul>
                </div>
                <div md-whiteframe="3" flex="25" flex-xs="50" flex-sm="50" class="transparent map-data">
                    <h4 class="text-center">Least Optimal facility</h4>
                    <ul>
                        <li>Seat management - {{leastOptimal}}</li>
                    </ul>
                </div>
                <div md-whiteframe="3" hide-xs hide-sm flex="50" class="transparent map-data">
                    <h4 class="text-center ">Legends</h4>
                    <div layout="column">
                        <div layout="row" layout-align="start center">
                            <div class="red-marker-legend"> </div>
                            <span>0 to 30% Assigned</span>
                        </div>
                        <div layout="row" layout-align="start center">
                            <div class="yellow-marker-legend"> </div>
                            <span>30 to 70% Assigned</span>
                        </div>
                        <div layout="row" layout-align="start center">
                            <div class="marker-legend"></div>
                            <span>70 to 100% Assigned</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-repeat="building in buildings">
        <md-content layout="row" layout-align="center center" class="md-padding  layout-align-center-center layout-row">
            <md-card md-whiteframe="3 " class="transparent" flex="90" class="md-padding">
                <div layout-gt-sm="row" layout-sm="column" layout="column" layout-align-gt-sm="center center" layout-align="center stretch" class="layout-gt-sm-row layout-align-gt-sm-center-center layout-align-center-stretch layout-column">
                    <div flex-gt-sm="30" flex="100" layout-align="center center" class="text-center adappt-color-card layout-align-center-center flex-gt-sm-30 flex-100">
                        <md-list role="list">
                            <md-list-item class="md-3-line md-no-proxy " role="listitem">
                                <md-icon class="icon icon-white material-icons" aria-hidden="true">
                                    <i class="fa fa-building-o building-font"></i>
                                </md-icon>
                                <div class="md-list-item-text">
                                    <h2>{{building.bldgName}}</h2>
                                </div>
                                <div class="md-secondary-container"></div>
                            </md-list-item>
                        </md-list>
                    </div>
                    <div flex-gt-sm="55" flex="100" class="text-center flex-gt-sm-60 flex-100">
                        <div layout="row" layout-align="center center" class="border-bottom layout-align-center-center layout-row">
                            <div flex="" class="sensor-param border-right flex">
                                <md-list role="list">
                                    <md-list-item class="md-2-line md-no-proxy" role="listitem">
                                        <md-icon class="icon material-icons" aria-hidden="true"><i class="fa fa-building-o dashboard-logo-size"></i></md-icon>
                                        <div class="md-list-item-text">
                                            <h3 class="regular-weight-font">Total Seats</h3>
                                            <p><span class="big-text">{{building.totalSeats}}</span></p>
                                        </div>
                                        <div class="md-secondary-container"></div>
                                    </md-list-item>
                                </md-list>
                            </div>

                            <div flex="" class="sensor-param flex">
                                <md-list role="list">
                                    <md-list-item class="md-2-line md-no-proxy " role="listitem">
                                        <md-icon class="icon material-icons" aria-hidden="true"><i class="fa fa-users dashboard-logo-size"></i></md-icon>
                                        <div class="md-list-item-text">
                                            <h3 class="regular-weight-font">Seats Assigned</h3>
                                            <p><span class="big-text">{{building.filledSeats}}</span></p>
                                        </div>
                                        <div class="md-secondary-container"></div>
                                    </md-list-item>
                                </md-list>
                            </div>
                        </div>
                        <div layout="row" layout-align="center center" class="layout-align-center-center layout-row">
                            <div flex="" class="sensor-param border-right flex">
                                <md-list role="list">
                                    <md-list-item class="md-2-line md-no-proxy " role="listitem">
                                        <md-icon class="icon material-icons" aria-hidden="true"><i class="fa fa-thermometer-full dashboard-logo-size"></i></md-icon>
                                        <div class="md-list-item-text">
                                            <h3 class="regular-weight-font">Seats Unassigned</h3>
                                            <p><span class="big-text">{{building.totalSeats - building.filledSeats}}</span></p>
                                        </div>
                                        <div class="md-secondary-container"></div>
                                    </md-list-item>
                                </md-list>
                            </div>

                            <div flex="" class="sensor-param flex">
                                <md-list role="list">
                                    <md-list-item class="md-2-line md-no-proxy " role="listitem">
                                        <md-icon class="icon material-icons" aria-hidden="true"><i class="fa fa-heartbeat dashboard-logo-size"></i></md-icon>
                                        <div class="md-list-item-text">
                                            <h3 class="regular-weight-font">Total Buisness Units</h3>
                                            <p><span class="big-text">12</span></p>
                                            <!-- <span> -- </span> -->
                                        </div>
                                        <div class="md-secondary-container"></div>
                                    </md-list-item>
                                </md-list>
                            </div>
                        </div>
                    </div>
                    <div layout="column">
                        <md-input-container>
                            <div layout="row">
                                <md-button ui-sref="assignPeople" class="md-primary md-raised seat_buttons" ng-disabled="button_disable(building.bldgId)">Seat Assignment</md-button>
                                <md-button ui-sref="seatAllocationAnalytics({bldgId: '59b0126b138ae0871a99ecce'})" class="md-primary md-raised seat_buttons">Analytics</md-button>
                            </div>
                            <div layout="row">
                                <md-button ui-sref="parkingAllotment" class="md-primary md-raised seat_buttons" ng-disabled="button_disable(building.bldgId)">Parking</md-button>
                                <md-button ui-sref="lockerRoom" class="md-primary md-raised seat_buttons" ng-disabled="button_disable(building.bldgId)">Lockers</md-button>
                            </div>
                        </md-input-container>
                        <!-- <md-checkbox class="md-primary" ng-model="building.val" ng-change="compareitems(building)" ng-disabled="button_disable(building.bldgId)">Compare -->
                        <!-- </md-checkbox> -->

                    </div>
                </div>
            </md-card>
        </md-content>
    </div>
    <div class="text-center">
        <!-- <md-button class="adappt-btn print-button cmp_padding" ui-sref="comparision" ng-show="showcmpbtn">Compare ({{count}}) </md-button> -->
    </div>
</div>