<md-dialog aria-label="Autocomplete Dialog" ng-class="blur_content" flex="30">
    <div class="md-toolbar-tools border-bottom">
        <span>Sensor Management</span>
    </div>
    <md-dialog-content class="md-dialog-content" ng-cloak>
        <div layout="column">
            <!-- <md-input-container class="dialoginput">
                <input type="text" placeholder="Sensor address" ng-model="sensoraddress"/>
            </md-input-container> -->
            <md-input-container class="dialoginput">
                <input type="text" placeholder="Seat Name" ng-model="sensorname"/>
            </md-input-container>
            <md-input-container class="dialoginput">
                <input type="text" placeholder="BLE address" ng-model="sensorble"/>
            </md-input-container>
        </div>  
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-primary md-raised" ng-click="changeseatData()">Save</md-button>
        <md-button class="md-primary md-raised" ng-click="cancel()">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>

