<md-container layout="row" ng-cloak="" layout-fill>
    <md-content layout="column" flex="">      
        <md-content layout="row" class="full-height">
            <div layout="column" flex="" style="">
                <md-content class="adappt-watermark-image full-height dark-theme" style="position: relative;">
                    <div layout="row" md-whiteframe="5">
                        <div layout="row" flex>
                            <div flex="25" flex-sm="50" flex-xs="100" flex-md="50">
                                <md-card layout='row' layout-align="center center" class="background1" style="padding:0px 15px;" flex>
                                    <div flex="20">
                                        <md-icon class="floorwise-logo" md-whiteframe="3" md-svg-src = '../img/noun_51470_cc.svg' md-svg-class=""></md-icon>
                                    </div>
                                    <div flex="80">
                                        <md-select ng-model="buildingSelected"  placeholder="Building Selection" ng-change="changeBuilding(buildingSelected)">
                                            <md-option ng-repeat ="building in buildings" value="{{building}}">
                                               {{building.name}}
                                               
                                            </md-option>
                                        </md-select>
                                    </div>
                                </md-card>
                            </div>
                            <div flex="25" flex-sm="50" flex-xs="100" flex-md="50">
                                <md-card layout='row' layout-align="center center" class="background1" style="padding:0px 15px;" flex>
                                    <div flex="20">
                                        <md-icon class="floorwise-logo" md-whiteframe="3" md-svg-src = '../img/noun_51470_cc.svg' md-svg-class=""></md-icon>
                                    </div>
                                    <div flex="80">
                                        <md-select ng-model="floorSelected"  placeholder="Floor Selection" ng-change ="changeFloor(floorSelected)">
                                            <md-option ng-repeat ="floor in floors" value="{{floor}}">{{floor.name}}</md-option>
                                        </md-select>
                                    </div>
                                </md-card>
                            </div>
                            <div flex="25" flex-sm=50 flex-xs=100 flex-md=50>
                                <md-card layout='row' layout-align="center center" class="background1" style="padding:0px 15px;" flex>
                                    <div flex="20">
                                        <md-icon class="floorwise-logo" md-whiteframe="3" md-svg-src='../img/cloud.svg' md-svg-class=""></md-icon>
                                    </div>
                                    <div flex="80">
                                        <md-select placeholder="Select host" ng-model="selection.host" ng-change="OnHostChange(selection.host)">
                                                <md-option ng-value="host" ng-repeat="host in hosts">{{host.name}}</md-option>
                                        </md-select>
                                    </div>
                                </md-card>
                            </div>
                            <div flex="25" flex-sm="50" flex-xs="100" flex-md="50">
                                <md-card layout='row' layout-align="center center" class="background1" style="padding:0px 15px;" flex>
                                    <div flex="20">
                                        <i class="material-icons floorwise-logo" md-whiteframe="3" >&#xE0AF;</i>
                                    </div>
                                    <div flex="60">
                                        <md-select ng-model="zoneSelected" ng-change="gZoneLights(zoneSelected)" placeholder="Zone Selection">
                                            <md-option ng-repeat="z in zones" ng-value="z">
                                            {{z.name}}
                                                <!--div layout="row" ng-click="">
                                                    <div flex ></div>
                                               </div-->
                                            </md-option>                  
                                            <div layout="row" layout-align="center center">
                                                <div class="plusSettings" ng-click="newZones()">
                                                    <i class="material-icons plusIcon">add</i>
                                                </div>
                                            </div>                                   
                                        </md-select>     
                                    </div>
                                    <div flex="10" ng-if="zoneSelected" ng-click="editZoneLights(selectedZone)" class="icon-position"><img src="img/pencil3.png"/></div>
                                    <div flex="10" ng-if="zoneSelected" ng-click="deleteZone(selectedZone)" class="icon-position"><img src="img/dustbin2.png"/></div>
                                </md-card>
                            </div>
                            <div flex="25" flex-sm="50" flex-xs="100" flex-md="50">
                                <md-card layout='row' layout-align="center center" class="background1" style="padding:0px 15px;" flex>
                                    <div flex="20">
                                        <i class="material-icons floorwise-logo">wb_iridescent</i>
                                    </div>
                                    <div flex="60">
                                        <md-select ng-model="sceneSelected" ng-change="sceneLights(sceneSelected)" placeholder="Scene Selection">
                                            <md-option ng-repeat="scene in selectedZone.scenes" ng-value="scene">
                                            {{scene.name}}
                                            </md-option>                  
                                            <div layout="row" layout-align="center center">
                                                <div class="plusSettings" ng-click="newScene()">
                                                    <i class="material-icons plusIcon">add</i>
                                                </div>
                                            </div>
                                        </md-select>    
                                    </div>
                                    <div flex="10" ng-if="sceneSelected" ng-click="editSceneLights(selectedScene)" class="icon-position"><img src="img/pencil3.png"/></div>
                                    <div flex="10" ng-if="sceneSelected" ng-click="deleteScene(selectedScene)" class="icon-position"><img src="img/dustbin2.png"/></div>
                                </md-card>
                            </div>
                            <div flex="25" flex-sm="50" flex-xs="100" flex-md="50">
                                <md-card layout='row' layout-align="center center" class="background1" style="padding:0px 15px;" flex>
                                    <div flex="20">
                                        <i class="material-icons floorwise-logo">wb_iridescent</i>
                                    </div>
                                    <div flex="60">
                                        <md-select ng-model="scheduleSelected" ng-change="scheduleLights(scheduleSelected)" placeholder="Schedule Selection">
                                            <md-option ng-repeat="schedule in selectedZone.schedules" ng-value="schedule">
                                            {{schedule.name}}
                                                <!--div layout="row" ng-click="scheduleLights(schedule)">
                                                    <div flex >{{schedule.name}}</div>
                                                </div-->
                                            </md-option>                                      
                                            <div layout="row" layout-align="center center">
                                                <div class="plusSettings" ng-click="newSchedule()">
                                                    <i class="material-icons plusIcon">add</i>
                                                </div>
                                            </div>      
                                        </md-select>      
                                    </div>
                                    <div flex="10" ng-if="scheduleSelected" ng-click="editScheduleLights(selectedSchedule)" class="icon-position"><img src="img/pencil3.png"/></div>
                                    <div flex="10" ng-if="scheduleSelected" ng-click="deleteSchedule(selectedSchedule)" class="icon-position"><img src="img/dustbin2.png"/></div>
                                </md-card>
                            </div>
                        </div>
                    </div>
                    <div layout="row" layout-align="center center">                          
                        <md-content style="">
                        <div flex ng-if="showlayout">
                            <div class="floor-layout" style="background: url('img/{{floorLayout.layout}}') no-repeat center center; 
                                        width:{{floorLayout.width}}px;height:{{floorLayout.height}}px; background-size: contain;" >
                                    <div ng-repeat="light in Lightsdata" 
                                         ng-init="light.state = false"
                                         class="light {{light.class}}"
                                         ng-class="{'zoneLights':light.isSelected == 'yes','sceneLights':light.isSceneSelected == true,'scheduleLights':light.isSchedule == true}" 
                                         style="width:{{light.width}}px; height: {{light.height}}px; left:{{light.posX}}px; top: {{light.posY}}px;"
                                         ng-click="addLights(light, section.roomName)"
                                         title="{{light.lightName}}"
                                         >
                                    </div>
                                </div>
                            </div>
                        </md-content> 
                        <div ng-cloak class="action-btns">
                            <md-button aria-label="Save Zone"ng-if="createNewZone == 'new' || editZone == true"  class="md-fab md-raised" ng-click="saveZone(Lightsdata)" style = "background-color:#00937d;color:white">
                                <md-tooltip md-direction="up" md-visible="tooltipVisible" md-autohide="false" class="md-tooltip-top">Save Zone</md-tooltip>
                                <md-icon aria-label="Save Zone" class="material-icons" style = "color:white">save</md-icon>
                            </md-button> 
                             <md-button aria-label="Save Scene"  ng-if="createNewScene == true || editScene == true" ng-click="saveScene()" class="md-fab md-raised"style = "background-color:#00937d;color:white">
                                <md-tooltip md-direction="up" md-visible="tooltipVisible" md-autohide="false" class="md-tooltip-top">Save Scene</md-tooltip>
                                <md-icon aria-label="Save Scene" class="material-icons" style = "color:white">save</md-icon>
                            </md-button> 
                            <md-button aria-label="Save Scene"  ng-if="createNewSchedule == true" ng-click="createSchedule()" class="md-fab md-raised"style = "background-color:#00937d;color:white">
                                <md-tooltip md-direction="up" md-visible="tooltipVisible" md-autohide="false" class="md-tooltip-top">Create Schedule</md-tooltip>
                                <md-icon aria-label="Save Scene" class="material-icons" style = "color:white">schedule</md-icon>
                            </md-button> 
                            <md-button aria-label="Save Scene"  ng-if="editSchedule == true" ng-click="updateSchedule()" class="md-fab md-raised"style = "background-color:#00937d;color:white">
                                <md-tooltip md-direction="up" md-visible="tooltipVisible" md-autohide="false" class="md-tooltip-top">Update Schedule</md-tooltip>
                                <md-icon aria-label="Save Scene" class="material-icons" style = "color:white">schedule</md-icon>
                            </md-button> 
                        </div>
                    </div>      
                </md-content>
            </div>                 
        </md-content>
    </md-content>   
</md-container>