<md-container layout="row" class="full-height">
    <div class="progress-container animate-show-hide" flex layout="row" layout-align="center center" ng-show="makingAjaxCall">
        <md-progress-circular md-diameter="75"></md-progress-circular>
    </div>
    <md-content layout="column" flex style="height:100vh">
        <%- include("../includes/toolbar")%>
            <md-content layout="row" class="full-height">
                <md-content flex class="adappt-watermark-image-dark">
                    <section layout="row" class="full-height" ng-cloak ng-class="{'blurred':blur_content}" flex>
                        <md-content layout="row" layout-align="center center" class="adappt-watermark-image-dark main-content padding" flex style="overflow-y:hidden">
                            <div layout="column" flex="95">
                                <md-card layout="column" flex>
                                    <md-card-header layout="row" class="banner user-mgt" flex="20">
                                        <span flex="80">VPN certificate cards</span>
                                        <div flex="20" class="text-right">
                                            <md-button class="md-fab md-mini addbutton delete-icon">
                                                <i class="material-icons icon_allignation" ng-click="certificateDetails()">add</i>
                                                <md-tooltip md-direction="bottom" class="md-tooltip-bottom">Add certificate</md-tooltip>
                                            </md-button>
                                        </div>

                                    </md-card-header>
                                    <div ui-grid="gridOptions" ui-grid-pagination></div>

                                </md-card>

                            </div>
                    </section>
                    </md-content>
                </md-content>


            </md-content>

</md-container>