<div ng-cloak class="action-btns">
    <!-- 
        <md-button aria-label="Back" class="md-fab md-raised" ui-sref = '{{back}}'>
            <md-tooltip md-direction="top" class = "md-tooltip-top">Back</md-tooltip>
            <md-icon aria-label="Back" class="material-icons">arrow_back</md-icon>
        </md-button> -->


    <md-fab-speed-dial ng-hide="hidden" style="position:fixed;top: auto;right: 20px;bottom: 20px;left: auto;" md-direction="left"
        md-open="isOpen" class="md-scale md-fab-top-right" ng-class="{ 'md-hover-full': hover }" ng-mouseenter="isOpen=true"
        ng-mouseleave="isOpen=false">
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab md-warn">
                <md-icon aria-label="SaveSeats" class="material-icons">save</md-icon>
            </md-button>
        </md-fab-trigger>

        <md-fab-actions>
            <div ng-repeat="item in items">
                <md-button aria-label="{{item.name}}" class="md-fab md-raised md-mini" style="background-color:#ccc" ng-click="openDialog($event, item.type)">
                    <md-tooltip md-direction="{{item.direction}}" md-visible="tooltipVisible" md-autohide="false" class="md-tooltip-top">
                        {{item.name}}
                    </md-tooltip>
                    <md-icon class="material-icons">{{item.icon}}</md-icon>

                </md-button>
            </div>
        </md-fab-actions>
    </md-fab-speed-dial>

    <!-- <md-button aria-label="SaveSeats" class="md-fab md-raised" ng-click="UpdateAllSeats()">
        <md-tooltip md-direction="top" class="md-tooltip-top">Save Seats</md-tooltip>
        <md-icon aria-label="SaveSeats" class="material-icons">save</md-icon>
    </md-button>
    <md-button aria-label="SaveRooms" class="md-fab md-raised" ng-click="UpdateAllRooms()">
        <md-tooltip md-direction="top" class="md-tooltip-top">Save Rooms</md-tooltip>
        <md-icon aria-label="SaveRooms" class="material-icons">save</md-icon>
    </md-button> -->
    <!-- <md-button aria-label="Next" class="md-fab md-raised " ui-sref = '{{next}}' ng-disabled = "!nextCondition">
            <md-tooltip md-direction="top" class = "md-tooltip-top">Next</md-tooltip>
            <md-icon aria-label="Next" class="material-icons">arrow_forward</md-icon>
        </md-button> -->
</div>