<!-- <md-sidenav class="md-sidenav-left dark-side-nav" flex="15" style="height: 100%" md-component-id="sidenav-left" md-is-locked-open="$mdMedia('gt-md')"> -->
<md-sidenav flex="15" md-component-id="left" class="md-sidenav-left md-whiteframe-glow-z1 dark-side-nav" style="height: 100%" md-is-locked-open="$mdMedia('gt-sm')">
    <!-- <div class="ad-dark-content"> -->

    <md-content role="navigation" style="padding: 25px 10px 10px 10px;background-color: #212222;height: 100%">
        <ul class="side-menu" style="margin:0px;">
            <li ng-repeat="section in menu.sections" class="parent-list-item" style="transform:none" ng-class="{'active' :isSectionSelected(section)}">
                <h2 class="menu-heading" ng-if="section.type === 'heading'" id="heading_{{ section.name | nospace }}" style="color:#fff">
                    {{section}}
                </h2>
                <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
                <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
            </li>
        </ul>

    </md-content>
    <!-- </div> -->
</md-sidenav>