<div ng-cloak class="help-btns">
        <md-button aria-label="Help Section" class="md-fab md-raised" ng-click="openDialog($event, item.type)" style = "background-color:#00937d;color:white">
            <md-tooltip md-direction="up" md-visible="tooltipVisible" md-autohide="false" class="md-tooltip-top">Help Section</md-tooltip>
            <md-icon aria-label="Help" class="material-icons" style = "color:white">help</md-icon>
        </md-button>
</div>