<md-sidenav flex="15" md-component-id="left" class="md-sidenav-left md-whiteframe-glow-z1 dark-side-nav" md-is-locked-open="$mdMedia('gt-sm')">
    <a ui-sref=".dashboard" class="alink ">
        <div layout="column" layout-align="center center" class="margin-top activecircle " ng-click="">
            <div class="stick-horizontal"></div>
            <div class="round service">
                <div class="service-circle active">
                    <div class="circle">
                        <div class="innercircle"></div>
                    </div>
                    <md-icon class="material-icons menu2 text-white">group</md-icon>
                    <md-tooltip direction="bottom" class="md-tooltip md-tooltip-bottom">User Management</md-tooltip>
                </div>
            </div>
            <div class="down_arrow"></div>
        </div>
    </a>
    <a ui-sref="sensorMgt" class="alink">
        <div layout="column" layout-align="center center" class="activecircle inactive-margin" ng-click="">
            <!-- <div class="stick-horizontal"></div> -->
            <div class="round service">
                <div class="service-circle">
                    <div class="circle">
                        <div class="innercircle"></div>
                    </div>
                    <md-icon class="material-icons menu2 text-white">track_changes</md-icon>
                    <md-tooltip direction="bottom" class="md-tooltip md-tooltip-bottom">Sensor Management</md-tooltip>
                </div>
            </div>
            <div class="down_arrow"></div>
        </div>
    </a>
     <a ui-sref="MeetingRoomMgt" class="alink">
        <div layout="column" layout-align="center center" class="activecircle inactive-margin" ng-click="">
            <!-- <div class="stick-horizontal"></div> -->
            <div class="round service">
                <div class="service-circle">
                    <div class="circle">
                        <div class="innercircle"></div>
                    </div>
                    <md-icon class="material-icons menu2 text-white">room</md-icon>
                    <md-tooltip direction="bottom" class="md-tooltip md-tooltip-bottom">Meeting Room Management</md-tooltip>
                </div>
            </div>
            <div class="down_arrow"></div>
        </div>
    </a>
    <a ui-sref="assignPeople" class="alink">
        <div layout="column" layout-align="center center" class="activecircle" ng-click="">
            <div class="round service">
                <div class="service-circle">
                    <div class="circle">
                        <div class="innercircle"></div>
                    </div>
                    <md-icon class="material-icons menu2 text-white">credit_card</md-icon>
                    <md-tooltip direction="bottom" class="md-tooltip md-tooltip-bottom">Seat Assignment</md-tooltip>
                </div>
            </div>
        </div>
    </a>
</md-sidenav>