 <md-sidenav  flex="15" md-component-id="left" class="md-sidenav-left md-whiteframe-glow-z1 dark-side-nav" md-is-locked-open="$mdMedia('gt-sm')">
    <div>
      <a ui-sref=".dashboard" class="alink ">
        <div layout="column" layout-align="center center" class="margin-top activecircle " >
          <div class=""></div>
          <div class="round service" ng-click="OccuClick();">
            <div class="service-circle">
              <div class="circle">
                <div class="innercircle"></div>
              </div>
              <md-icon class="material-icons menu2 text-white">group</md-icon>
              <md-tooltip direction="bottom" class="md-tooltip md-tooltip-bottom">Occupancy Management System</md-tooltip>
            </div>
          </div>
          <div class="down_arrow"></div>
        </div>
      </a>
      <a ui-sref=".lightDashboard" class="alink">
         <div layout="column" layout-align="center center" class="activecircle inactive-margin" ng-click="" >
          <div class="stick-horizontal"></div>
          <div class="round service" ng-click="lightClick();">
            <div class="service-circle " >
              <div class="circle activeDashboard">
                <div class="innercircle"></div> 
              </div>
              <md-icon class="material-icons menu2 text-white">lightbulb_outline</md-icon>
              <md-tooltip direction="bottom" class="md-tooltip md-tooltip-bottom">Lighting Management System</md-tooltip>
            </div>
          </div>
          <div class="down_arrow"></div>
        </div>
      </a>
      <a disabled ui-sref="" class="alink">
        <div layout="column" layout-align="center center" class="activecircle"  ng-click="">
          <div class="round service">
            <div class="service-circle">
              <div class="circle">
                 <div class="innercircle"></div> 
              </div>
                <md-icon class="material-icons menu2 text-white">credit_card</md-icon>
                <md-tooltip direction="bottom" class="md-tooltip md-tooltip-bottom">Conference Room Booking</md-tooltip>
            </div>
          </div>
        </div>
      </a>
    </div>
      
</md-sidenav>