<!-- <md-sidenav  class="md-sidenav-left dark-side-nav sidenav-width" md-component-id="left" md-is-locked-open="$mdMedia('gt-xs')" style="cursor:pointer;">
    <md-button class="md-primary md-raised" ng-click="addSchedule()"><i class="material-icons">add</i>Add Schedule</md-button>
    <div ng-repeat="x in schedules">
        <div layout="row" layout-align="center center" class="scheduleDivMargin">
            <div flex ng-init="editable = false">
                <md-input-container ng-show="editable == true">
                    <label>Schedule Name</label>
                    <input class="scheduleInput" type="text" ng-model="x.name">
                </md-input-container>
                <md-button class="md-primary md-raised" ng-show="editable == false" ng-click="selectSchedule($index)" ng-dblclick="editable = true" style="width:100%;">{{x.name}}</md-button>
            </div>
            <div flex="20" ng-click="editable = false" ng-show="editable == true" style="text-align:center;">
                <i class="material-icons">save</i>
            </div>
        </div>
    </div>
</md-sidenav> -->

<md-sidenav  class="md-sidenav-left dark-side-nav sidenav-width" md-component-id="left" md-is-locked-open="$mdMedia('gt-xs')" style="cursor:pointer;">
    <md-button class="md-primary md-raised" ng-click="addSchedule()"><i class="material-icons">add</i>Add Schedule</md-button>
    <div ng-repeat="x in schedules" ng-init="editable = false">
        <div layout="row" layout-align="center center" class="scheduleDivMargin">
             <md-button class="md-primary md-raised" ng-show="editable == false" ng-click="selectSchedule($index)" ng-dblclick="editable = true" style="width:100%;" ng-right-click="runSchedules($index)">{{x.name}}</md-button>
        </div>
        <div layout="row" layout-align="center center" ng-show="editable == true" class="scheduleDivMargin">
            <div flex>
                <md-input-container>
                    <label>Schedule Name</label>
                    <input class="scheduleInput" type="text" ng-model="x.name">
                </md-input-container> 
            </div>
            <div flex="20" ng-click="editable = false" style="text-align:center;">
                <i class="material-icons">save</i>
            </div>
        </div>
    </div>
</md-sidenav>