<md-sidenav  class="md-sidenav-left dark-side-nav sidenav-width" md-component-id="left" md-disable-backdrop md-is-locked-open="$mdMedia('gt-xs')" style="cursor:pointer;z-index:20;">
    <div class="scheduleFloor-padding">
       <div layout="row" layout-align="center center" ng-repeat="x in floors">
           <div  class="scheduleFloor" ng-click="toggleLeft(x)">
               <h4 style="text-align:center;margin-top: 20px;">{{x.name}}</h4>
           </div>
       </div>
    </div>
</md-sidenav>