<md-sidenav  flex="15" md-component-id="left" class="md-sidenav-left md-whiteframe-glow-z1 dark-side-nav" md-is-locked-open="$mdMedia('gt-sm')">
    <div ui-sref="dashboard" layout="row" layout-align="center center" class="padding" md-whiteframe="4">
        <div flex="33">
            <i  class="fa fa-th-large fa-lg"></i>
        </div>
        <div flex="66" class="dashboard-pointer"><h5>DASHBOARD</h5></div>
    </div>
    <div ui-sref="analytics" layout="row" layout-align="center center" class="padding" md-whiteframe="4">
        <div flex="33">
            <i  class="fa fa-line-chart fa-lg"></i>
        </div>
        <div flex="66" class="dashboard-pointer">
            <h5>ANALYTICS</h5>
        </div>
    </div>
</md-sidenav>