<md-toolbar layout="row" md-whiteframe="4" class="dark-header tool-bar">
    <div class="adappt-logo-white-mainboard logo_container hide-sm hide-xs" ng-click="changeView('dashboard')"></div>
    <div class="adappt-icon hide-gt-sm" ng-click="changeView('dashboard')"></div>
    <div layout="row" layout-align="center center">
        <md-button class="md-icon-btn hide-gt-sm" ng-click="toggleLeft()">
            <md-icon><i class="material-icons">view_headline</i></md-icon>
        </md-button>
        <md-button ui-sref="index.dashboard" ng-show="back_btn" class="md-mini md-fab md-primary hide-gt-md">

    </div>
    <div flex layout="row" class="titlebar" layout-align="center center">
        <md-button flex="3" ui-sref="index.dashboard" ng-show="button" class="md-mini md-fab md-primary">
            <md-icon class="material-icons keyboard_icon">keyboard_arrow_left</md-icon>
            <md-tooltip md-direction="bottom" class="md-block md-tooltip md-tooltip-bottom">Go Back</md-tooltip>
        </md-button>
        <h4 flex class="text-center">{{pageTitle}}</h4>
    </div>

    <div layout="row" layout-align="center center">

        <md-menu-bar hide-xs>
            <md-menu md-position-mode="target-right target" md-offset="0 52">
                <md-button ng-click="$mdOpenMenu()" class="md-icon-button medium-icon-btn dark-header ">
                    <md-tooltip md-direction="bottom" class="md-tooltip-bottom">Notifications</md-tooltip>
                    <md-icon><i class="material-icons icon-font">notifications</i></md-icon>
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item>
                        <md-button>Notifications</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-menu md-position-mode="target-right target" md-offset="0 52">
                <md-button ng-click="$mdOpenMenu()" class="md-icon-button medium-icon-btn dark-header icon-font">
                    <md-tooltip md-direction="bottom" class="md-tooltip-bottom">Warnings</md-tooltip>
                    <md-icon><i class="material-icons icon-font">warnings</i></md-icon>
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item>
                        <md-button>Warnings</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-menu>
                <md-button ng-click="$mdOpenMenu()" class="md-icon-button medium-icon-btn dark-header icon-font">
                    <md-icon><i class="material-icons icon-font">account_circle</i></md-icon>
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item>
                        <md-button ui-sref="commissionsettings">Settings</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ui-sref="profile">Profile</md-button>
                    </md-menu-item>
                    <!--  <md-menu-item>
                  <md-button ui-sref="commission.index">Commission</md-button>
                </md-menu-item> -->
                    <md-menu-item>
                        <md-button ng-click="logout()">Logout</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-menu-bar>
    </div>
</md-toolbar>