.settings_card {
    padding: 6px;
}

.util-block {
    cursor: pointer;
    width: 10px;
    border-radius: 100%;
    height: 10px;
    border: 1px solid #35f499;
    background: #35f499;
    position: absolute;
    display: inline-block;
    box-shadow: 0px 0px 6px 1px #35f499;
}

.Least-used {
    background: #3057e1;
    border: 1px solid #3057e1;
    box-shadow: 0px 0px 6px 1px #3057e1;
}

.Moderate-used {
    background: #27ec15;
    border: 1px solid #27ec15;
    box-shadow: 0px 0px 6px 1px #27ec15;
}

.Maximum-used {
    background: #FF0000;
    border: 1px solid #FF0000;
    box-shadow: 0px 0px 6px 1px #FF0000;
}

.padding-legend {
    padding: 6px;
    cursor: pointer;
}

.margin-top-date {
    margin-top: 5px;
}

.deselect {
    opacity: 0.5;
}

.rzslider .rz-pointer {
    width: 28px;
    height: 28px;
    background-color: #00937D;
}

.rzslider .rz-pointer:after {
    top: 10px;
    left: 10px;
}

.rzslider .rz-selection {
    background: #00937D;
}

.padding-margin {
    padding: 0 20px 0 20px;
}

.util_locker_block {
    cursor: pointer;
    width: 10px;
    height: 10px;
    border: 1px solid #35f499;
    background: #35f499;
    position: absolute;
    display: inline-block;
    box-shadow: 0px 0px 6px 1px #35f499;
}