.floorwise-logo {
    width: 45px;
    color: #fff!important;
    background: #00937d;
    height: 45px;
    text-align: center;
    line-height: 45px;
    margin: auto;
}

.floorwise-logo-white {
    width: 45px;
    color: #00937d!important;
    background: #fff;
    height: 45px;
    text-align: center;
    line-height: 45px;
    margin: auto;
}

.selectall {
    padding-right: 10px;
}

.card-text {
    margin: 0!important;
    padding: 5px 0 5px 0;
}

.banner {
    background-color: #00937d;
    color: #fff;
    padding: 10px;
}

.floor-name {
    position: relative;
    top: 21px;
    left: 85px;
    margin-top: -20px;
}

.floor-data {
    position: relative;
    margin-top: -23px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.floor-data:hover {
    transform: scale(1.1);
}

.floor-padding {
    margin-top: 60px;
    padding-left: 18px;
    margin-bottom: 60px;
}

.floor-logo {
    color: white;
    width: 45px;
    height: 60px;
}

.gp_icon {
    font-size: 35px;
    color: #00937d;
}

.device-card-small-padding {
    padding: 10px;
}

.note-card-padding {
    padding: 13px;
}

.arrow {
    position: relative;
    width: 50%;
    top: -30px;
    left: 185px;
    border-bottom: 1px dashed #00937d;
}

.banner-text {
    padding: 0 0 0 10px;
}

.occ_text {
    height: 35px;
    margin-top: 7px;
}

.occ_text_container {
    margin-top: -17px;
}

.chart-container {
    height: 355px;
    position: relative;
}

.util_padding {
    padding: 5px;
    overflow: hidden;
}

.help_btn {
    color: #fff;
}

.btn_container {
    text-align: right;
    height: 25px;
}

.help_btn_icon {
    margin: -6px!important;
}

.gen_rep_btn {
    width: 350px;
    max-width: 350px;
}

.card_padding {
    padding: 5px 0 5px 0;
}

.card_padding_gen_rep {
    padding: 8px 0 8px 0;
}

.radion_btn {
    display: inline-block;
    padding: 0 5px 0 0;
}

.radio_gp {
    padding: 0 10px 0 0;
}

.dt_picker_container {
    opacity: 0.3;
}

.dt_picker_visible {
    opacity: 1;
}

.adappt-color-border {
    border-top: 5px solid #00937d;
}

.radio_gp md-radio-button .md-container {
    width: 15px;
    height: 15px;
}

.radio_gp md-radio-button .md-off {
    width: 15px;
    height: 15px;
}

.radio_gp md-radio-button .md-on {
    width: 15px;
    height: 15px;
}

.radio_gp md-radio-button .md-label {
    margin-left: 20px;
}

.blurred {
    filter: blur(3px);
}

.percentchart {
    padding: 0 0 10px 0;
}

.percentchart .percent {
    font-size: 20px;
    position: relative;
    top: 66px;
}

.adappt-datepicker {
    width: 100%;
}

.adappt-datepicker .md-datepicker-button {
    display: none;
    visibility: hidden;
}

.adappt-datepicker .md-datepicker-input-container {
    margin: 0;
    width: inherit;
    background: inherit;
}

.md-datepicker-calendar-pane {
    border: none;
}

.md-calendar-month-label md-icon {
    margin-top: 3px;
    color: #FFF;
}

.md-datepicker-input-mask,
.md-calendar-scroll-mask {
    width: 203px;
}

.md-calendar-scroll-container,
.md-calendar-scroll-mask {
    width: 203px;
    height: 270px;
}

.md-calendar-day-header th,
.md-calendar-date,
.md-calendar-date-selection-indicator {
    width: 38px;
}

.md-calendar-day-header {
    background: #00937D;
    color: #FFF;
}

.md-adappt-radio.md-checked .md-off {
    border-color: #00937D;
}

.datepicker .md-default-theme .md-datepicker-input,
.md-datepicker-input {
    color: #FFF;
}

.md-calendar {
    background: #2A2A2A;
    color: #FFF;
}

.calendarCtrl.currentView {
    background: #2A2A2A;
}

.md-default-theme .md-calendar-date-disabled,
.md-calendar-date-disabled,
.md-default-theme .md-calendar-month-label-disabled,
.md-calendar-month-label-disabled {
    color: #777;
}

.md-calendar-scroll-container,
.md-calendar-scroll-mask {
    background: #2A2A2A;
}

.datepicker.md-default-theme .md-datepicker-triangle-button .md-datepicker-expand-triangle,
.md-datepicker-triangle-button .md-datepicker-expand-triangle {
    border-top-color: #ddd;
}

.datepicker.md-default-theme .md-datepicker-input-container,
.md-datepicker-input-container {
    border-bottom-color: #ddd;
}

.datepicker.md-calendar.md-default-theme,
.md-calendar {
    background: #2a2a2a color: #ddd
}

.md-datepicker-input-mask {
    background: #2A2A2A;
    color: #FFF;
    height: 40px;
    width: 298px;
    position: relative;
    overflow: hidden;
    pointer-events: none;
    cursor: text;
}

.datepicker.md-calendar-date.md-focus .md-default-theme .md-calendar-date-selection-indicator,
.md-calendar-date.md-focus .md-calendar-date-selection-indicator,
.md-default-theme .md-calendar-date-selection-indicator:hover,
.md-calendar-date-selection-indicator:hover {
    background: rgba(0, 0, 0, 0.27);
}

.datepicker.md-default-theme .md-datepicker-input-mask-opaque,
.md-datepicker-input-mask-opaque {
    box-shadow: 0 0 0 9999px #2a2a2a;
}

.datepicker.md-default-theme .md-datepicker-calendar,
.md-datepicker-calendar {
    background: #2a2a2a;
}

.datepicker.md-datepicker-input-mask,
.md-calendar-scroll-mask {
    background: #2a2a2a;
    color: #ddd;
    height: 270px;
    display: inline-block;
    overflow: hidden;
}

.md-calendar-scroll-container,
.md-calendar-scroll-mask {
    width: 298px;
    height: 270px;
}

.text-left {
    text-align: left;
}

.arrow_div {
    height: 100px;
    width: 30px;
    background: #00937d;
    color: #fff;
}

.formula {
    position: absolute;
    left: 95%;
    background: #00937d;
    color: #ddd;
    height: 126px;
    width: 550px;
    transition: all 0.5s ease-in-out;
    z-index: 10;
}

.formula.opened {
    left: 0px;
}

.iconclass {
    transform: rotate(0deg);
}

.iconclass.opened {
    transform: rotate(180deg);
}

.rombus {
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    height: 60px;
    width: 190px;
    background-color: rgba(0, 147, 125, .31);
    margin-top: -20px;
    transition: 0.3s all ease-in-out;
}

.rombus:hover {
    transform: scale(1.1);
    background-color: #00937d;
}

@keyframes movefloor {
    100% {
        background-color: #00937d;
    }
}

.floorAnimation1 {
    animation: movefloor 1s ease-in-out 0s alternate infinite;
}

.floorAnimation2 {
    animation: movefloor 1.5s ease-in-out 0s alternate infinite;
}

.floorAnimation3 {
    animation: movefloor 2s ease-in-out 0s alternate infinite;
}

.floorAnimation4 {
    animation: movefloor 2.5s ease-in-out 0s alternate infinite;
}

.floorAnimation5 {
    animation: movefloor 3s ease-in-out 0s alternate infinite;
}

.rombus-small {
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    height: 16px;
    width: 50px;
    background-color: #00937d;
    transition: 0.3s all ease-in-out;
}

.padding-left {
    padding-left: 10px;
}

.easypie {
    display: inline-block;
    text-align: center;
}

.dialogbox {
    background: rgba(0, 0, 0, 0.51);
}

.dialoglayout {
    width: 1680px;
    height: 1050px;
    margin: auto;
    position: relative;
}

.single_dt_picker .md-icon-button+.md-datepicker-input-container {
    width: 340px!important;
}

.single_dt_picker input {
    min-width: 340px!important;
}

.single_dt_picker button md-icon {
    color: #fff;
}