.dialoginput .md-errors-spacer {
    min-width: 0px;
}

.inputcontainers .md-errors-spacer {
    min-width: 0px;
}

.inputcontainers .md-default-theme .md-placeholder,
md-input-container .md-placeholder,
md-input-container.md-default-theme label,
md-input-container label {
    color: #ddd;
}

.inputcontainers md-input-container.md-default-theme .md-input,
md-input-container .md-input {
    border-color: #ddd;
}

.inputcontainers {
    margin: 13px 0;
}

.inputcontainers .md-input {
    color: #ddd;
}

.dialoginput .md-input {
    border-color: #000;
}

.dialoginput .md-default-theme .md-placeholder,
.dialoginput.md-placeholder,
.dialoginput.md-default-theme label,
.dialoginput label {
    color: #000;
}

.employees {
    cursor: pointer;
}

.empTitle {
    background: rgba(0, 147, 125, 0.21);
}

.chip {
    border-radius: 16px;
    display: block;
    height: 32px;
    line-height: 32px;
    margin: 8px 8px 0 0;
    padding: 0px 12px;
    box-sizing: border-box;
    max-width: 100%;
    float: left;
    position: relative;
    background-color: #00937d;
    color: #fff;
    text-align: center;
    min-width: 100%;
}

.isOpaque {
    opacity: 0.3;
    cursor: not-allowed;
}

.isAssigned {
    border: 1px solid #FF0000;
    background: #FF0000;
    box-shadow: 0px 0px 6px 1px #FF0000;
}

.assign-block-legend {
    width: 12px;
    border-radius: 100%;
    height: 12px;
    /* border: 1px solid #CB0A25; */
    /* background: #CB0A25; */
    display: inline-block;
    /* box-shadow: 0px 0px 6px 1px #CB0A25; */
    transition: all 0.5s ease-in-out;
}

.legend-unAssigned {
    border: 1px solid #35f499;
    /* background: #35f499; */
    /* box-shadow: 0px 0px 6px 1px #35f499; */
}

.dark_popup {
    background: #424242;
    color: #ddd;
    position: relative;
}

.assigned_pane {
    text-align: center;
    position: absolute;
    border: 2px solid #FF0000;
    background: rgba(255, 0, 0, 0.3);
    transition: all 1s ease-in-out;
}

.legend-roomunAssigned {
    border: 1px solid #76FF03;
    background: #76FF03;
    box-shadow: 0px 0px 6px 1px #76FF03;
}

.assign-block-legend {
    width: 12px;
    border-radius: 100%;
    height: 12px;
    /* border: 1px solid #CB0A25; */
    /* background: #CB0A25; */
    display: inline-block;
    /* box-shadow: 0px 0px 6px 1px #CB0A25; */
    transition: all 0.5s ease-in-out;
}

.assign-util-block {
    cursor: pointer;
    width: 10px;
    border-radius: 100%;
    height: 10px;
    border: 3px solid #35f499;
    /* background: #35f499; */
    position: absolute;
    display: inline-block;
    /* box-shadow: 0px 0px 6px 1px #35f499; */
}

.bu1 {
    border: 2px solid rgb(27, 162, 134);
}

.bu1.isAssigned {
    background: rgb(27, 162, 134);
    box-shadow: none;
}

.bu2 {
    border: 2px solid rgb(232, 186, 214);
}

.bu2.isAssigned {
    background: rgb(232, 186, 214);
    box-shadow: none;
}

.bu3 {
    border: 2px solid rgb(192, 214, 228);
}

.bu3.isAssigned {
    background: rgb(192, 214, 228);
    box-shadow: none;
}

.bu4 {
    border: 2px solid rgb(199, 118, 78);
}

.bu4.isAssigned {
    background: rgb(199, 118, 78);
    box-shadow: none;
}

.bu5 {
    border: 2px solid rgb(255, 203, 108);
}

.bu5.isAssigned {
    background: rgb(255, 203, 108);
    box-shadow: none;
}

.bu6 {
    border: 2px solid rgb(254, 255, 115);
}

.bu6.isAssigned {
    background: rgb(254, 255, 115);
    box-shadow: none;
}

.bu7 {
    border: 2px solid rgb(40, 38, 255);
}

.bu7.isAssigned {
    background: rgb(40, 38, 255);
    box-shadow: none;
}

.bu8 {
    border: 2px solid rgb(121, 41, 1);
}

.bu8.isAssigned {
    background: rgb(121, 41, 1);
    box-shadow: none;
}

.bu9 {
    border: 2px solid rgb(199, 178, 78);
}

.bu9.isAssigned {
    background: rgb(199, 178, 78);
    box-shadow: none;
}

.bu10 {
    border: 2px solid rgb(128, 129, 101);
}

.bu10.isAssigned {
    background: rgb(128, 129, 101);
    box-shadow: none;
}

.bu11 {
    border: 2px solid rgb(182, 213, 237);
}

.bu11.isAssigned {
    background: rgb(182, 213, 237);
    box-shadow: none;
}

.bu12 {
    border: 2px solid rgb(23, 112, 118);
}

.bu12.isAssigned {
    background: rgb(23, 112, 118);
    box-shadow: none;
}

.bu13 {
    border: 2px solid rgb(143, 220, 53);
}

.bu13.isAssigned {
    background: rgb(143, 220, 53);
    box-shadow: none;
}

.bu14 {
    border: 2px solid rgb(255, 246, 143);
}

.bu14.isAssigned {
    background: rgb(255, 246, 143);
    box-shadow: none;
}

.bu15 {
    border: 2px solid rgb(237, 187, 187);
}

.bu15.isAssigned {
    background: rgb(237, 187, 187);
    box-shadow: none;
}

.bu16 {
    border: 2px solid rgb(255, 88, 30);
}

.bu16.isAssigned {
    background: rgb(255, 88, 30);
    box-shadow: none;
}

.bu17 {
    border: 2px solid rgb(47, 227, 223);
}

.bu17.isAssigned {
    background: rgb(47, 227, 223);
    box-shadow: none;
}

.bu18 {
    border: 2px solid rgb(242, 178, 25);
}

.bu18.isAssigned {
    background: rgb(242, 178, 25);
    box-shadow: none;
}

.bu19 {
    border: 2px solid rgb(111, 219, 69);
}

.bu19.isAssigned {
    background: rgb(111, 219, 69);
    box-shadow: none;
}

.bu20 {
    border: 2px solid rgb(225, 4, 216);
}

.bu20.isAssigned {
    background: rgb(225, 4, 216);
    box-shadow: none;
}

.bu21 {
    border: 2px solid rgb(0, 0, 0);
}

.bu21.isAssigned {
    background: rgb(0, 0, 0);
    box-shadow: none;
}

.bu22 {
    border: 2px solid rgb(229, 18, 18);
}

.bu22.isAssigned {
    background: rgb(229, 18, 18);
    box-shadow: none;
}

.bu23 {
    border: 2px solid rgb(195, 142, 158);
}

.bu23.isAssigned {
    background: rgb(195, 142, 158);
    box-shadow: none;
}

.bu24 {
    border: 2px solid rgb(92, 126, 16);
}

.bu24.isAssigned {
    background: rgb(92, 126, 16);
    box-shadow: none;
}

.bu25 {
    border: 2px solid rgb(255, 255, 255);
}

.bu25.isAssigned {
    background: rgb(255, 255, 255);
    box-shadow: none;
}

.bu26 {
    border: 2px solid rgb(249, 227, 20);
}

.bu26.isAssigned {
    background: rgb(249, 227, 20);
    box-shadow: none;
}

.bu27 {
    border: 2px solid rgb(149, 7, 249);
}

.bu27.isAssigned {
    background: rgb(149, 7, 249);
    box-shadow: none;
}

.bu28 {
    border: 2px solid rgb(249, 7, 105);
}

.bu28.isAssigned {
    background: rgb(249, 7, 105);
    box-shadow: none;
}

.bu29 {
    border: 2px solid rgb(249, 7, 68);
}

.bu29.isAssigned {
    background: rgb(249, 7, 68);
    box-shadow: none;
}

.bu30 {
    border: 2px solid rgb(255, 127, 80);
}

.bu30.isAssigned {
    background: rgb(255, 127, 80);
    box-shadow: none;
}

.bu31 {
    border: 2px solid rgb(240, 128, 128);
}

.bu31.isAssigned {
    background: rgb(240, 128, 128);
    box-shadow: none;
}