.md-tooltip
{
    background: #FFFFFF!important;
    color: #222!important;
    padding: 6px 6px!important;
    text-align: center;
    height: 22px!important;
    line-height: 22px!important;
    border-radius: 3px!important;
    font-size: 13px!important;
    opacity: 1!important;
    min-width: 70px;
    //max-width: 97px;
    overflow: visible!important;
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5)
}
.md-tooltip::after
{
    content: "";
    position: absolute;
    border-width: 6px;
    border-style: solid;
    //border-color: #FFFFFF transparent transparent transparent;
}
.md-tooltip-top::after
{
    border-color: #FFFFFF transparent transparent transparent;
    top: 100%;
    left: 45%;
}

.md-tooltip-bottom::after
{
    border-color: transparent transparent #FFFFFF transparent;
    top: -35%;
    left: 45%;
}

.md-tooltip-left::after
{
    border-color: transparent transparent transparent #FFFFFF;
    top: 10px;
    left: 100%;
}

.md-tooltip-right::after
{
    border-color: transparent #FFFFFF transparent transparent ;
    top: 10px;
    left: -11%;
}

