.profile_pic{
    font-size:150px;
    color:#fff;
    z-index:10;
}
.settings_text{
    cursor:pointer;
}
.md-icon-button.down_arrow{
   transform:rotate(90deg);
}
.adappt-background{
    background-color: #00937d;
    color:#fff;
}
.edit_icon{
   margin:0;
   line-height:1;
   min-height:20px;
   border-radius:50%;
   min-width:20px;
}
.profile_text{
    font-size: 18px;

}
.profile_action_text{
    font-size: 18px;
    padding: 10px;
}
.profile_switch{
    margin:10px 0 0 0;
    height:17px;
}
.profile_inputs{
   padding:5px;
}
.profile_inputs .md-errors-spacer{
    min-height:0px!important; 
} 
.profile_card{
    height:500px;
    border-radius:15px;
}  
.email{
    display: table;
}
.adappt_card{
    background-color:#00937d;
    position:relative;
    color:#ddd;
}
.card_header{
    background-color: #fff;
}
.border-bottom-profile{
    border-bottom: 1px solid #929292;
    padding:5px;
    background-color:#00937d;
    text-align:center;
}
.banner_profile{
    background-color:#00937d;
    color:#fff;
    min-height:20px;
    padding:5px;

}
.text-left{
    text-align:left;
}

.content-profile
{
    position:absolute;
    background-color: #2a2a2a;
    height:100%;
    width:100%;
    border-top-left-radius:40%;
}
.text-white-profile{
    color:#fff!important;
}
.border{
    border:2px solid #00937d;
}
#grad1 {
    background: #00937d; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#00937d, #fff, #00937d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#00937d, #fff, #00937d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#00937d, #fff, #00937d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#00937d, #fff, #00937d); /* Standard syntax (must be last) */
}
#name{
    position: relative;
}

