.floor-layout
{
    width: 1680px;
    height: 1050px;
    position: relative; 
}
.seat
{
    width: 15px;
    height: 15px;
    position: absolute;
    left: 30px;
    top: 30px;
    background: #00937D;
    /* //transition: all 0.5s ease-in-out; */
}
.seat.square{       
    
      position: absolute;
     
  }
  .seat.square.selected{       
      
      background: #FFBF00!important;
       
  }
  .seat.selected{       
    
    background: #FFBF00!important;
     
}
  .seat.circle{
    
      transform:none;
      clip-path: circle(50% at 50% 50%);
      transition: 0ms;  
  }
  .seat.circle.selected{       
      
      background: #FFBF00!important;
  }
  .seat.triangle{
      transform:none;
      transition: 0ms;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);     
  }
  .seat.triangle.selected{       
      background: #FFBF00!important;
  }
  .seat.trapezoid{
      
        transform:none;
        clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
        transition: 0ms;  
    }
  .seat.trapezoid.selected{       
      background: #FFBF00!important;
  }
  .seat.parallelogram{
      
        transform:none;
        clip-path: polygon(100% 0, 100% 57%, 0 100%, 0 47%);
        transition: 0ms;  
  }
  .seat.parallelogram.selected{       
      background: #FFBF00!important;
  }
  .seat.rhombus{
      
        transform:none;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        transition: 0ms;  
  }
  .seat.rhombus.selected{       
      background: #FFBF00!important;
  }
  .seat.pentagon{
      
        transform:none;
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);      
        transition: 0ms;  
  } 
  .seat.pentagon.selected{       
      
      background: #FFBF00!important;
  }
  .seat.hexagon{
      
        transform:none;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);          
        transition: 0ms;  
  }
  .seat.hexagon.selected{       
      
      background: #FFBF00!important;
  } 
  .seat.star{
      
        transform:none;
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);      
        transition: 0ms;  
  } 
  .seat.star.selected{       
      
      background: #FFBF00!important;
  }

.seat.ui-draggable
{
    cursor: move;
}
.circle
{
    border-radius: 100%;
}
.seat.active
{
    background: #FFBF00!important;
}
.seat.groupAssigned
{
    background: #0183A5
}
.no-margin
{
    margin: 0;
}
.no-margin *
{
    margin: 0;
}
.vertical-line
{
    position: relative;
    margin: auto;
    height: 50px;
    width: 1px;
    display: block;
    border-right: 1px dashed #aaa;
}
.seat.occupied
{
    background: #CB0A27;
}
.seat.unhealthy
{
    background: #777777;
}