.floor_logo {
    color: #fff;
    margin: 0;
    height: 35px;
    width: 45px;
}

.allocation_bar_adappt {
    height: 10px;
    /* width: 400px; */
    background: #00937d;
}

.allocation_bar_white {
    height: 10px;
    /* width: 200px; */
    background: #fff;
}

.allocation_bar_red {
    height: 10px;
    /* width: 100px; */
    background: #CB0A25;
}

.allocation_bar_safron {
    height: 10px;
    /* width: 200px; */
    background: #FF8000;
}

.allocation_bar_green {
    height: 10px;
    /* width: 100px; */
    background: #76FF03;
}

.allocation_bar_unalloted {
    height: 10px;
    /* width: 100px; */
    background: #cbcbcb;
}

.before_rotate {
    transition: all 0.5s ease;
}

.rotate {
    transform: rotate(90deg);
    transition: all 0.5s ease;
}