.buttons {
    margin-top: 3px;
    margin-left: 34px;
}


/*.myGrid {
    width:500px;
    height:250px;
  }*/

.color-class {
    text-align: center;
    display: table;
    margin: auto;
    margin-top: 2px;
    font-size: 18px!important;
}

.left {
    min-height: 25px!important;
    height: 25px!important;
    min-width: 70px!important;
    width: 70px!important;
    line-height: 1;
}

.user-mgt {
    min-height: 50px;
}

.alignment {
    display: table;
}

.delete-icon {
    line-height: 30px!important;
    width: 30px!important;
    height: 30px!important;
    min-height: 30px;
}

.ui-grid-render-container-body .ui-grid-header-cell,
.ui-grid-render-container-left .ui-grid-header-cell,
.grid .ui-grid-row,
.grid .ui-grid-cell,
.grid .ui-grid-cell .ui-grid-vertical-bar {
    line-height: 20px;
}

.padding {
    padding: 20px;
}

.addicon {
    color: #000;
    font-size: 18px;
    margin-top: 6px;
}

.addbutton {
    background-color: #fff!important;
    /*  margin-left:18px; 
   margin-top:-1px;  */
}

.ui-grid-row {
    text-align: center
}

.ui-grid-viewport .ui-grid-canvas {
    height: -webkit-fill-available!important;
}

.ui-grid-cell md-switch:last-of-type {
    margin: 10px auto;
}

.text-right {
    text-align: right;
    margin-top: -5px;
}

.grid {
    height: 600px;
}

.ui-grid-cell md-switch .md-thumb {
    top: 1px;
    margin: 0;
    outline: none;
    height: 16px;
    width: 16px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
}

.ui-grid-cell md-switch .md-bar {
    left: 0px;
    width: 30px;
    top: 9px;
    height: 3px;
    border-radius: 8px;
    position: absolute;
}

.drop {
    margin-top: -18px;
}


/* 
h4 {
    font-size: unset;
    line-height: 1;
} */

.grid {
    height: 600px;
}

.ui-grid-cell md-switch .md-thumb {
    top: 1px;
    margin: 0;
    outline: none;
    height: 16px;
    width: 16px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
}

.ui-grid-cell md-switch .md-bar {
    left: 0px;
    width: 30px;
    top: 9px;
    height: 3px;
    border-radius: 8px;
    position: absolute;
}

.drop {
    margin-top: -18px;
}

.mbsc-mobiscroll .dwwr {
    min-width: 195px!important;
    background-color: #fff!important;
    color: #222!important;
}

.dwwc {
    font-size: 12px;
}

.input_container_emp .md-input {
    color: #ddd!important;
}

.input_container_emp .label {
    color: #ddd!important;
}

.drop {
    min-width: 100px;
    max-width: 100px;
}

.capitalize {
    text-transform: capitalize;
}

.input_file {
    opacity: 0;
}

.container {
    position: relative;
}

.image {
    display: inline-block;
    margin-top: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    width: 35px;
    margin: 5px 10px 10px 45px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.container:hover .overlay {
    opacity: 1;
    cursor: pointer;
    /* transform: scale(2, 2); */
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.rptMng input {
    text-transform: capitalize;
}