.adappt-logo-white-light
{
    background: url('../img/adappt-white.png') no-repeat center center #00937d;
    background-size: 75%;
}

.logo_container
{
    height:inherit;
    min-width:230px;
}
.floor-data {
    position: relative;
    margin-top: -23px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.sidenav-width
{
    width: 230px;
    overflow-x: hidden;
}

.text-center
{
    text-align: center;
}

.text-padding
{
    padding: 15px;
}

.dark-theme
{
    background-color: #32323a;
}

.dark-theme1
{
    background-color: rgba(79,79,88,1);
}
.full-height
{
    height: 100%;
}

.floor-name {
    position: relative;
    top: 20px;
    left: -15px;
}

.dataContent {
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}

.activeContent {
    max-height: 1500px;    
}


.circle
{
    
    border-radius: 50%;
    background-color: #FFF;
    cursor: pointer;
}

.block
{
    background-color: white;
    cursor: pointer;
}

.leaf
{
    background-color: white;
    border-radius: 100% 0;
    cursor: pointer;
}

.flow
{
    background-color: white;
    cursor: pointer;
}

.flow1
{
    background-color: white;
    cursor: pointer;
}

.floor-data .device-card-light-down {
    width: 0;
    height: 0;
    border-left: 95px solid transparent;
    border-right: 95px solid transparent;
    border-top: 30px solid rgba(0,147,125,.31);
    transition: all 0.3s  ease-in-out;
}

.floor-data .device-card-light-up {
    width: 0;
    height: 0;
    border-left: 95px solid transparent;
    border-right: 95px solid transparent;
    border-bottom: 30px solid rgba(0,147,125,.31);
    transition: all 0.3s ease-in-out;
}
 .floor-data:hover .device-card-light-up 
 {
    border-bottom: 30px solid #00937D;
 }
.floor-data:hover .device-card-light-down
{
    border-top: 30px solid #00937D;
}
.floor-data:hover
{
    transform: scale(1.1);
}

.floor-padding{
   margin-top: 30px;
   padding-left: 18px;
   margin-bottom: 10px;
}

.floor-logo
{
    color: white;
    width: 45px;
    height: 60px;
}
.lightsdiv-position
{
    position: absolute;
    /* margin-top:-195px; */
}

.block-selected
{
    
    background-color: #00937D;
}

.light-selected
{
    background-color: #00937D!important;
    border-color: #00937D;
}

*:focus
{
    text-decoration: none;
    outline: none;  
}

.onoff
{
    background-color: grey;
    border-color: grey;
}


.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  transition: all .5s ease-in-out;
  border-color: white;
}

.up {
    transform: rotate(-135deg);
}

.section-selected
{
    transition: all scale(1);
    background-color: grey;
}
.arraystorm-layout
{
    position: relative;
    width: 1680px;
    height: 1050px;
    /*max-width: 1120px;*/
    /*max-height: 1100px;*/
    top: 0px;
    left: 0px;
    background: url(../img/layout.png) no-repeat;
    background-size: contain;
    /*-webkit-transform: rotate(90deg);*/
}

.lightcontrol-pointer
{
    padding: 0px 5px;
    cursor:pointer
}

.box-shadow
{
    box-shadow: 0px 0px 10px #FFF;
}

.rs-bg-color {
    background: url(../img/pattern.png) repeat center #212122!important;
}

.slider-position
{
    position: relative;
    top: 8px;
    left: 32px;
}

.parent-switch
{
    position: relative;
    top: -108px;
    left: 98px;
    z-index: 4;
    margin-bottom: -30px;
}

.ring
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #FFF;
    background: transparent;
}

.switch
{
    margin:9px 0px;
}

/*md-slider .md-track-container
{
   
    width: 100%;
    height: 50px;
    background: #00937D;
    clip-path: polygon(50% 0, 0 100%, 50% 100%);
}
*/
/*.md-track-container1
{
    
    width: 100%;
    height: 50px;
    background: #00937D;
    clip-path: polygon(50% 0, 0 100%, 50% 100%);
}*/

.arrow-down
{
    width: 0; 
    height: 0; 
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
     border-bottom: 25px solid red;
}


/*width: 0;
    height: 0;
    border-left: 400px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 40px solid red;*/

    /*clip-path: polygon(100% 0, 0 100%, 100% 100%);*/

.adappt-zone
{
    position: relative;
    top: 466px;
    left: 327px;
    height: 319px;
    width: 305px;
    background: rgba(0, 147, 125, 0.42);
    transition: all 0.5s ease-in-out;
}

.conference-room
{
    position: relative;
    top: 71px;
    left: 74px;
    height: 248px;
    width: 178px;
    background: rgba(0, 147, 125, 0.42);
    transition: all 0.5s ease-in-out;
}

.sales-zone
{
    position: relative;
    top: 40px;
    left: 257px;
    height: 424px;
    width: 218px;
    background: rgba(0, 147, 125, 0.42);
    transition: all 0.5s ease-in-out;
}

.ceo-cabin
{
    position: relative;
    top: 37px;
    left: 477px;
    height: 155px;
    width: 154px;
    background: rgba(0, 147, 125, 0.42);
    transition: all 0.5s ease-in-out;
}

.vp-cabin
{
    position: relative;
    top: 193px;
    left: 477px;
    height: 145px;
    width: 154px;
    background: rgba(0, 147, 125, 0.42);
    transition: all 0.5s ease-in-out;
}

.dark-room
{
    position: relative;
    top: 335px;
    left: 477px;
    height: 128px;
    width: 154px;
    background: rgba(0, 147, 125, 0.42);
    transition: all 0.5s ease-in-out;
}
.retail-zone
{
    position: relative;
    top: 645px;
    left: 39px;
    height: 170px;
    width: 283px;
    background: rgba(0, 147, 125, 0.42);
    transition: all 0.5s ease-in-out;
}

.commercial-zone
{
    position: relative;
    top: 468px;
    left: 39px;
    height: 181px;
    width: 283px;
    background: rgba(0, 147, 125, 0.42);
    transition: all 0.5s ease-in-out;
}

.hospitality-zone
{
    position: relative;
    top: 324px;
    left: 38px;
    height: 142px;
    width: 214px;
    background: rgba(0, 147, 125, 0.42);
    transition: all 0.5s ease-in-out;
}

.darkRoom
{
    position: relative;
    top: 336px;
    left: 477px;
    height: 130px;
    width: 154px;
    background: rgba(0, 147, 125, 0.42);
    transition: all 0.5s ease-in-out;
}

md-toast {
  left: calc(50vw - 150px);
}

md-toast.md-error-toast-theme .md-toast-content {
    background-color: red;
    color: black;
}

@keyframes custom {
    from {background: #00937D;}
    to {background: rgba(255, 255, 255, 0.1);}
}

.custom-selection{
    animation: custom 1s 1;
}

.fab
{
    /*border-radius: 25px;*/
    background-color: white;
}
.workingLight{
    background: #FFF;
    box-shadow: 0px 0px 10px #FFF;
    border: 2px solid #FFF;
}
.zeroIntensity{
    background: rgba(255,255,255,0.2); 
    box-shadow: 0px 0px 10px #FFF;
    border: 2px solid #FFF;
    opacity: 1 !important;
}
.notWorkingLight{
    border: 2px solid rgb(255, 0, 0);
    box-shadow: 0px 0px 10px #888;
    background: rgba(255, 255, 255, 0.2);
    opacity: 1 !important;
}
.sensorCircle {
    background-color: #33937d;
    width: 20px;
    height: 20px;
    border-radius:50%;
}
.pane {
    text-align: center;
    position: absolute;
    border: 2px solid #76FF03;
    background: rgba(118, 255, 3 , 0.3);
    transition: all 1s ease-in-out;
}

.inline-block {
    display: inline-block;
}
.legend-item {
    display: inline-block;
    margin-right: 20px;
}

.cool-color {
    background: #0183A5;
}

.legend-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
}
.warm-color {
    background: #76FF03;
}
.hot-color {
    background: #C91832;
}

.legend-text {
    margin-left: 10px;
    position: relative;
    top: -2px;
    color: #FFF;
}
.block-legend, .block {
    width: 12px;
    border-radius: 100%;
    height: 12px;
    border: 1px solid #CB0A25;
    background: #CB0A25;
    display: inline-block;
    box-shadow: 0px 0px 6px 1px #CB0A25;
    transition: all 0.5s ease-in-out;
}
.legend-not-occupied, .notOccupied {
    border: 1px solid #76FF03;
    background: #76FF03;
    box-shadow: 0px 0px 6px 1px #76FF03;
}
.occupied.pane
{
    border: 2px solid #C91832;
    background: rgba(201, 24, 50, 0.3);
}