.logo_container {
    height: inherit;
    min-width: 230px;
    background-color: #00937d;
}

.adappt-logo-white-mainboard {
    height: inherit;
    min-height: inherit;
    background: url('../img/adappt-white.png') no-repeat center center #198A72;
    background-size: 70%;
    cursor: pointer;
}

.icon-font {
    font-size: 22px!important;
}

.md-icon-btn {
    border-radius: 50%;
    min-width: 30px;
}

md-menu-bar {
    padding: 0;
}