<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" , content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adappt | Occupancy</title>
    <base href="/">
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <link rel="stylesheet" href="css/jquery.ui.rotatable.css">
    <link rel="stylesheet" href="css/angular-material.min.css">
    <link rel="stylesheet" href="css/v-accordion.css">
    <link rel="stylesheet" href="css/md-data-table.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/material-dashboard.css">
    <link rel="stylesheet" href="css/rzslider.min.css">
    <link rel="stylesheet" href="css/ui-grid.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/mdtooltip.css">
    <link rel="stylesheet" href="css/style_login.css">
    <link rel="stylesheet" href="css/style_lightcontrol.css" />
    <link rel="stylesheet" href="css/settings1.css">
    <link rel="stylesheet" href="css/comparision_page.css">
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="css/toolbar.css">
    <link rel="stylesheet" href="css/sidenav.css">
    <link rel="stylesheet" href="css/print.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/analytics.css">
    <link rel="stylesheet" href="css/dialogtemp.css">
    <link rel="stylesheet" href="css/md-date-range-picker.css">
    <link rel="stylesheet" href="css/error.css">
    <link rel="stylesheet" href="css/settings.css">
    <link rel="stylesheet" href="css/layout-analytics.css" />
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/advancelayout.css">
    <link rel="stylesheet" href="css/peopleCount.css">
    <link rel="stylesheet" href="css/assignPeople.css">
    <!--link rel="stylesheet" href="css/mobiscroll.angularjs.min.css"-->
    <link rel="stylesheet" href="css/seatLayout.css">
    <!-- <link rel="stylesheet" href="css/lightAnalytics.css"> -->
    <link rel="stylesheet" href="css/commissionsettings.css">
    <link rel="stylesheet" href="css/seat_analytics.css">
    <link rel="stylesheet" href="css/lockerRoom.css">
</head>

<body ng-app="adappt_occ_app">
    <div class="wrapper">
        <div class="adappt-watermark"></div>
        <div class="overlay-pattern"></div>
        <ui-view></ui-view>
    </div>
</body>
<script src="js/libs/jquery.min.js"></script>
<script src="js/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/libs/jquery-ui.min.js"></script>

<script src="js/libs/angular-animate.min.js"></script>
<script src="js/libs/jquery.ui.rotatable.min.js"></script>
<script src="js/libs/angular-resource.min.js"></script>
<script src="js/libs/angular-cookies.min.js"></script>
<script src="js/libs/angular-aria.min.js"></script>
<script src="js/libs/angular-messages.min.js"></script>
<script src="js/libs/angular-material.min.js"></script>
<script src="js/libs/angular-ui-router.min.js"></script>
<script src="js/libs/angular.easypiechart.min.js"></script>
<script src="js/libs/particles.min.js"></script>
<script src="js/libs/stats.min.js"></script>
<script src="js/libs/rzslider.min.js"></script>

<script src="js/libs/moment.min.js"></script>
<script src="js/libs/moment-timezone-with-data.min.js"></script>
<script src="js/libs/pdfmake.js"></script>
<script src="js/libs/vfs_fonts.js"></script>
<script src="js/libs/lodash.min.js"></script>
<script src="js/libs/jszip.min.js"></script>
<script src="js/libs/excel-builder.dist.js"></script>

<script src="js/libs/ui-grid.min.js"></script>

<script src="js/libs/highstock.js"></script>
<script src="js/libs/highcharts-more.js"></script>
<script src="js/libs/exporting.js"></script>

<script src="js/libs/md-date-range-picker.js"></script>

<script src="js/libs/mobiscroll.angularjs.min.js"></script>
<script src="js/libs/ng-file-upload-shim.min.js"></script>
<script src="js/libs/ng-file-upload.min.js"></script>


<script src="js/libs/angular-google-maps.js"></script>
<script src="js/libs/heatmap.js"></script>

<script src="js/libs/alasql.min.js"></script>
<!-- <script src="js/libs/xlsx.core.min.js"></script> -->
<!-- <script src="js/libs/md-data-table.min.js"></script> -->


<script src="js/libs/v-accordion.js"></script>
<script src="js/libs/checkbox-directive.js"></script>

<script src="js/libs/ngSelectable.js"></script>

<!-- end here  -->
<script src="js/app_router.js"></script>
<script src="js/adappt-material-theme.js"></script>

<script src="js/app/factories/factories.js"></script>
<script src="js/app/factories/googleMapFactory.js"></script>
<script src="js/app/factories/selectedEmployeeFactory.js"></script>

<script src="js/app/directives/chart_directives.js"></script>
<script src="js/app/directives/heatMapDirective.js"></script>
<script src="js/app/directives/draggable_directive.js"></script>
<script src="js/app/directives/resizableDirective.js"></script>
<script src="js/app/directives/rotateDirective.js"></script>
<script src="js/app/directives/fileModel.js"></script>

<script src="js/app/controllers/loginCtrl.js"></script>
<script src="js/app/controllers/wireframe.js"></script>
<script src="js/app/controllers/dashboardCtrl.js"></script>
<script src="js/app/controllers/lightDashboard.js"></script>
<script src="js/app/controllers/seatDashboardCtrl.js"></script>
<script src="js/app/controllers/lightController1.js"></script>
<script src="js/app/controllers/settings1.js"></script>
<script src="js/app/controllers/comaprisionCtrl.js"></script>
<script src="js/app/controllers/layoutCtrl.js"></script>
<script src="js/app/controllers/analyticsCtrl.js"></script>
<script src="js/app/controllers/changePasswordCtrl.js"></script>
<script src="js/app/controllers/settingsCtrl.js"></script>
<script src="js/app/controllers/empSettingsCtrl.js"></script>
<script src="js/app/controllers/profileCtrl.js"></script>
<script src="js/app/controllers/advancelayoutCtrl.js"></script>
<script src="js/app/controllers/peopleCountCtrl.js"></script>
<script src="js/app/controllers/assignpplCtrl.js"></script>
<script src="js/app/controllers/sensormgt.js"></script>
<script src="js/app/controllers/meetingRoomMgt.js"></script>
<script src="js/app/controllers/empDetailsCtrl.js"></script>

<script src="js/app/controllers/densityLayoutCtrl.js"></script>
<script src="js/app/controllers/lightAnalytics.js"></script>
<script src="js/app/controllers/layout-analytics.js"></script>

<script src="js/app/services/multipartForm.js"></script>

<script src="js/app/controllers/CommissionCtrl.js"></script>
<script src="js/app/controllers/CommissionAddCtrl.js"></script>
<script src="js/app/controllers/CommissionFloorCtrl.js"></script>
<script src="js/app/controllers/CommissionHostCtrl.js"></script>
<script src="js/app/controllers/mappingCtrl.js"></script>
<script src="js/app/controllers/CommissionSettingCtrl.js"></script>
<script src="js/app/controllers/BuildingSettingCtrl.js"></script>
<script src="js/app/controllers/SeatTypeSettingCtrl.js"></script>
<script src="js/app/controllers/SeatMappingCtrl.js"></script>
<script src="js/app/controllers/BuMappingCtrl.js"></script>
<script src="js/app/controllers/HostMappingCtrl.js"></script>
<script src="js/app/controllers/LightTypeSettingCtrl.js"></script>
<script src="js/app/controllers/LightMappingCtrl.js"></script>
<script src="js/app/controllers/lightBleMappingCtrl.js"></script>
<script src="js/app/controllers/LightSensorMappingCtrl.js"></script>
<script src="js/app/controllers/LightTouchPanelMappingCtrl.js"></script>
<script src="js/app/controllers/seatAllocation_analyticsCtrl.js"></script>
<script src="js/app/controllers/parkingAllotmentCtrl.js"></script>
<script src="js/app/controllers/lockerRoomCtrl.js"></script>
<script src="js/app/controllers/LightHostMappingCtrl.js"></script>
<script src="js/app/controllers/lightConfDwnldCtrl.js"></script>
<script src="js/app/controllers/commissiondaylightCtrl.js"></script>
<script src="js/app/controllers/lightDeviceCreationCtrl.js"></script>
<script src="js/app/controllers/lightAddressMappingCtrl.js"></script>

<script src="js/app/services/multipartForm.js"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script> -->
<!-- google map api -->
<!--script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyMUCvYAfuHQrpJbgKvPn0QOiTjJI1gMs">
</script-->

</html>